Repository agentic-research/mache: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofumpt, go-vet, golangci-lint, go-mod-tidy

gofumpt:
  name: gofumpt
  entry: gofumpt -w -extra
  language: system
  pass_filenames: true

go-vet:
  name: go vet
  ...

golangci-lint:
  name: golangci-lint
  ...

go-mod-tidy:
  name: go mod tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

[mache-303036] feat(lsp): surface ley-line enrich skip reasons + bump leyline v0.5.1 → v0.5.3
  cmd/serve_lsp.go
  cmd/serve_lsp_skip_reasons_test.go
  go.mod
  go.sum
  internal/leyline/socket.go
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

[mache-303036] feat(lsp): surface ley-line enrich skip reasons + bump leyline v0.5.1 → v0.5.3 (#453)
  cmd/serve_lsp.go
  cmd/serve_lsp_skip_reasons_test.go
  go.mod
  go.sum
  internal/leyline/socket.go
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

[mache-303036] chore(leyline): bump auto-download pin v0.5.3 → v0.5.4 (indexer-readiness daemon fix)
  internal/leyline/socket.go
Due: gofumpt, go-vet, golangci-lint

[mache-303036] chore(leyline): bump auto-download pin v0.5.3 → v0.5.4 (indexer-readiness daemon fix) (#454)
  internal/leyline/socket.go
Due: gofumpt, go-vet, golangci-lint

[mache-303036] fix(lsp): parse daemon object-row query results + bump leyline v0.5.5
  go.mod
  go.sum
  internal/leyline/socket.go
  internal/leyline/socket_test.go
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

[mache-303036] fix(lsp): raise enrich timeout past the daemon's per-language budget (Go/gopls)
  cmd/serve_lsp.go
Due: gofumpt, go-vet, golangci-lint

fix(lsp): parse daemon object-row query results + bump leyline v0.5.5 — get_type_info returns real hover end-to-end (#455)
  cmd/serve_lsp.go
  go.mod
  go.sum
  internal/leyline/socket.go
  internal/leyline/socket_test.go
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

[mache-6584a0] chore(leyline): pin v0.5.7 (Go LSP works) + README live-enrichment note + Serena prior-art
  README.md
  internal/leyline/socket.go
  prior-art/README.md
Due: gofumpt, go-vet, golangci-lint

[mache-6584a0] chore(leyline): pin v0.5.7 (Go LSP works) + README live-enrichment note + Serena prior-art (#456)
  README.md
  internal/leyline/socket.go
  prior-art/README.md
Due: gofumpt, go-vet, golangci-lint

[mache-1c332f] docs(adr): ADR-0018 Appendix C — assay convergence decision
  docs/adr/0018-doc-drift-as-executable-specs.md
Due: none

[mache-609f70] feat(mcp)!: HTTP canonical transport, init registers HTTP + keepalive daemon, demote stdio
  README.md
  cmd/config.go
  cmd/config_test.go
  cmd/daemon_agent.go
  cmd/daemon_agent_test.go
  cmd/init.go
  cmd/init_test.go
  cmd/serve.go
  docs/ARCHITECTURE.md
  docs/adr/0022-mcp-transport-canonical.md
  internal/buildinfo/version.txt
  melange.yaml
  server.json
Due: gofumpt, go-vet, golangci-lint

[mache-605d08] fix(mcp): escape supervisor-file interpolations (codex P2)
  cmd/daemon_agent.go
  cmd/daemon_agent_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-1c332f] docs(adr): ADR-0018 Appendix C — assay convergence decision (#463)
  docs/adr/0018-doc-drift-as-executable-specs.md
Due: none

feat(mcp)!: HTTP canonical transport — init registers HTTP + keepalive daemon, demote stdio (v0.10.0) (#464)
  README.md
  cmd/config.go
  cmd/config_test.go
  cmd/daemon_agent.go
  cmd/daemon_agent_test.go
  cmd/init.go
  cmd/init_test.go
  cmd/serve.go
  docs/ARCHITECTURE.md
  docs/adr/0022-mcp-transport-canonical.md
  internal/buildinfo/version.txt
  melange.yaml
  server.json
Due: gofumpt, go-vet, golangci-lint

fix(ci): remove literal ${{ }} from release.yml run-block comment
  .github/workflows/release.yml
Due: none

fix(ci): remove literal ${{ }} from release.yml run-block comment (#465)
  .github/workflows/release.yml
Due: none

ci(deps): SHA-pin actions/checkout@v7 in lfs-guard.yml
  .github/workflows/lfs-guard.yml
Due: none

[mache-89e322] docs: add frontmatter to smell-debt-baseline — fix docs:lint on main
  docs/smell-debt-baseline-2026-06-24.md
Due: none

[mache-823d91] docs: point HTTP-daemon gotcha at `mache init --global` supervisor
  GETTING-STARTED.md
Due: none

[mache-b8fe72] fix(graph): persist + read node.Context so `cat context` works on a mounted .db
  internal/graph/context_roundtrip_test.go
  internal/graph/nodes_table_reader.go
  internal/ingest/sqlite_writer.go
  internal/ingest/sqlite_writer_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-b8fe72] fix(graph): persist + read node.Context so `cat context` works on a mounted .db (#467)
  internal/graph/context_roundtrip_test.go
  internal/graph/nodes_table_reader.go
  internal/ingest/sqlite_writer.go
  internal/ingest/sqlite_writer_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-823d91] docs: "keeps it alive" not "keepalives" (Copilot review nit)
  GETTING-STARTED.md
Due: none

docs(dx): daemon-lifecycle drift + fix docs:lint on main (mache-823d91, mache-89e322) (#466)
  GETTING-STARTED.md
  docs/smell-debt-baseline-2026-06-24.md
Due: none

[mache-0a1ded] fix(leyline): configurable daemon-start timeout + crash-vs-timeout diagnostics
  internal/leyline/socket.go
  internal/leyline/socket_test.go
  internal/leyline/start_timeout_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-b8af69] test(leyline): gate leyline-schema/binary version parity (major.minor)
  internal/leyline/version_parity_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-b8900d] ci: gate GitHub Actions `uses:` refs to SHA pins
  .github/workflows/ci.yml
  Taskfile.yml
  cmd/actions_pin_lint_test.go
  scripts/actions-pin-lint.sh
Due: gofumpt, go-vet, golangci-lint

[mache-b8900d] ci: address Copilot review — docker digest enforcement, portable grep, case-insensitive SHA
  cmd/actions_pin_lint_test.go
  scripts/actions-pin-lint.sh
Due: gofumpt, go-vet, golangci-lint

[mache-0a1ded] fix(leyline): clean error when daemon exits status 0 before binding (Copilot #468)
  internal/leyline/socket.go
  internal/leyline/socket_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-b8af69] test(leyline): gate leyline-schema/binary version parity (major.minor) (#469)
  internal/leyline/version_parity_test.go
Due: gofumpt, go-vet, golangci-lint

ci: SHA-pin gate for GitHub Actions uses: refs (mache-b8900d) (#470)
  .github/workflows/ci.yml
  Taskfile.yml
  cmd/actions_pin_lint_test.go
  scripts/actions-pin-lint.sh
Due: gofumpt, go-vet, golangci-lint

fix(leyline): configurable daemon-start timeout + crash-vs-timeout diagnostics (mache-0a1ded) (#468)
  internal/leyline/socket.go
  internal/leyline/socket_test.go
  internal/leyline/start_timeout_test.go
Due: gofumpt, go-vet, golangci-lint

docs(design): ART analysis substrate & rule consolidation — scoping spec
  docs/superpowers/specs/2026-07-02-analysis-substrate-consolidation-design.md
Due: none

docs(design): ART analysis substrate & rule consolidation — scoping spec (#471)
  docs/superpowers/specs/2026-07-02-analysis-substrate-consolidation-design.md
Due: none

[mache-336016] test(ingest): assert watcher WatchList excludes ignored trees (not just callback count)
  internal/ingest/watcher_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-8kif] feat(leyline): startup leyline_version wire-compat handshake (external-review M3)
  cmd/serve.go
  internal/leyline/socket.go
  internal/leyline/version_check.go
  internal/leyline/version_check_test.go
Due: gofumpt, go-vet, golangci-lint

docs(design): analysis-substrate done-state (local-first GHA) + W6 + successor decade
  docs/superpowers/specs/2026-07-02-analysis-substrate-consolidation-design.md
Due: none

docs(design): analysis-substrate done-state (local-first GHA) + W6 + successor decade (#475)
  docs/superpowers/specs/2026-07-02-analysis-substrate-consolidation-design.md
Due: none

[mache-336016] test(ingest): assert watcher WatchList excludes ignored trees (not just callback count) (#473)
  internal/ingest/watcher_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-8kif] feat(leyline): startup leyline_version wire-compat handshake (external-review M3) (#474)
  cmd/serve.go
  internal/leyline/socket.go
  internal/leyline/version_check.go
  internal/leyline/version_check_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-491b9f] feat(smells): count-based ratchet (new-findings-vs-baseline) — W5 gate core
  cmd/smell_ratchet.go
  cmd/smell_ratchet_test.go
Due: gofumpt, go-vet, golangci-lint

Path conditions:
  gofumpt: any of: \.go$
  go-vet: any of: \.go$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: (go\.mod|go\.sum)$
