Repository agentic-research/mache: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofumpt, go-vet, golangci-lint, go-mod-tidy

.pre-commit-config.yaml:

repos:
  # Basic file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending

  # Go-specific checks (all use locally installed tools)
  - repo: local
    hooks:
      - id: gofumpt
        name: gofumpt
        entry: gofumpt -w -extra
        language: system
        files: \.go$
        pass_filenames: true

      - id: go-vet
        name: go vet
        entry: go vet ./...
        language: system
        files: \.go$
        pass_filenames: false

      - id: golangci-lint
        name: golangci-lint
        entry: golangci-lint run --fix
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        files: (go\.mod|go\.sum)$
        pass_filenames: false

fix: set proper timestamps in Getattr to avoid 1969 epoch dates
  internal/fs/root.go
Due: gofumpt, go-vet, golangci-lint

docs: add ADRs for fuse-t bridge and declarative topology schema
  docs/adr/0001-user-space-fuse-bridge.md
  docs/adr/0002-declarative-topology-schema.md
Due: none

docs: add ADR-0003 for self-organizing learned filesystem
  docs/adr/0003-self-organizing-learned-filesystem.md
Due: none

fix: correct FUSE error code handling in cgofuse
  internal/fs/root.go
  internal/fs/root_test.go
Due: gofumpt, go-vet, golangci-lint

test: fix error code polarity check for cgofuse
  internal/fs/root_test.go
Due: gofumpt, go-vet, golangci-lint

build: add automatic CGO configuration for fuse-t on macOS
  README.md
  Taskfile.yml
Due: none

docs: add ADR-0004 for MVCC memory ledger with RCU epoch model
  docs/adr/0004-mvcc-memory-ledger.md
Due: none

feat: add Graph interface to decouple FUSE layer from data storage
  cmd/mount.go
  internal/fs/root.go
  internal/fs/root_test.go
  internal/graph/graph.go
Due: gofumpt, go-vet, golangci-lint

refactor: replace root heuristic with explicit AddRoot method
  cmd/mount.go
  go.mod
  internal/fs/root_test.go
  internal/graph/graph.go
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

feat: make Node explicitly declare file vs directory via Mode field
  cmd/mount.go
  internal/fs/root.go
  internal/fs/root_test.go
  internal/graph/graph.go
  internal/graph/graph_test.go
Due: gofumpt, go-vet, golangci-lint

feat: add in treesitter support
  cmd/mount.go
  go.mod
  go.sum
  internal/ingest/engine.go
  internal/ingest/engine_test.go
  internal/ingest/interfaces.go
  internal/ingest/json_walker.go
  internal/ingest/json_walker_test.go
  internal/ingest/sitter_walker.go
  internal/ingest/sitter_walker_test.go
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

fix: preserve existing children on node merge and fix indentation
  internal/ingest/engine.go
Due: gofumpt, go-vet, golangci-lint

docs: rewrite README to reflect actual implementation state
  README.md
Due: none

feat: SQLite ingestion pipeline, example schemas, and FUSE error fix
  Taskfile.yml
  examples/go-schema.json
  examples/kev-schema.json
  examples/nvd-schema.json
  go.mod
  go.sum
  internal/fs/root.go
  internal/fs/root_test.go
  internal/ingest/engine.go
  internal/ingest/engine_integration_test.go
  internal/ingest/engine_test.go
  internal/ingest/interfaces.go
  internal/ingest/json_walker.go
  internal/ingest/json_walker_test.go
  internal/ingest/sitter_walker.go
  internal/ingest/sitter_walker_test.go
  internal/ingest/sqlite_loader.go
  internal/ingest/sqlite_loader_test.go
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

feat: Phase 1 lazy loading — decouple graph metadata from content
  cmd/mount.go
  internal/fs/root.go
  internal/graph/graph.go
  internal/ingest/engine.go
  internal/ingest/sqlite_loader.go
  internal/ingest/sqlite_resolver.go
Due: gofumpt, go-vet, golangci-lint

feat: parallel ingestion, temporal sharding, and readdir fix
  examples/nvd-schema.json
  internal/fs/root.go
  internal/fs/root_test.go
  internal/ingest/engine.go
  internal/ingest/engine_integration_test.go
  internal/ingest/sqlite_loader.go
Due: gofumpt, go-vet, golangci-lint

feat: direct SQLite graph backend — zero-copy, instant mount
  cmd/mount.go
  internal/fs/root.go
  internal/fs/root_test.go
  internal/graph/sqlite_graph.go
  internal/graph/sqlite_graph_test.go
  internal/ingest/benchmark_test.go
  internal/ingest/engine.go
  internal/ingest/sqlite_resolver.go
Due: gofumpt, go-vet, golangci-lint

perf: parallel scan with json_extract — 12s → 4s for 323K records
  internal/graph/sqlite_graph.go
Due: gofumpt, go-vet, golangci-lint

fix: readdir fill() convention was inverted — ls returned empty dirs
  cmd/mount.go
  internal/fs/root.go
  internal/fs/root_test.go
  internal/graph/sqlite_graph.go
Due: gofumpt, go-vet, golangci-lint

feat: handle-based readdir with offset pagination
  internal/fs/root.go
  internal/fs/root_test.go
Due: gofumpt, go-vet, golangci-lint

feat: auto-mode readdir and extended FUSE timeouts for fuse-t
  cmd/mount.go
  internal/fs/root.go
  internal/fs/root_test.go
Due: gofumpt, go-vet, golangci-lint

feat: month-level partitioning for NVD — 38K dirs → 12×~3K cacheable dirs
  examples/nvd-schema.json
  internal/graph/sqlite_graph_test.go
  internal/ingest/engine_integration_test.go
Due: gofumpt, go-vet, golangci-lint

docs: update README with SQLiteGraph, month sharding, and two-path architecture
  README.md
Due: none

prepare for open-source release
  .github/workflows/ci.yml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  cmd/mount.go
  internal/graph/sqlite_graph_test.go
  internal/ingest/sqlite_loader_test.go
Due: gofumpt, go-vet, golangci-lint

docs: update status from Phase 0 to early development
  README.md
Due: none

docs: add emoji, table of contents, and bundled schemas to README
  README.md
Due: none

feat: rich Go schema + self-hosting validation
  Taskfile.yml
  examples/go-schema.json
  internal/ingest/engine_test.go
  internal/ingest/sitter_walker.go
  internal/ingest/sitter_walker_test.go
Due: gofumpt, go-vet, golangci-lint

fix: move type @scope to type_spec for correct grouped type source
  examples/go-schema.json
  internal/ingest/engine_test.go
  internal/ingest/sitter_walker_test.go
Due: gofumpt, go-vet, golangci-lint

docs: add Go parsing status with normalization contract
  docs/go-parsing-status.md
Due: none

feat: write-commit-reparse pipeline + imports capture + init dedup
  .gitignore
  README.md
  cmd/mount.go
  examples/go-schema.json
  internal/fs/root.go
  internal/graph/graph.go
  internal/ingest/engine.go
  internal/ingest/engine_test.go
  internal/ingest/interfaces.go
  internal/ingest/sitter_walker.go
  internal/ingest/sitter_walker_test.go
  internal/writeback/splice.go
Due: gofumpt, go-vet, golangci-lint

feat: write-commit-reparse pipeline + imports + dedup (#5)
  .gitignore
  README.md
  Taskfile.yml
  cmd/mount.go
  docs/go-parsing-status.md
  examples/go-schema.json
  internal/fs/root.go
  internal/graph/graph.go
  internal/ingest/engine.go
  internal/ingest/engine_test.go
  internal/ingest/interfaces.go
  internal/ingest/sitter_walker.go
  internal/ingest/sitter_walker_test.go
  internal/writeback/splice.go
Due: gofumpt, go-vet, golangci-lint

docs(readme): expand roadmap with concrete pointers and file reference
  README.md
Due: none

fix: replace worker-pool scan with streaming single-threaded scan
  internal/graph/sqlite_graph.go
  internal/graph/sqlite_graph_test.go
Due: gofumpt, go-vet, golangci-lint

wip: roaring refs implementation (broken state - pending arch fixes)
  CLAUDE.md
  go.mod
  go.sum
  internal/graph/graph.go
  internal/graph/sqlite_graph.go
  internal/ingest/engine.go
  internal/ingest/engine_test.go
  internal/ingest/sitter_walker.go
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

fix: resolve roaring refs blockers — sidecar DB, batched writes, interface alignment
  internal/graph/graph.go
  internal/graph/sqlite_graph.go
  internal/ingest/engine.go
  internal/ingest/sitter_walker.go
Due: gofumpt, go-vet, golangci-lint

feat: cross-reference indexing with roaring bitmaps (#6)
  CLAUDE.md
  go.mod
  go.sum
  internal/graph/graph.go
  internal/graph/sqlite_graph.go
  internal/ingest/engine.go
  internal/ingest/engine_test.go
  internal/ingest/sitter_walker.go
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

fix: schema-aware file type filtering in directory walk
  internal/ingest/engine.go
Due: gofumpt, go-vet, golangci-lint

fix: harden streaming scan with read-only tx, batch flush, and error logging
  internal/graph/sqlite_graph.go
Due: gofumpt, go-vet, golangci-lint

test: verify directory walk skips hidden dirs like .mache-mount
  internal/ingest/engine_test.go
Due: gofumpt, go-vet, golangci-lint

feat: expose schema as virtual _schema.json at FUSE mount root
  internal/fs/root.go
  internal/fs/root_test.go
Due: gofumpt, go-vet, golangci-lint
