Repository agentic-research/mache: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofumpt, go-vet, golangci-lint, go-mod-tidy

gofumpt:
  name: gofumpt
  entry: gofumpt -w -extra
  language: system
  pass_filenames: true

go-vet:
  name: go vet
  ...

golangci-lint:
  name: golangci-lint
  ...

go-mod-tidy:
  name: go mod tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

fix(install): kickstart is a START verb — gate the restart on actually running
  cmd/daemon_agent.go
  cmd/daemon_restart_test.go
Due: gofumpt, go-vet, golangci-lint

fix: address the pr-review-kit findings on #588/#589 (#591)
  Taskfile.yml
  cmd/daemon_agent.go
  cmd/daemon_restart_test.go
  internal/leyline/daemon_lifecycle_test.go
  internal/leyline/sheaf_cascade_bench_test.go
  internal/leyline/sheaf_orphan_test.go
  tests/installverify/daemon_version_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-7555da] feat(test): internal/fixturedb — remove a test's ability to state a schema
  cmd/fixturedb_test.go
  cmd/untested_function_leyline_test.go
  docs/smell-baseline.json
  internal/fixturedb/build.go
  internal/fixturedb/builder.go
  internal/fixturedb/builder_test.go
  internal/fixturedb/emit.go
  internal/fixturedb/options.go
  internal/fixturedb/options_test.go
  internal/fixturedb/producer.go
  internal/fixturedb/schema_leyline.go
  internal/fixturedb/schema_leyline_conformance_test.go
  internal/fixturedb/schema_standalone.go
  internal/fixturedb/schema_standalone_conformance_test.go
  internal/fixturedb/spec.go
  internal/fixturedb/types.go
  internal/leyline/binary_cache_path.go
  internal/leyline/binary_cache_path_test.go
  internal/lltest/pinned_unix.go
Due: gofumpt, go-vet, golangci-lint

[mache-7555da] test(lint): widen the LLO boundary rule to test fixtures; migrate the view-arm fixtures
  cmd/serve_find_smells_fanout_test.go
  cmd/serve_find_smells_nodehash_test.go
  cmd/smell_doc_refs_test.go
  cmd/smell_test_nodes_test.go
  docs/smell-baseline.json
  internal/lint/llo_boundary_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-7555da] test(cmd): migrate the SQL-parameterized cross-language fixture
  cmd/leyline_crosslang_smells_test.go
  internal/lint/llo_boundary_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-7555da] test(cmd): migrate the Rust/LLO-Go duplicate-definition fixtures
  cmd/duplicate_definitions_rust_test.go
  internal/lint/llo_boundary_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-7555da] internal/fixturedb: remove a test's ability to state a schema (#592)
  cmd/duplicate_definitions_rust_test.go
  cmd/fixturedb_test.go
  cmd/leyline_crosslang_smells_test.go
  cmd/serve_find_smells_fanout_test.go
  cmd/serve_find_smells_nodehash_test.go
  cmd/smell_doc_refs_test.go
  cmd/smell_test_nodes_test.go
  cmd/untested_function_leyline_test.go
  docs/smell-baseline.json
  internal/fixturedb/build.go
  internal/fixturedb/builder.go
  internal/fixturedb/builder_test.go
  internal/fixturedb/emit.go
  internal/fixturedb/options.go
  internal/fixturedb/options_test.go
  internal/fixturedb/producer.go
  internal/fixturedb/schema_leyline.go
  internal/fixturedb/schema_leyline_conformance_test.go
  internal/fixturedb/schema_standalone.go
  internal/fixturedb/schema_standalone_conformance_test.go
  internal/fixturedb/spec.go
  internal/fixturedb/types.go
  internal/leyline/binary_cache_path.go
  internal/leyline/binary_cache_path_test.go
  internal/lint/llo_boundary_test.go
  internal/lltest/pinned_unix.go
Due: gofumpt, go-vet, golangci-lint

chore(release): v0.21.0
  CHANGELOG.md
  README.md
  docs/ARCHITECTURE.md
  docs/README.md
  docs/ROADMAP.md
  internal/buildinfo/version.txt
  melange.yaml
  server.json
Due: none

chore(release): v0.21.0 (#593)
  CHANGELOG.md
  README.md
  docs/ARCHITECTURE.md
  docs/README.md
  docs/ROADMAP.md
  internal/buildinfo/version.txt
  melange.yaml
  server.json
Due: none

[mache-76c919] docs: design rootless MCP and CDC opt-in
  docs/superpowers/specs/2026-07-31-rootless-mcp-cdc-design.md
Due: none

[mache-76c919] docs: add dataflow ablation design
  docs/superpowers/specs/2026-07-31-rootless-mcp-cdc-design.md
Due: none

[mache-76c919] docs: plan rootless CDC flow work
  docs/superpowers/plans/2026-07-31-rootless-mcp-cdc-dataflow.md
  docs/superpowers/specs/2026-07-31-rootless-mcp-cdc-design.md
Due: none

[mache-76c919] docs: clarify CDC ablation evidence
  docs/superpowers/plans/2026-07-31-rootless-mcp-cdc-dataflow.md
Due: none

[mache-76c919] fix(mcp): support rootless stdio source
  GETTING-STARTED.md
  cmd/docs_cli_surface_test.go
  cmd/serve_registry.go
  cmd/serve_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-76c919] feat(leyline): add opt-in managed CDC
  GETTING-STARTED.md
  cmd/serve.go
  internal/leyline/daemon_source.go
  internal/leyline/socket.go
  internal/leyline/socket_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-76c919] feat(mcp): expose bounded reference flow
  README.md
  cmd/all_tools_e2e_test.go
  cmd/serve_dataflow.go
  cmd/serve_handlers.go
  cmd/serve_test.go
  internal/mcpregistry/registry.go
  server.json
Due: gofumpt, go-vet, golangci-lint

[mache-76c919] fix(mcp): tighten dataflow bounds and errors
  cmd/serve_dataflow.go
  cmd/serve_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-76c919] docs: document CDC reference-flow ablation
  GETTING-STARTED.md
  docs/superpowers/specs/2026-07-31-rootless-mcp-cdc-design.md
Due: none

[mache-76c919] docs: isolate CDC ablation daemons
  GETTING-STARTED.md
Due: none

[mache-76c919] fix(mcp): resolve final CDC and flow blockers
  GETTING-STARTED.md
  cmd/serve.go
  cmd/serve_dataflow.go
  cmd/serve_lsp_enrich_test.go
  cmd/serve_test.go
  docs/superpowers/specs/2026-07-31-rootless-mcp-cdc-design.md
Due: gofumpt, go-vet, golangci-lint

[mache-76c919] refactor(ci): clear final smell ratchet
  cmd/serve_dataflow.go
  cmd/serve_test.go
  internal/leyline/socket_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-76c919] fix rootless MCP and add bounded reference flow (#598)
  GETTING-STARTED.md
  README.md
  cmd/all_tools_e2e_test.go
  cmd/docs_cli_surface_test.go
  cmd/serve.go
  cmd/serve_dataflow.go
  cmd/serve_handlers.go
  cmd/serve_lsp_enrich_test.go
  cmd/serve_registry.go
  cmd/serve_test.go
  docs/superpowers/plans/2026-07-31-rootless-mcp-cdc-dataflow.md
  docs/superpowers/specs/2026-07-31-rootless-mcp-cdc-design.md
  internal/leyline/daemon_source.go
  internal/leyline/socket.go
  internal/leyline/socket_test.go
  internal/mcpregistry/registry.go
  server.json
Due: gofumpt, go-vet, golangci-lint

[rosary-9c0e6c] fix(beads): resync tracked beads.jsonl with the live store
  .beads/beads.jsonl
Due: none

[rosary-9c0e6c] fix(beads): resync tracked beads.jsonl with the live store (#600)
  .beads/beads.jsonl
Due: none

[mache-7555da] test(cmd): migrate the Rust/LLO-Go duplicate-definition fixtures
  internal/lint/llo_boundary_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-7555da] test(lint): widen the LLO boundary rule to test fixtures; migrate the view-arm fixtures
  docs/smell-baseline.json
  internal/lint/llo_boundary_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-7555da] feat(test): internal/fixturedb — remove a test's ability to state a schema
  docs/smell-baseline.json
Due: none

[mache-7555da] test(cmd): migrate the SQL-parameterized cross-language fixture
  internal/lint/llo_boundary_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-9077ae] chore(bench): land the first cost-quality bench run
  .beads/beads.jsonl
  benchmarks/cost-quality/README.md
  benchmarks/cost-quality/RESULTS.md
  benchmarks/cost-quality/bench.py
  benchmarks/cost-quality/mcp.json
  benchmarks/cost-quality/prompts.json
  benchmarks/cost-quality/results/run_20260513.jsonl
Due: none

[mache-808b0b] fix(smells): materialize v_test_nodes/v_doc_refs once per invocation, not once per rule
  .beads/beads.jsonl
  cmd/find_smells_cli.go
  cmd/smell_digest.go
  cmd/smell_findings.go
  cmd/smell_findings_context_reuse_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-808b0b] chore(beads): resync tracked beads.jsonl with the live store
  .beads/beads.jsonl
Due: none

[mache-808b0b] fix(smells): materialize v_test_nodes/v_doc_refs once per invocation, not once per rule (#602)
  .beads/beads.jsonl
  cmd/find_smells_cli.go
  cmd/smell_digest.go
  cmd/smell_findings.go
  cmd/smell_findings_context_reuse_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-808b0b] chore(release): v0.21.1
  .beads/beads.jsonl
  CHANGELOG.md
  README.md
  docs/ARCHITECTURE.md
  docs/README.md
  docs/ROADMAP.md
  internal/buildinfo/version.txt
  melange.yaml
  server.json
Due: none

[mache-808b0b] chore(release): v0.21.1 (#603)
  .beads/beads.jsonl
  CHANGELOG.md
  README.md
  docs/ARCHITECTURE.md
  docs/README.md
  docs/ROADMAP.md
  internal/buildinfo/version.txt
  melange.yaml
  server.json
Due: none

[mache-ae82ac] chore(leyline): adopt ley-line-open v0.15.1
  .beads/beads.jsonl
  CHANGELOG.md
  docs/smell-baseline.json
  go.mod
  go.sum
  internal/fixturedb/schema_leyline.go
  internal/leyline/binary_pin.go
  internal/leyline/binary_pin_test.go
  internal/leyline/socket.go
  server.json
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

[mache-6ec106] fix(mcp): resolve shared-daemon sessions via a per-project token instead of MCP roots
  CHANGELOG.md
  cmd/cli_test.go
  cmd/config.go
  cmd/config_test.go
  cmd/init.go
  cmd/init_test.go
  cmd/project_registry.go
  cmd/project_registry_test.go
  cmd/serve.go
  cmd/serve_hosted.go
  cmd/serve_hosted_test.go
  cmd/serve_registry.go
  cmd/serve_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-6ec106] refactor: reduce duplication and function length flagged by the smell ratchet
  cmd/project_registry_test.go
  cmd/serve_hosted.go
  cmd/serve_registry.go
Due: gofumpt, go-vet, golangci-lint

[mache-6ec106] chore(smells): rebaseline after the ?project= routing fix
  docs/smell-baseline.json
Due: none

[mache-6ec106] chore(beads): sync PR link for mache-6ec106/mache-ae82ac
  .beads/beads.jsonl
Due: none

[mache-ee43bf] fix(test): TestPublishedImageBundlesThePinnedLeyline false-fails on any unreleased pin bump
  .beads/beads.jsonl
  tests/installverify/docker_test.go
Due: gofumpt, go-vet, golangci-lint

Path conditions:
  gofumpt: any of: \.go$
  go-vet: any of: \.go$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: (go\.mod|go\.sum)$
