Repository agentic-research/mache: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofumpt, go-vet, golangci-lint, go-mod-tidy

gofumpt:
  name: gofumpt
  entry: gofumpt -w -extra
  language: system
  pass_filenames: true

go-vet:
  name: go vet
  ...

golangci-lint:
  name: golangci-lint
  ...

go-mod-tidy:
  name: go mod tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

[mache-eb9b30] feat(testfixtures): baseline helper + AssertWithinBaseline
  internal/testfixtures/baseline.go
  internal/testfixtures/baseline_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-eb9b30] feat(testfixtures): curation filter + fixtures:snapshot task (ADR-0019 PR 2 part 1)
  Taskfile.yml
  internal/testfixtures/curate.go
  internal/testfixtures/curate_test.go
  tools/fixtures-snapshot/main.go
Due: gofumpt, go-vet, golangci-lint

[mache-eb9b30] refactor(tests): wire dead_code perf gate to baseline helper
  cmd/all_tools_self_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-eb9b30] refactor(tests): migrate TestE2E_RealCorpora to registry default (ADR-0019 PR 2 part 3)
  cmd/all_tools_self_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-eb9b30] feat(testfixtures): baselines.toml + task fixtures:rebaseline
  Taskfile.yml
  internal/testfixtures/baseline.go
  internal/testfixtures/baseline_test.go
  testdata/snapshots/baselines.toml
  tools/fixtures-rebaseline/main.go
  tools/fixtures-rebaseline/main_test.go
Due: gofumpt, go-vet, golangci-lint

security(smell-rules): validate ScopeColumn at load time
  cmd/serve_find_smells_load.go
  cmd/serve_find_smells_load_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-aeb262] design(adr): ADR-0020 consumer-side adoption of LLO CacheLockfile schema
  docs/adr/0020-portable-cache-lockfile-schema.md
Due: none

[mache-aeb262] feat(cache): Phase 1+2 — mache cache push/pull subcommands
  cmd/cache.go
  cmd/cache_test.go
  go.mod
  go.sum
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

[mache-aeb262] feat(cache): Phase 3 — OCI build-cache/v1 transport (push/pull --remote)
  cmd/cache.go
  cmd/cache_oci.go
  cmd/cache_oci_test.go
  cmd/cache_remote_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-aeb262] feat(cache): Phase 5 — Taskfile entries + cache-roundtrip CI workflow
  .github/workflows/cache-roundtrip.yml
  Taskfile.yml
Due: none

[mache-aeb262] docs(adr): ADR-0020 path correction — schema-capnp/, not public-schema/
  docs/adr/0020-portable-cache-lockfile-schema.md
Due: none

[mache-aeb262] feat(cache): Phase 4 — chunks-as-parse-outputs (auto-detected via _ast)
  cmd/cache.go
  cmd/cache_ast.go
  cmd/cache_ast_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-aeb262] test(cache): TOML round-trip + Phase 4 error paths + wire-shape doc
  cmd/cache_toml_test.go
  docs/cache/phase-4-chunk-shape.md
Due: gofumpt, go-vet, golangci-lint

[mache-aeb262] feat(cache): mache cache verify + README user docs
  README.md
  cmd/cache.go
  cmd/cache_remote_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-aeb262] feat(cache): inspect subcommand + --token-file flag for CI ergonomics
  cmd/cache.go
  cmd/cache_inspect_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-aeb262] docs(cache): STATUS.md — consumer-side handoff document
  docs/cache/STATUS.md
Due: none

[mache-aeb262] chore(deps): bump leyline-schema to LLO main; drop local-path replace
  go.mod
  go.sum
Due: go-mod-tidy

feat(cache): portable mache db — push/pull/verify/inspect, all 5 phases (mache-aeb262) (#412)
  .github/workflows/cache-roundtrip.yml
  README.md
  Taskfile.yml
  cmd/cache.go
  cmd/cache_ast.go
  cmd/cache_ast_test.go
  cmd/cache_inspect_test.go
  cmd/cache_oci.go
  cmd/cache_oci_test.go
  cmd/cache_remote_test.go
  cmd/cache_test.go
  cmd/cache_toml_test.go
  cmd/serve_find_smells_load.go
  cmd/serve_find_smells_load_test.go
  docs/adr/0020-portable-cache-lockfile-schema.md
  docs/cache/STATUS.md
  docs/cache/phase-4-chunk-shape.md
  go.mod
  go.sum
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

infra: migrate elixir parser.c out of LFS
  .gitattributes
  internal/treesitter/elixir/parser.c
Due: none

chore(baselines): find_smells:dead_code/mache-self 124ms -> 2664ms
  testdata/snapshots/baselines.toml
Due: none

chore(baselines): update stale ceiling comment to match new wall_ms
  testdata/snapshots/baselines.toml
Due: none

chore(baselines): find_smells:dead_code 2664ms -> 3539ms (macOS hosted is slowest)
  testdata/snapshots/baselines.toml
Due: none

docs: ADR-0021 semantic file-suggester for fileSuggestion
  docs/adr/0021-file-suggester.md
Due: none

docs(adr-0021): address Copilot review — internal consistency fixes
  docs/adr/0021-file-suggester.md
Due: none

test: skip dead_code perf gate under -race
  cmd/all_tools_self_test.go
  cmd/race_norace.go
  cmd/race_race.go
Due: gofumpt, go-vet, golangci-lint

docs(adr-0019): D.6 amendment — -race carve-out for perf gates
  docs/adr/0019-real-corpus-fixture-registry.md
Due: none

ci: add LFS tripwire — fail any PR re-introducing Git LFS tracking
  .github/workflows/lfs-guard.yml
Due: none

[mache-802d2b] feat(server-json): mcpregistry + cloister groups + drift gate
  .github/workflows/ci.yml
  Taskfile.yml
  cmd/serve_handlers_test.go
  internal/mcpregistry/registry.go
  internal/mcpregistry/registry_test.go
  server.json
  tools/server-json-gen/main.go
Due: gofumpt, go-vet, golangci-lint

ci: add LFS tripwire — fail any PR re-introducing Git LFS tracking (#423)
  .github/workflows/lfs-guard.yml
Due: none

docs(adr-0019): D.6 amendment — -race carve-out for perf gates (#422)
  docs/adr/0019-real-corpus-fixture-registry.md
Due: none

[mache-802d2b] feat(server-json): mcpregistry + cloister groups + drift gate (#424)
  .github/workflows/ci.yml
  Taskfile.yml
  cmd/serve_handlers_test.go
  internal/mcpregistry/registry.go
  internal/mcpregistry/registry_test.go
  server.json
  tools/server-json-gen/main.go
Due: gofumpt, go-vet, golangci-lint

Path conditions:
  gofumpt: any of: \.go$
  go-vet: any of: \.go$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: (go\.mod|go\.sum)$
