Repository agentic-research/mache: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofumpt, go-vet, golangci-lint, go-mod-tidy

.pre-commit-config.yaml:

repos:
  # Basic file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending

  # Go-specific checks (all use locally installed tools)
  - repo: local
    hooks:
      - id: gofumpt
        name: gofumpt
        entry: gofumpt -w -extra
        language: system
        files: \.go$
        pass_filenames: true

      - id: go-vet
        name: go vet
        entry: go vet ./...
        language: system
        files: \.go$
        pass_filenames: false

      - id: golangci-lint
        name: golangci-lint
        entry: golangci-lint run --fix
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        files: (go\.mod|go\.sum)$
        pass_filenames: false

build: add darwin target to goreleaser
  .goreleaser.yaml
Due: none

feature/goreleaser (#14)
  .github/workflows/release.yml
  .goreleaser.yaml
Due: none

build: configure macos signing and homebrew tap
  .github/workflows/release.yml
  .goreleaser.yaml
Due: none

build: configure macos signing and homebrew tap (#15)
  .github/workflows/release.yml
  .goreleaser.yaml
Due: none

feat: Intelligent Schema Inference for Python/JS/TS + SQL Support
  cmd/mount.go
  examples/python-schema.json
  examples/sql-schema.json
  internal/ingest/engine.go
  internal/ingest/sitter_flatten.go
  internal/ingest/sitter_walker.go
  internal/lattice/infer.go
  internal/lattice/project_ast.go
  tests/test_data/js/test.js
  tests/test_data/python/test.py
  tests/test_data/sql/test.sql
Due: gofumpt, go-vet, golangci-lint

fix: Recursion bug in schema traversal and macOS test environment
  Taskfile.yml
  api/schema.go
  internal/ingest/engine.go
  internal/ingest/sitter_walker.go
  internal/lattice/project_ast.go
Due: gofumpt, go-vet, golangci-lint

feat: Support raw file ingestion and file metadata (ModTime)
  internal/graph/graph.go
  internal/ingest/engine.go
  internal/ingest/raw_file_test.go
Due: gofumpt, go-vet, golangci-lint

chore: Update dependencies and refactor Taskfile for test environment
  Taskfile.yml
  go.mod
  go.sum
Due: go-mod-tidy

feat: Support raw file ingestion for mixed repositories
  internal/ingest/engine.go
Due: gofumpt, go-vet, golangci-lint

feat: Intelligent Schema Inference for Python/JS/TS + SQL Support (#16)
  Taskfile.yml
  api/schema.go
  cmd/mount.go
  examples/python-schema.json
  examples/sql-schema.json
  go.mod
  go.sum
  internal/graph/graph.go
  internal/ingest/engine.go
  internal/ingest/raw_file_test.go
  internal/ingest/sitter_flatten.go
  internal/ingest/sitter_walker.go
  internal/lattice/infer.go
  internal/lattice/project_ast.go
  tests/test_data/js/test.js
  tests/test_data/python/test.py
  tests/test_data/sql/test.sql
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

fix: use fuse-t framework path instead of symlinks
  .github/workflows/release.yml
  .goreleaser.yaml
Due: none

fix: use fuse-t framework path instead of symlinks (#17)
  .github/workflows/release.yml
  .goreleaser.yaml
Due: none

chore: Finalize recursion fix, add Arena tool, and update build config
  .goreleaser.yaml
  cmd/mount.go
  internal/fs/cgo_darwin.go
  internal/ingest/engine.go
  internal/lattice/context.go
  tests/llm_refactor_challenge.sh
  tools/arena.sh
Due: gofumpt, go-vet, golangci-lint

chore: Finalize recursion fix, add Arena tool, and update build config (#18)
  .goreleaser.yaml
  cmd/mount.go
  internal/fs/cgo_darwin.go
  internal/ingest/engine.go
  internal/lattice/context.go
  tests/llm_refactor_challenge.sh
  tools/arena.sh
Due: gofumpt, go-vet, golangci-lint

chore: Organize scripts and add install task
  Taskfile.yml
  scripts/arena.sh
Due: none

chore: Ignore bin directory
  .gitignore
Due: none

chore: Project structure cleanup and install task (#19)
  .gitignore
  Taskfile.yml
  scripts/arena.sh
Due: none

feat: Enhanced Arena with multiple mission types
  scripts/arena.sh
Due: none

feat: Enhanced Arena with multiple mission types (#20)
  scripts/arena.sh
Due: none

docs: Add Mache Arena usage guide
  docs/ARENA.md
Due: none

docs: Add Mache Arena usage guide (#21)
  docs/ARENA.md
Due: none

Enhance README with diagram and graph isomorphism insights
  README.md
Due: none

Enhance README with diagram and graph isomorphism insights (#22)
  README.md
Due: none

feat: Add PROMPT.txt generation to Arena interactive mode
  scripts/arena.sh
Due: none

fix: Add missing PROMPT.txt generation to Arena
  scripts/arena.sh
Due: none

fix: Add missing PROMPT.txt generation to Arena (#24)
  scripts/arena.sh
Due: none

feat: Add --keep flag to arena.sh to preserve sandbox
  scripts/arena.sh
Due: none

feat: Add --keep flag to arena.sh to preserve sandbox (#25)
  scripts/arena.sh
Due: none

docs: Add ADR for Syntax-Aware Write Protection
  docs/adr/0006-syntax-aware-write-protection.md
Due: none

docs: Add ADR for Syntax-Aware Write Protection (#26)
  docs/adr/0006-syntax-aware-write-protection.md
Due: none

feat: Implement file update and delete handling in MacheFS
  Taskfile.yml
  internal/fs/root.go
  internal/graph/graph.go
  internal/ingest/engine.go
  internal/ingest/engine_modtime_test.go
Due: gofumpt, go-vet, golangci-lint

feat/fs updates and delete (#27)
  Taskfile.yml
  internal/fs/root.go
  internal/graph/graph.go
  internal/ingest/engine.go
  internal/ingest/engine_modtime_test.go
Due: gofumpt, go-vet, golangci-lint

fix: Enable direct_io to prevent kernel attribute caching issues
  cmd/mount.go
Due: gofumpt, go-vet, golangci-lint

fix: Resolve symlinks in Ingest and DeleteFileNodes to prevent Zombie nodes
  README.md
  cmd/mount.go
  internal/fs/root.go
  internal/graph/graph.go
  internal/ingest/engine.go
  internal/ingest/engine_modtime_test.go
  internal/ingest/sitter_walker.go
  tests/torture_test.sh
Due: gofumpt, go-vet, golangci-lint

feat: Add PROMPT.txt generation to Arena interactive mode (#23) (#28)
  README.md
  cmd/mount.go
  internal/fs/root.go
  internal/graph/graph.go
  internal/ingest/engine.go
  internal/ingest/engine_modtime_test.go
  internal/ingest/sitter_walker.go
  tests/torture_test.sh
Due: gofumpt, go-vet, golangci-lint

feat: Greedy Entropy Inference and Git Projection (ADR-0007, ADR-0008)
  cmd/mount.go
  docs/adr/0008-greedy-entropy-schema-inference.md
  internal/ingest/engine_records.go
  internal/ingest/git.go
  internal/ingest/git_test.go
  internal/lattice/greedy.go
  internal/lattice/greedy_test.go
  internal/lattice/infer.go
  internal/lattice/project.go
Due: gofumpt, go-vet, golangci-lint

fix: Correct Git Projection and Inference Logic
  internal/ingest/engine_test.go
  internal/lattice/greedy.go
  internal/lattice/project_ast.go
  tests/verify_git_projection.sh
Due: gofumpt, go-vet, golangci-lint

fix: Robust Git Date Parsing & Map Handling
  docs/adr/0007-git-object-graph-as-fs-projection.md
  internal/ingest/git.go
  internal/ingest/json_walker.go
  internal/lattice/date_parsing_test.go
  internal/lattice/greedy.go
Due: gofumpt, go-vet, golangci-lint

feat: Greedy Entropy Inference and Git Projection (ADR-0007, ADR-0008) (#29)
  cmd/mount.go
  docs/adr/0007-git-object-graph-as-fs-projection.md
  docs/adr/0008-greedy-entropy-schema-inference.md
  internal/ingest/engine_records.go
  internal/ingest/engine_test.go
  internal/ingest/git.go
  internal/ingest/git_test.go
  internal/ingest/json_walker.go
  internal/lattice/date_parsing_test.go
  internal/lattice/greedy.go
  internal/lattice/greedy_test.go
  internal/lattice/infer.go
  internal/lattice/project.go
  internal/lattice/project_ast.go
  tests/verify_git_projection.sh
Due: gofumpt, go-vet, golangci-lint
