Repository agentic-research/mache: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofumpt, go-vet, golangci-lint, go-mod-tidy

.pre-commit-config.yaml:

repos:
  # Basic file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending

  # Go-specific checks (all use locally installed tools)
  - repo: local
    hooks:
      - id: gofumpt
        name: gofumpt
        entry: gofumpt -w -extra
        language: system
        files: \.go$
        pass_filenames: true

      - id: go-vet
        name: go vet
        entry: bash -c 'if [ "$(uname)" = "Darwin" ] && [ -d /Library/Frameworks/fuse_t.framework ]; then export CGO_CFLAGS="-I/Library/Frameworks/fuse_t.framework/Versions/Current/Headers" CGO_LDFLAGS="-F/Library/Frameworks -framework fuse_t -Wl,-rpath,/Library/Frameworks"; fi && go vet ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: golangci-lint
        name: golangci-lint
        entry: bash -c 'if [ "$(uname)" = "Darwin" ] && [ -d /Library/Frameworks/fuse_t.framework ]; then export CGO_CFLAGS="-I/Library/Frameworks/fuse_t.framework/Versions/Current/Headers" CGO_LDFLAGS="-F/Library/Frameworks -framework fuse_t -Wl,-rpath,/Library/Frameworks"; fi && golangci-lint run --fix'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        files: (go\.mod|go\.sum)$
        pass_filenames: false

feat(udsGraph): typed decode for LLO daemon responses [mache-a5ad09]
  cmd/uds_graph.go
  cmd/uds_graph_test.go
  internal/leyline/socket.go
  internal/leyline/wire.go
Due: gofumpt, go-vet, golangci-lint

chore(deps): bump leyline-schema to v0.3.0 [mache-a5ad09]
  go.mod
  go.sum
Due: go-mod-tidy

chore(udsGraph): address Copilot review [mache-a5ad09]
  cmd/uds_graph_test.go
  internal/leyline/wire.go
Due: gofumpt, go-vet, golangci-lint

test(udsGraph): cover all typed-decode paths [mache-a5ad09]
  cmd/uds_graph_test.go
Due: gofumpt, go-vet, golangci-lint

feat(udsGraph): typed daemon-response decode + leyline-schema v0.3.0 (#372)
  cmd/uds_graph.go
  cmd/uds_graph_test.go
  go.mod
  go.sum
  internal/leyline/socket.go
  internal/leyline/wire.go
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

test(leyline): wire-decode microbench (SendOp vs SendOpInto)
  internal/leyline/socket_bench_test.go
Due: gofumpt, go-vet, golangci-lint

test(leyline): expand wire-decode bench to all 5 base ops + framework README
  benchmarks/README.md
  internal/leyline/socket_bench_test.go
Due: gofumpt, go-vet, golangci-lint

docs(benchmarks): rewrite numbers honestly + adopt Serena's eval harness
  benchmarks/README.md
  benchmarks/serena/README.md
  benchmarks/serena/baselines/serena_cc_opus_4.6_on_tianshou.md
  benchmarks/serena/upstream/010_evaluation-prompt.md
  benchmarks/serena/upstream/010_methodology.md
  benchmarks/serena/upstream/020_summary-prompt.md
Due: none

docs(benchmarks): fresh-context Serena eval + agent-lsp-style quant on mache repo
  benchmarks/quantitative/symbol_lookup_fp_rate.md
  benchmarks/serena/results/mache_cc_fresh_eval_macherepo.md
Due: none

fix(graph,ingest): close two correctness gaps surfaced by PR #373 bench
  internal/graph/sqlite_graph.go
  internal/graph/sqlite_graph_lookupdef_test.go
  internal/ingest/engine_languages.go
  internal/ingest/sitter_walker_test.go
Due: gofumpt, go-vet, golangci-lint

fix: four correctness bugs surfaced by the bench audit
  cmd/serve_architecture.go
  cmd/serve_handlers.go
  cmd/serve_registry.go
  cmd/serve_test.go
  internal/graph/sqlite_graph.go
  internal/graph/sqlite_graph_lookupdef_test.go
  internal/ingest/engine_languages.go
  internal/ingest/sitter_walker_test.go
Due: gofumpt, go-vet, golangci-lint

fix(search): dispatch fallback when defsSearcher returns nil + MemoryStore.SearchDefs
  cmd/serve_handlers.go
  cmd/serve_test.go
  internal/graph/graph.go
Due: gofumpt, go-vet, golangci-lint

fix(composite): SearchDefs federation across mounts
  internal/graph/composite.go
Due: gofumpt, go-vet, golangci-lint

docs(benchmarks): three-pass bench audit, all original bugs cleared
  benchmarks/quantitative/symbol_lookup_fp_rate_postfix.md
  benchmarks/serena/results/mache_cc_fresh_eval_macherepo_final.md
  benchmarks/serena/results/mache_cc_fresh_eval_macherepo_postfix.md
Due: none

fix(ingest): SQLiteWriter.GetNode round-trips Properties [mache-d28eb1]
  internal/graph/sqlite_graph_lookupdef_test.go
  internal/ingest/sqlite_writer.go
  internal/ingest/sqlite_writer_test.go
Due: gofumpt, go-vet, golangci-lint

test(leyline): wire-decode microbench + benchmarking foundation (#373)
  benchmarks/README.md
  benchmarks/quantitative/symbol_lookup_fp_rate.md
  benchmarks/quantitative/symbol_lookup_fp_rate_postfix.md
  benchmarks/serena/README.md
  benchmarks/serena/baselines/serena_cc_opus_4.6_on_tianshou.md
  benchmarks/serena/results/mache_cc_fresh_eval_macherepo.md
  benchmarks/serena/results/mache_cc_fresh_eval_macherepo_final.md
  benchmarks/serena/results/mache_cc_fresh_eval_macherepo_postfix.md
  benchmarks/serena/upstream/010_evaluation-prompt.md
  benchmarks/serena/upstream/010_methodology.md
  benchmarks/serena/upstream/020_summary-prompt.md
  cmd/serve_architecture.go
  cmd/serve_handlers.go
  cmd/serve_registry.go
  cmd/serve_test.go
  internal/graph/composite.go
  internal/graph/graph.go
  internal/graph/sqlite_graph.go
  internal/graph/sqlite_graph_lookupdef_test.go
  internal/ingest/engine_languages.go
  internal/ingest/sitter_walker_test.go
  internal/ingest/sqlite_writer.go
  internal/ingest/sqlite_writer_test.go
  internal/leyline/socket_bench_test.go
Due: gofumpt, go-vet, golangci-lint

bench(cost-quality): mache MCP vs vanilla Claude harness
  benchmarks/cost-quality/README.md
  benchmarks/cost-quality/bench.py
  benchmarks/cost-quality/mcp.json
  benchmarks/cost-quality/prompts.json
Due: none

docs(bench): post-mortem + raw JSONL — current bench is inconclusive
  benchmarks/cost-quality/RESULTS.md
  benchmarks/cost-quality/results/run_20260513.jsonl
Due: none

fix(build): backend marker, schema-flag enforcement, empty-build warning, smell-rules pitfalls doc
  cmd/build.go
  cmd/build_leyline_test.go
  cmd/build_meta.go
  cmd/build_meta_test.go
  cmd/find_smells_cli.go
  cmd/serve_find_smells.go
  examples/smell-rules/README.md
Due: gofumpt, go-vet, golangci-lint

feat(schemas): ship preset schemas for the remaining 10 grammars
  cmd/schemas/bash.json
  cmd/schemas/csharp.json
  cmd/schemas/css.json
  cmd/schemas/cue.json
  cmd/schemas/dockerfile.json
  cmd/schemas/groovy.json
  cmd/schemas/html.json
  cmd/schemas/lua.json
  cmd/schemas/markdown.json
  cmd/schemas/protobuf.json
  internal/lang/lang.go
Due: gofumpt, go-vet, golangci-lint

feat(schemas/yaml): broaden preset beyond top-level mappings
  cmd/schemas/yaml.json
Due: none

test(schemas): real-fixture harness exercising go/rust/terraform presets
  cmd/preset_fixture_test.go
  cmd/testdata/preset_fixtures/rust/lib.rs
  cmd/testdata/preset_fixtures/terraform/main.tf
Due: gofumpt, go-vet, golangci-lint

feat(schemas): beef up 12 slim presets + real-fixture coverage
  cmd/preset_fixture_test.go
  cmd/schemas/bash.json
  cmd/schemas/csharp.json
  cmd/schemas/css.json
  cmd/schemas/cue.json
  cmd/schemas/dockerfile.json
  cmd/schemas/groovy.json
  cmd/schemas/html.json
  cmd/schemas/lua.json
  cmd/schemas/markdown.json
  cmd/schemas/protobuf.json
  cmd/schemas/sql.json
  cmd/schemas/toml.json
  cmd/testdata/preset_fixtures/bash/build.sh
  cmd/testdata/preset_fixtures/csharp/Catalog.cs
  cmd/testdata/preset_fixtures/css/styles.css
  cmd/testdata/preset_fixtures/cue/config.cue
  cmd/testdata/preset_fixtures/dockerfile/fixture.dockerfile
  cmd/testdata/preset_fixtures/groovy/Build.groovy
  cmd/testdata/preset_fixtures/html/index.html
  cmd/testdata/preset_fixtures/lua/init.lua
  cmd/testdata/preset_fixtures/markdown/README.md
  cmd/testdata/preset_fixtures/protobuf/catalog.proto
  cmd/testdata/preset_fixtures/sql/schema.sql
  cmd/testdata/preset_fixtures/toml/Cargo.toml
  cmd/testdata/preset_fixtures/yaml/config.yaml
Due: gofumpt, go-vet, golangci-lint

test(schemas): patrol — every registered preset must have fixture coverage or be on the pending allowlist
  cmd/preset_fixture_test.go
Due: gofumpt, go-vet, golangci-lint

fix(test): unblock CI — gofumpt nit + stale NoSourceFiles assumption
  cmd/infer_test.go
  cmd/preset_fixture_test.go
Due: gofumpt, go-vet, golangci-lint

fix: address Copilot review on PR #374
  cmd/build.go
  cmd/preset_fixture_test.go
  examples/smell-rules/README.md
  internal/lang/lang.go
Due: gofumpt, go-vet, golangci-lint

fix(build): schema-bug fixes + ship presets for all 28 grammars (#374)
  cmd/build.go
  cmd/build_leyline_test.go
  cmd/build_meta.go
  cmd/build_meta_test.go
  cmd/find_smells_cli.go
  cmd/infer_test.go
  cmd/preset_fixture_test.go
  cmd/schemas/bash.json
  cmd/schemas/csharp.json
  cmd/schemas/css.json
  cmd/schemas/cue.json
  cmd/schemas/dockerfile.json
  cmd/schemas/groovy.json
  cmd/schemas/html.json
  cmd/schemas/lua.json
  cmd/schemas/markdown.json
  cmd/schemas/protobuf.json
  cmd/schemas/yaml.json
  cmd/serve_find_smells.go
  cmd/testdata/preset_fixtures/bash/build.sh
  cmd/testdata/preset_fixtures/csharp/Catalog.cs
  cmd/testdata/preset_fixtures/css/styles.css
  cmd/testdata/preset_fixtures/cue/config.cue
  cmd/testdata/preset_fixtures/dockerfile/fixture.dockerfile
  cmd/testdata/preset_fixtures/groovy/Build.groovy
  cmd/testdata/preset_fixtures/html/index.html
  cmd/testdata/preset_fixtures/lua/init.lua
  cmd/testdata/preset_fixtures/markdown/README.md
  cmd/testdata/preset_fixtures/protobuf/catalog.proto
  cmd/testdata/preset_fixtures/rust/lib.rs
  cmd/testdata/preset_fixtures/sql/schema.sql
  cmd/testdata/preset_fixtures/terraform/main.tf
  cmd/testdata/preset_fixtures/toml/Cargo.toml
  cmd/testdata/preset_fixtures/yaml/config.yaml
  examples/smell-rules/README.md
  internal/lang/lang.go
Due: gofumpt, go-vet, golangci-lint

docs(audit): sheaf-incremental — verdict on consumer-side wiring [mache-49bf9a]
  docs/audit/sheaf-incremental.md
Due: none

docs(audit): sheaf-incremental — verdict on consumer-side wiring [mache-49bf9a] (#379)
  docs/audit/sheaf-incremental.md
Due: none

chore(scratch): land mache pack prototype with errcheck-clean writes [mache-90341d-prep]
  cmd/pack.go
Due: gofumpt, go-vet, golangci-lint

chore(deps): bump leyline-schema v0.3.0 → v0.4.1 [mache-8e2e92]
  go.mod
  go.sum
  internal/leyline/socket.go
  internal/leyline/socket_test.go
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

fix(serve): snapshot CommunityResult before async PushTopology; add done-channel for tests [mache-8e2e92]
  cmd/serve_handlers.go
  cmd/serve_test.go
Due: gofumpt, go-vet, golangci-lint

chore(deps): bump leyline-schema v0.3.0 → v0.4.1 [mache-8e2e92] (#380)
  cmd/pack.go
  cmd/serve_handlers.go
  cmd/serve_test.go
  go.mod
  go.sum
  internal/leyline/socket.go
  internal/leyline/socket_test.go
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

feat(sheaf): opt SheafClient into δ⁰-driven invalidation mode [mache-8e59a5]
  internal/leyline/sheaf.go
  internal/leyline/sheaf_test.go
Due: gofumpt, go-vet, golangci-lint

fix(sheaf): address Copilot review on #381 [mache-8e59a5]
  internal/leyline/sheaf.go
  internal/leyline/sheaf_test.go
Due: gofumpt, go-vet, golangci-lint

feat(sheaf): opt SheafClient into δ⁰-driven invalidation [mache-8e59a5] (#381)
  internal/leyline/sheaf.go
  internal/leyline/sheaf_test.go
Due: gofumpt, go-vet, golangci-lint

test(sheaf): cross-runtime e2e against live ley-line daemon [mache-8e7794]
  internal/leyline/sheaf.go
  internal/leyline/sheaf_e2e_test.go
Due: gofumpt, go-vet, golangci-lint

test(sheaf): pin quoted-generation parsing without live daemon [mache-8e7794]
  internal/leyline/sheaf_test.go
Due: gofumpt, go-vet, golangci-lint

test(sheaf): cross-runtime e2e against live ley-line daemon [mache-8e7794] (#382)
  internal/leyline/sheaf.go
  internal/leyline/sheaf_e2e_test.go
  internal/leyline/sheaf_test.go
Due: gofumpt, go-vet, golangci-lint

feat(graph): make SheafInvalidator hot-swappable + add NodesForPath [mache-c11848]
  internal/graph/graph.go
  internal/graph/sheaf_invalidate.go
  internal/graph/sheaf_invalidate_test.go
Due: gofumpt, go-vet, golangci-lint
