Repository agentic-research/mache: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofumpt, go-vet, golangci-lint, go-mod-tidy

gofumpt:
  name: gofumpt
  entry: gofumpt -w -extra
  language: system
  pass_filenames: true

go-vet:
  name: go vet
  ...

golangci-lint:
  name: golangci-lint
  ...

go-mod-tidy:
  name: go mod tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

docs(spec): measurement contracts for mache's four blog claims
  docs/superpowers/specs/2026-06-24-mache-measurement-contracts.md
Due: none

feat(mcp): kind discriminator across symbol-aware tools + registry invariants (mache-7d321e) (#438)
  cmd/kind_filter.go
  cmd/kind_filter_test.go
  cmd/mcp_registry_invariants_test.go
  cmd/serve_handler_find_callers.go
  cmd/serve_handler_find_definition.go
  cmd/serve_handlers.go
  cmd/serve_impact.go
  cmd/serve_lsp.go
Due: gofumpt, go-vet, golangci-lint

[mache-7d321e] test(mcp): kind-discriminator integration test on ambiguous fixture
  cmd/kind_discriminator_integration_test.go
Due: gofumpt, go-vet, golangci-lint

docs(spec): address review — split M1a/M1b, bound M3/M4 (N=50 pilot→500), add M5 read-side contract + explicit non-measurements (mount-UX), cross-link M2↔mache-7d321e
  docs/superpowers/specs/2026-06-24-mache-measurement-contracts.md
Due: none

[mache-7d321e] test(mcp): kind-discriminator integration test on ambiguous fixture (#441)
  cmd/kind_discriminator_integration_test.go
Due: gofumpt, go-vet, golangci-lint

docs(spec): address Copilot review — CLI flag + b8fe72 root-cause attribution
  docs/superpowers/specs/2026-06-24-mache-measurement-contracts.md
Due: none

docs(spec): measurement contracts for mache's four blog claims (#440)
  docs/superpowers/specs/2026-06-24-mache-measurement-contracts.md
Due: none

feat(smell): deterministic duplicate_code rule via AST structural hashing
  cmd/find_smells_duplicate_code_test.go
  cmd/smell_rules.go
Due: gofumpt, go-vet, golangci-lint

fix(smell): erase comment nodes from duplicate_code signature
  cmd/find_smells_duplicate_code_test.go
  cmd/smell_rules.go
Due: gofumpt, go-vet, golangci-lint

feat(smell): deterministic duplicate_code rule via AST structural hashing (#442)
  cmd/find_smells_duplicate_code_test.go
  cmd/smell_rules.go
Due: gofumpt, go-vet, golangci-lint

feat(ingest): ASTWalker.ExtractFileLevelRefs — pure-Go file-level ref parity (S4 prep)
  internal/ingest/ast_file_level_refs_parity_test.go
  internal/ingest/ast_walker_calls.go
  internal/ingest/engine_languages.go
Due: gofumpt, go-vet, golangci-lint

fix(ingest): surface CallPattern errors instead of swallowing (Copilot #443)
  internal/ingest/ast_file_level_refs_parity_test.go
  internal/ingest/ast_walker_calls.go
Due: gofumpt, go-vet, golangci-lint

feat(ingest): ASTWalker.ExtractFileLevelRefs — pure-Go file-level ref parity (S4 prep) (#443)
  internal/ingest/ast_file_level_refs_parity_test.go
  internal/ingest/ast_walker_calls.go
  internal/ingest/engine_languages.go
Due: gofumpt, go-vet, golangci-lint

chore(deps): pin leyline-schema + daemon binary to v0.5.1
  go.mod
  go.sum
  internal/leyline/socket.go
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

feat(ingest): gate Phase-1 CGO parse on backend — ASTWalker serves file-level extracts (S4)
  internal/ingest/ast_query_parity_test.go
  internal/ingest/engine_treesitter.go
Due: gofumpt, go-vet, golangci-lint

docs(adr-0012): record step-4 engine mechanism (S3/S4) + SetASTWalker activation plan
  docs/ARCHITECTURE.md
  docs/adr/0012-cgo-removal-migration.md
Due: none

chore(deps): pin leyline-schema + daemon binary to v0.5.1 (#444)
  go.mod
  go.sum
  internal/leyline/socket.go
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

fix(ingest): make AST path truly CGO-free + restore single-file nil-tree guard (Copilot #445)
  internal/ingest/engine_treesitter.go
Due: gofumpt, go-vet, golangci-lint

docs(adr-0012): record step-4 engine mechanism (S3/S4) + SetASTWalker activation plan (#446)
  docs/ARCHITECTURE.md
  docs/adr/0012-cgo-removal-migration.md
Due: none

feat(ingest): gate Phase-1 CGO parse on backend — ASTWalker serves file-level extracts (S4) (#445)
  internal/ingest/ast_query_parity_test.go
  internal/ingest/engine_treesitter.go
Due: gofumpt, go-vet, golangci-lint

test(ingest): multi-file ASTWalker↔SitterWalker query-parity gate (mache-1166aa)
  internal/ingest/ast_query_parity_multifile_test.go
Due: gofumpt, go-vet, golangci-lint

fix(ingest): key AST source_id by root-relative path, not filepath.Base (mache-30edfa)
  internal/ingest/ast_query_parity_multifile_test.go
  internal/ingest/ast_walker_extract.go
  internal/ingest/engine_treesitter.go
Due: gofumpt, go-vet, golangci-lint

test+fix(ingest): multi-file query-parity gate + root-relative source_id keying (mache-1166aa, mache-30edfa) (#447)
  internal/ingest/ast_query_parity_multifile_test.go
  internal/ingest/ast_walker_extract.go
  internal/ingest/engine_treesitter.go
Due: gofumpt, go-vet, golangci-lint

[mache-5bb181] fix(serve): resolve construct kind from _ast.node_kind, not path segments
  cmd/kind_discriminator_leyline_ast_test.go
  cmd/kind_filter.go
  cmd/mcp_registry_invariants_test.go
  cmd/serve_handler_find_callers.go
  cmd/serve_handler_find_definition.go
  cmd/serve_handlers.go
  cmd/serve_impact.go
Due: gofumpt, go-vet, golangci-lint

[mache-a38826] docs(getting-started): make first-run MCP config legible to new users
  GETTING-STARTED.md
  README.md
Due: none

[mache-5bb181] fix(serve): harden _ast kind resolver per PR #448 review
  cmd/kind_discriminator_leyline_ast_test.go
  cmd/kind_filter.go
  cmd/serve_handler_find_callers.go
  cmd/serve_handler_find_definition.go
Due: gofumpt, go-vet, golangci-lint

chore(ci): point find_smells advisory at the rule registry, not ARCHITECTURE.md
  .github/workflows/find-smells.yml
Due: none

fix(serve): project-aware kind filter (_ast.node_kind) + MCP readOnlyHint annotations (#448)
  .github/workflows/find-smells.yml
  GETTING-STARTED.md
  README.md
  cmd/kind_discriminator_leyline_ast_test.go
  cmd/kind_filter.go
  cmd/mcp_registry_invariants_test.go
  cmd/serve_handler_find_callers.go
  cmd/serve_handler_find_definition.go
  cmd/serve_handlers.go
  cmd/serve_impact.go
Due: gofumpt, go-vet, golangci-lint

[mache-be6a9a] fix(serve): set full MCP annotation struct so read tools don't leak destructive/open-world defaults
  cmd/mcp_registry_invariants_test.go
  cmd/serve_handlers.go
Due: gofumpt, go-vet, golangci-lint

[mache-be6a9a] docs: note annotation preset pointers are write-once/shared (PR #449 review nit)
  cmd/serve_handlers.go
Due: gofumpt, go-vet, golangci-lint

[mache-be6a9a] fix(serve): make annotation presets per-tool factories — eliminate shared *bool aliasing
  cmd/serve_handlers.go
Due: gofumpt, go-vet, golangci-lint

fix(serve): honest MCP annotation hints — read tools no longer leak destructive/open-world defaults (#449)
  cmd/mcp_registry_invariants_test.go
  cmd/serve_handlers.go
Due: gofumpt, go-vet, golangci-lint

[mache-823d91] fix(leyline): reap the daemon process group so spawned mache children aren't orphaned
  internal/leyline/procgroup_other.go
  internal/leyline/procgroup_unix.go
  internal/leyline/procgroup_unix_test.go
  internal/leyline/socket.go
Due: gofumpt, go-vet, golangci-lint

[mache-823d91] refactor(leyline): single managed-daemon termination seam + drift guard
  internal/leyline/daemon_lifecycle_test.go
  internal/leyline/socket.go
Due: gofumpt, go-vet, golangci-lint

fix(leyline): reap daemon process group — stop orphaning the daemon's mache child (#450)
  internal/leyline/daemon_lifecycle_test.go
  internal/leyline/procgroup_other.go
  internal/leyline/procgroup_unix.go
  internal/leyline/procgroup_unix_test.go
  internal/leyline/socket.go
Due: gofumpt, go-vet, golangci-lint

[mache-0dcd98] feat(leyline): log + expose resolved-binary provenance via get_sheaf_status
  cmd/serve_handler_get_sheaf_status.go
  internal/leyline/provenance.go
  internal/leyline/provenance_test.go
  internal/leyline/socket.go
Due: gofumpt, go-vet, golangci-lint

[mache-0dcd98] harden version_matches to whole-token + restore test global state (PR #451 review)
  internal/leyline/provenance.go
  internal/leyline/provenance_test.go
Due: gofumpt, go-vet, golangci-lint

feat(leyline): surface which leyline binary mache resolved (log + get_sheaf_status) (#451)
  cmd/serve_handler_get_sheaf_status.go
  internal/leyline/provenance.go
  internal/leyline/provenance_test.go
  internal/leyline/socket.go
Due: gofumpt, go-vet, golangci-lint

[mache-303036] fix(lsp): use the daemon's named `enrich` UDS op + spawn with --source
  cmd/serve.go
  cmd/serve_lsp.go
  cmd/serve_lsp_enrich_test.go
  internal/leyline/daemon_source.go
  internal/leyline/socket.go
  internal/leyline/socket_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-303036] fix(lsp): use the daemon's named `enrich` UDS op + spawn with --source (#452)
  cmd/serve.go
  cmd/serve_lsp.go
  cmd/serve_lsp_enrich_test.go
  internal/leyline/daemon_source.go
  internal/leyline/socket.go
  internal/leyline/socket_test.go
Due: gofumpt, go-vet, golangci-lint

Path conditions:
  gofumpt: any of: \.go$
  go-vet: any of: \.go$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: (go\.mod|go\.sum)$
