Repository agentic-research/mache: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofumpt, go-vet, golangci-lint, go-mod-tidy

.pre-commit-config.yaml:

repos:
  # Basic file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending

  # Go-specific checks (all use locally installed tools)
  - repo: local
    hooks:
      - id: gofumpt
        name: gofumpt
        entry: gofumpt -w -extra
        language: system
        files: \.go$
        pass_filenames: true

      - id: go-vet
        name: go vet
        entry: go vet ./...
        language: system
        files: \.go$
        pass_filenames: false

      - id: golangci-lint
        name: golangci-lint
        entry: golangci-lint run --fix
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        files: (go\.mod|go\.sum)$
        pass_filenames: false

feat: Add HCL/Terraform validation and formatting to write-back pipeline
  cmd/mount.go
  docs/ARCHITECTURE.md
  go.mod
  go.sum
  internal/fs/root.go
  internal/writeback/format.go
  internal/writeback/format_test.go
  internal/writeback/validate.go
  tests/integration_test.go
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

docs: Update language support across all docs
  CLAUDE.md
  README.md
  docs/ARCHITECTURE.md
  docs/ROADMAP.md
Due: none

feat: Add Rust (.rs) tree-sitter support
  CLAUDE.md
  README.md
  cmd/mount.go
  docs/ROADMAP.md
  internal/ingest/engine.go
  internal/ingest/engine_languages.go
  internal/writeback/validate.go
Due: gofumpt, go-vet, golangci-lint

feat: Add Level 6 (callers/) to Arena benchmark
  scripts/arena.sh
Due: none

Add HCL, Terraform, and YAML support (#33)
  CLAUDE.md
  README.md
  cmd/mount.go
  docs/ARCHITECTURE.md
  docs/ROADMAP.md
  go.mod
  go.sum
  internal/fs/root.go
  internal/ingest/engine.go
  internal/ingest/engine_languages.go
  internal/ingest/sitter_walker.go
  internal/ingest/sitter_walker_test.go
  internal/writeback/format.go
  internal/writeback/format_test.go
  internal/writeback/validate.go
  scripts/arena.sh
  tests/integration_test.go
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

feat(mache): add support for leyline arena compatibility
  cmd/mount.go
  internal/graph/arena.go
Due: gofumpt, go-vet, golangci-lint

revert(mache): remove hot-swap workaround
  cmd/mount.go
Due: gofumpt, go-vet, golangci-lint

fix: robust mache integration
  cmd/mount.go
  internal/ingest/engine.go
Due: gofumpt, go-vet, golangci-lint

fix: skip binary files and handle cross-language selector mismatches
  .pre-commit-config.yaml
  cmd/mount.go
  internal/graph/arena.go
  internal/ingest/binary_filter_test.go
  internal/ingest/engine.go
Due: gofumpt, go-vet, golangci-lint

feat: route non-AST files to _project_files/ during tree-sitter ingestion
  internal/ingest/binary_filter_test.go
  internal/ingest/engine.go
  internal/ingest/raw_file_test.go
Due: gofumpt, go-vet, golangci-lint

fix: auto-create mount point directory if it doesn't exist
  cmd/mount.go
Due: gofumpt, go-vet, golangci-lint

fix: arena temp file leaks, retry timeouts, and validation
  cmd/mount.go
  internal/graph/arena.go
  internal/ingest/engine.go
Due: gofumpt, go-vet, golangci-lint

feat: _project_files/ for non-AST files in tree-sitter mounts (#34)
  .pre-commit-config.yaml
  cmd/mount.go
  internal/graph/arena.go
  internal/ingest/binary_filter_test.go
  internal/ingest/engine.go
  internal/ingest/raw_file_test.go
Due: gofumpt, go-vet, golangci-lint

feat: Add optimized SQLite schema, build command, and demo recording
  cmd/build.go
  demo.cast
  demo.gif
  internal/graph/sqlite_graph.go
  internal/ingest/engine.go
  internal/ingest/sqlite_writer.go
  scripts/arena.sh
Due: gofumpt, go-vet, golangci-lint

feat: Arena write-back, deterministic mtime, and refs consolidation
  cmd/mount.go
  internal/fs/root.go
  internal/graph/arena.go
  internal/graph/arena_writer.go
  internal/graph/arena_writer_test.go
  internal/graph/sqlite_graph.go
  internal/graph/writable_graph.go
  internal/ingest/engine.go
  internal/ingest/sitter_walker.go
  internal/ingest/sqlite_writer.go
  internal/nfsmount/graphfs.go
Due: gofumpt, go-vet, golangci-lint

fix: arena.sh syntax error — `fi` on same line as `exit 0`
  scripts/arena.sh
Due: none

build: fix linux cross-compilation and update demo automation
  .github/workflows/release.yml
  .goreleaser.yaml
  demo.gif
  demo.tape
  scripts/arena.sh
Due: none

build: fix linux cross-compilation, enhance demo automation, and add GIF to README
  README.md
Due: none

feat: SQLite metadata schema, arena write-back, deterministic mtime (#35)
  .github/workflows/release.yml
  .goreleaser.yaml
  README.md
  cmd/build.go
  cmd/mount.go
  demo.cast
  demo.gif
  demo.tape
  internal/fs/root.go
  internal/graph/arena.go
  internal/graph/arena_writer.go
  internal/graph/arena_writer_test.go
  internal/graph/sqlite_graph.go
  internal/graph/writable_graph.go
  internal/ingest/engine.go
  internal/ingest/sitter_walker.go
  internal/ingest/sqlite_writer.go
  internal/nfsmount/graphfs.go
  scripts/arena.sh
Due: gofumpt, go-vet, golangci-lint

feat: Add callees/ virtual directory for forward-link navigation (Phase 1)
  cmd/mount.go
  internal/fs/root.go
  internal/graph/graph.go
  internal/graph/hotswap.go
  internal/graph/sqlite_graph.go
  internal/graph/writable_graph.go
  internal/ingest/engine.go
  internal/ingest/sqlite_writer.go
  internal/nfsmount/graphfs.go
Due: gofumpt, go-vet, golangci-lint

feat: Import-aware qualified callees resolution (Phase 2)
  cmd/mount.go
  internal/graph/graph.go
  internal/graph/sqlite_graph.go
  internal/ingest/engine.go
  internal/ingest/engine_languages.go
  internal/ingest/sitter_walker.go
  internal/ingest/sqlite_writer.go
Due: gofumpt, go-vet, golangci-lint

perf: Intern file context — extract imports once per file, share across constructs
  internal/ingest/engine.go
  internal/ingest/engine_records.go
Due: gofumpt, go-vet, golangci-lint

fix: Address PR #36 review — race conditions, DRY, parser pooling
  cmd/mount.go
  internal/fs/root.go
  internal/graph/graph.go
  internal/graph/sqlite_graph.go
  internal/graph/vdirpath.go
  internal/nfsmount/graphfs.go
Due: gofumpt, go-vet, golangci-lint

perf: Intern file context — extract imports once per file, share across constructs (#36)
  cmd/mount.go
  internal/fs/root.go
  internal/graph/graph.go
  internal/graph/hotswap.go
  internal/graph/sqlite_graph.go
  internal/graph/vdirpath.go
  internal/graph/writable_graph.go
  internal/ingest/engine.go
  internal/ingest/engine_languages.go
  internal/ingest/engine_records.go
  internal/ingest/sitter_walker.go
  internal/ingest/sqlite_writer.go
  internal/nfsmount/graphfs.go
Due: gofumpt, go-vet, golangci-lint

feat: Add agent mode with git-aware naming and mount management
  README.md
  cmd/agent.go
  cmd/mount.go
  internal/ingest/engine.go
Due: gofumpt, go-vet, golangci-lint

feat: Fix schema bloat, add lazy source mounts, improve agent UX
  cmd/agent.go
  cmd/mount.go
  internal/graph/sqlite_graph.go
  internal/ingest/engine.go
  internal/lattice/project_ast.go
  internal/lattice/project_ast_test.go
  internal/nfsmount/graphfs.go
Due: gofumpt, go-vet, golangci-lint

feat: Add language-aware AST enrichment for HCL/Terraform
  api/schema.go
  cmd/mount.go
  internal/ingest/engine.go
  internal/ingest/language.go
  internal/ingest/sitter_flatten.go
  internal/lattice/grammar_introspect_test.go
  internal/lattice/infer.go
  internal/lattice/project.go
  internal/lattice/project_ast.go
  tests/integration_test.go
Due: gofumpt, go-vet, golangci-lint

feat: Add progress indicators during schema inference
  cmd/mount.go
Due: gofumpt, go-vet, golangci-lint

feat: Fix Terraform/HCL schema inference via language-aware enrichment (#38)
  README.md
  api/schema.go
  cmd/agent.go
  cmd/mount.go
  internal/graph/sqlite_graph.go
  internal/ingest/engine.go
  internal/ingest/language.go
  internal/ingest/sitter_flatten.go
  internal/lattice/grammar_introspect_test.go
  internal/lattice/infer.go
  internal/lattice/project.go
  internal/lattice/project_ast.go
  internal/lattice/project_ast_test.go
  internal/nfsmount/graphfs.go
  tests/integration_test.go
Due: gofumpt, go-vet, golangci-lint

feat: --out flag for leyline integration (Phase 1 read-only)
  cmd/leyline.go
  cmd/leyline_test.go
  cmd/mount.go
Due: gofumpt, go-vet, golangci-lint

fix: address PR #39 review comments
  cmd/leyline.go
  cmd/leyline_test.go
  cmd/mount.go
Due: gofumpt, go-vet, golangci-lint

feat: --out flag for leyline integration (#39)
  cmd/leyline.go
  cmd/leyline_test.go
  cmd/mount.go
Due: gofumpt, go-vet, golangci-lint

fix: Post-mortem bugs — dir size, NFS ownership, 4-arg flags, FUSE PROMPT.txt
  cmd/mount.go
  examples/cli-schema.json
  internal/fs/root.go
  internal/nfsmount/graphfs.go
Due: gofumpt, go-vet, golangci-lint

feat: add leyline C FFI Go wrapper for vector search
  internal/leyline/client.go
Due: gofumpt, go-vet, golangci-lint

fix: gate leyline FFI behind build tag to unbreak CI
  internal/leyline/client.go
  internal/leyline/doc.go
Due: gofumpt, go-vet, golangci-lint

fix: Post-mortem bugs — dir size, NFS ownership, 4-arg flags, FUSE PROMPT.txt (#41)
  cmd/mount.go
  examples/cli-schema.json
  internal/fs/root.go
  internal/leyline/client.go
  internal/leyline/doc.go
  internal/nfsmount/graphfs.go
Due: gofumpt, go-vet, golangci-lint

feat: Add friendly-name grouping to ProjectAST schema inference
  internal/ingest/language.go
  internal/lattice/project_ast.go
  internal/lattice/project_ast_test.go
  tests/integration_test.go
Due: gofumpt, go-vet, golangci-lint

feat: Add friendly-name grouping to ProjectAST schema inference (#42)
  internal/ingest/language.go
  internal/lattice/project_ast.go
  internal/lattice/project_ast_test.go
  tests/integration_test.go
Due: gofumpt, go-vet, golangci-lint

docs: Update README, ARCHITECTURE, and add Prior Art landscape analysis
  README.md
  docs/ARCHITECTURE.md
  docs/PRIOR_ART.md
Due: none

docs: Update README, ARCHITECTURE, and add Prior Art landscape analysis (#43)
  README.md
  docs/ARCHITECTURE.md
  docs/PRIOR_ART.md
Due: none
