Repository agentic-research/mache: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofumpt, go-vet, golangci-lint, go-mod-tidy

.pre-commit-config.yaml:

repos:
  # Basic file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending

  # Go-specific checks (all use locally installed tools)
  - repo: local
    hooks:
      - id: gofumpt
        name: gofumpt
        entry: gofumpt -w -extra
        language: system
        files: \.go$
        pass_filenames: true

      - id: go-vet
        name: go vet
        entry: bash -c 'if [ "$(uname)" = "Darwin" ] && [ -d /Library/Frameworks/fuse_t.framework ]; then export CGO_CFLAGS="-I/Library/Frameworks/fuse_t.framework/Versions/Current/Headers" CGO_LDFLAGS="-F/Library/Frameworks -framework fuse_t -Wl,-rpath,/Library/Frameworks"; fi && go vet ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: golangci-lint
        name: golangci-lint
        entry: bash -c 'if [ "$(uname)" = "Darwin" ] && [ -d /Library/Frameworks/fuse_t.framework ]; then export CGO_CFLAGS="-I/Library/Frameworks/fuse_t.framework/Versions/Current/Headers" CGO_LDFLAGS="-F/Library/Frameworks -framework fuse_t -Wl,-rpath,/Library/Frameworks"; fi && golangci-lint run --fix'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        files: (go\.mod|go\.sum)$
        pass_filenames: false

[mache-0ca7e6] docs(ci): describe required aggregate gates (#566)
  CONTRIBUTING.md
Due: none

[mache-5159a2] fix(leyline): reject malformed sheaf wire values
  .beads/beads.jsonl
  internal/leyline/sheaf.go
  internal/leyline/sheaf_subscriber.go
  internal/leyline/sheaf_subscriber_test.go
  internal/leyline/sheaf_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-a5ad09] feat(leyline): consume v0.10.4 typed wire API
  cmd/uds_graph.go
  go.mod
  go.sum
  internal/leyline/binary_pin.go
  internal/leyline/binary_pin_test.go
  internal/leyline/sheaf.go
  internal/leyline/sheaf_subscriber.go
  internal/leyline/sheaf_subscriber_test.go
  internal/leyline/sheaf_test.go
  internal/leyline/socket.go
  internal/leyline/wire.go
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

[mache-a5ad09] chore(beads): close typed wire adoption
  .beads/beads.jsonl
Due: none

[mache-a5ad09] fix(leyline): preserve typed wire error semantics
  cmd/uds_graph.go
  internal/leyline/sheaf_subscriber.go
  internal/leyline/sheaf_subscriber_test.go
  internal/leyline/socket.go
Due: gofumpt, go-vet, golangci-lint

[mache-9fc7c5] refactor(leyline): split dispatch + drop the equalRegionIDs clone
  internal/leyline/sheaf_subscriber.go
  internal/leyline/sheaf_subscriber_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-9fc7c5] chore(server-json): regenerate for the v0.10.4 dep bump
  server.json
Due: none

[mache-4b8a42] fix(sqlite): declare nodes.record TEXT, not JSON
  cmd/dead_code_skip_list_retreat_test.go
  cmd/duplicate_definitions_rust_test.go
  cmd/falsifiability_skip_list_ablation_test.go
  cmd/kind_discriminator_leyline_ast_test.go
  cmd/leyline_crosslang_smells_test.go
  cmd/leyline_test.go
  cmd/serve_find_smells_bench_test.go
  cmd/serve_find_smells_test.go
  cmd/untested_function_leyline_test.go
  graph/sqlite.go
  internal/graph/context_roundtrip_test.go
  internal/graph/graph_suite_test.go
  internal/graph/nodes_table_properties_test.go
  internal/graph/props_compat_test.go
  internal/graph/props_sql_test.go
  internal/graph/sqlite_graph_lookupdef_test.go
  internal/graph/sqlite_graph_nodehash_test.go
  internal/ingest/ast_walker_bench_test.go
  internal/ingest/ast_walker_calls_test.go
  internal/ingest/ast_walker_core_test.go
  internal/ingest/ast_walker_test.go
  internal/ingest/inner_scope_test.go
  internal/ingest/sqlite_writer.go
  internal/ingest/sqlite_writer_affinity_test.go
  internal/materialize/json_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-6bed54] fix(sqlite): bind record as TEXT from both writers
  internal/graph/writable_graph_storage_class_test.go
  internal/ingest/sqlite_writer.go
Due: gofumpt, go-vet, golangci-lint

[mache-a5ad09] feat(leyline): adopt ley-line-open v0.10.4 typed wire (#567)
  .beads/beads.jsonl
  cmd/uds_graph.go
  go.mod
  go.sum
  internal/leyline/binary_pin.go
  internal/leyline/binary_pin_test.go
  internal/leyline/sheaf.go
  internal/leyline/sheaf_subscriber.go
  internal/leyline/sheaf_subscriber_test.go
  internal/leyline/sheaf_test.go
  internal/leyline/socket.go
  internal/leyline/wire.go
  server.json
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

[mache-c725e9] fix(ingest): stop silently dropping constructs on name collision
  internal/ingest/engine.go
  internal/ingest/engine_walk.go
Due: gofumpt, go-vet, golangci-lint

[mache-e3d9bb] test(graph): pin whether each backend populates GetNode().Children
  internal/graph/graph_suite_test.go
Due: gofumpt, go-vet, golangci-lint

fix(sqlite): nodes.record — TEXT affinity, and one storage class from both writers (#569)
  cmd/dead_code_skip_list_retreat_test.go
  cmd/duplicate_definitions_rust_test.go
  cmd/falsifiability_skip_list_ablation_test.go
  cmd/kind_discriminator_leyline_ast_test.go
  cmd/leyline_crosslang_smells_test.go
  cmd/leyline_test.go
  cmd/serve_find_smells_bench_test.go
  cmd/serve_find_smells_test.go
  cmd/untested_function_leyline_test.go
  graph/sqlite.go
  internal/graph/context_roundtrip_test.go
  internal/graph/graph_suite_test.go
  internal/graph/nodes_table_properties_test.go
  internal/graph/props_compat_test.go
  internal/graph/props_sql_test.go
  internal/graph/sqlite_graph_lookupdef_test.go
  internal/graph/sqlite_graph_nodehash_test.go
  internal/graph/writable_graph_storage_class_test.go
  internal/ingest/ast_walker_bench_test.go
  internal/ingest/ast_walker_calls_test.go
  internal/ingest/ast_walker_core_test.go
  internal/ingest/ast_walker_test.go
  internal/ingest/inner_scope_test.go
  internal/ingest/sqlite_writer.go
  internal/ingest/sqlite_writer_affinity_test.go
  internal/materialize/json_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-8ecfd7] fix(smells): exclude Cargo tests/, benches/, examples/ from dead_code
  cmd/rules/dead_code.json
Due: none

fix(ingest): stop silently dropping constructs on name collision (P0) (#570)
  internal/graph/graph_suite_test.go
  internal/ingest/engine.go
  internal/ingest/engine_walk.go
Due: gofumpt, go-vet, golangci-lint

[mache-438104] fix(build): record which leyline produced a .db in _mache_meta
  cmd/build_meta.go
  cmd/build_meta_leyline_test.go
  cmd/serve.go
  internal/leyline/provenance_record.go
  internal/leyline/provenance_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-438104] fix(build): record which leyline produced a .db in _mache_meta (#572)
  cmd/build_meta.go
  cmd/build_meta_leyline_test.go
  cmd/serve.go
  internal/leyline/provenance_record.go
  internal/leyline/provenance_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-0acdf6] fix(leyline): namespace the binary cache by pinned version
  Taskfile.yml
  internal/leyline/binary_cache_path.go
  internal/leyline/binary_cache_path_test.go
  internal/leyline/resolve_binary_test.go
  internal/leyline/socket.go
Due: gofumpt, go-vet, golangci-lint

[mache-0acdf6] fix(taskfile): install the PINNED leyline by default; add leyline:doctor
  Taskfile.yml
Due: none

[mache-0acdf6] fix(leyline): surface daemon pin drift; add MACHE_LEYLINE_BINARY dev override
  internal/leyline/binary_override.go
  internal/leyline/binary_override_test.go
  internal/leyline/socket.go
  internal/leyline/version_check.go
Due: gofumpt, go-vet, golangci-lint

[mache-8ecfd7] fix(smells): exclude Cargo tests/, benches/, examples/ from dead_code (#571)
  cmd/rules/dead_code.json
Due: none

[mache-e64f36] test(lint): enforce the LLO data-plane boundary as a ratchet
  internal/lint/llo_boundary_test.go
Due: gofumpt, go-vet, golangci-lint

fix(leyline): namespace the binary cache by pinned version (#574)
  Taskfile.yml
  internal/leyline/binary_cache_path.go
  internal/leyline/binary_cache_path_test.go
  internal/leyline/binary_override.go
  internal/leyline/binary_override_test.go
  internal/leyline/resolve_binary_test.go
  internal/leyline/socket.go
  internal/leyline/version_check.go
Due: gofumpt, go-vet, golangci-lint

[mache-e64f36] test(lint): enforce the LLO data-plane boundary as a ratchet (#575)
  internal/lint/llo_boundary_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-438104] chore(leyline): automate the pin bump; make the lineage warning unmissable
  Taskfile.yml
Due: none

[mache-438104] chore(leyline): adopt ley-line-open v0.11.3
  docs/smell-baseline.json
  go.mod
  go.sum
  internal/leyline/binary_pin.go
  internal/leyline/binary_pin_test.go
  internal/leyline/socket.go
  server.json
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

chore(leyline): adopt ley-line-open v0.11.3 (+ pin-bump automation) (#573)
  Taskfile.yml
  docs/smell-baseline.json
  go.mod
  go.sum
  internal/leyline/binary_pin.go
  internal/leyline/binary_pin_test.go
  internal/leyline/socket.go
  server.json
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

[mache-c7d56d] feat(smells): detect Rust test constructs structurally via v_test_nodes
  cmd/rules/dead_code.json
  cmd/rules/duplicate_definitions.json
  cmd/rules/fan_out_skew.json
  cmd/smell_refs_views.go
  cmd/smell_test_nodes.go
  cmd/smell_test_nodes_test.go
  docs/smell-baseline.json
Due: gofumpt, go-vet, golangci-lint

[mache-c7d56d] feat(smells): detect Rust test constructs structurally via v_test_nodes (#576)
  cmd/rules/dead_code.json
  cmd/rules/duplicate_definitions.json
  cmd/rules/fan_out_skew.json
  cmd/smell_refs_views.go
  cmd/smell_test_nodes.go
  cmd/smell_test_nodes_test.go
  docs/smell-baseline.json
Due: gofumpt, go-vet, golangci-lint

[mache-438104] docs(changelog): v0.20.0 — P0 construct loss, v0.11.3 lineage bump, boundary ratchet
  CHANGELOG.md
Due: none

[mache-438104] docs: correct the leyline cache path; cover v0.20.0
  docs/ARCHITECTURE.md
  docs/README.md
  docs/ROADMAP.md
Due: none

chore(release): v0.20.0 — P0 construct loss, v0.11.3 lineage bump, boundary ratchet (#577)
  CHANGELOG.md
  docs/ARCHITECTURE.md
  docs/README.md
  docs/ROADMAP.md
Due: none

[mache-e3d9bb] refactor(ingest): children have one accessor, correct on every backend
  internal/ingest/engine_ingest.go
  internal/ingest/engine_refs.go
  internal/ingest/engine_walk.go
  internal/ingest/sqlite_writer.go
Due: gofumpt, go-vet, golangci-lint

[mache-e3d9bb] refactor(ingest): children have one accessor, correct on every backend (#578)
  internal/ingest/engine_ingest.go
  internal/ingest/engine_refs.go
  internal/ingest/engine_walk.go
  internal/ingest/sqlite_writer.go
Due: gofumpt, go-vet, golangci-lint

[mache-e3d9bb] docs(changelog): fold the children normalization into v0.20.0
  CHANGELOG.md
Due: none

[mache-e3d9bb] docs(changelog): fold the children normalization into v0.20.0 (#579)
  CHANGELOG.md
Due: none

[mache-438104] chore(leyline): adopt ley-line-open v0.12.1
  Taskfile.yml
  go.mod
  go.sum
  internal/leyline/binary_pin.go
  internal/leyline/binary_pin_test.go
  internal/leyline/socket.go
  server.json
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

[mache-438104] chore(leyline): adopt ley-line-open v0.12.1 (#580)
  Taskfile.yml
  go.mod
  go.sum
  internal/leyline/binary_pin.go
  internal/leyline/binary_pin_test.go
  internal/leyline/socket.go
  server.json
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

[mache-544659] feat(bench): third arm — bounded 80-line window (the free null hypothesis)
  docs/benchmarks/token-efficiency-baseline.json
  tools/token-bench/main.go
  tools/token-bench/main_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-544659] fix(bench): per-ANSWER accounting — the line cap saves nothing
  docs/benchmarks/token-efficiency-baseline.json
  tools/token-bench/ceiling.go
  tools/token-bench/ceiling_test.go
  tools/token-bench/main.go
Due: gofumpt, go-vet, golangci-lint
