Repository agentic-research/mache: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofumpt, go-vet, golangci-lint, go-mod-tidy

.pre-commit-config.yaml:

repos:
  # Basic file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending

  # Go-specific checks (all use locally installed tools)
  - repo: local
    hooks:
      - id: gofumpt
        name: gofumpt
        entry: gofumpt -w -extra
        language: system
        files: \.go$
        pass_filenames: true

      - id: go-vet
        name: go vet
        entry: bash -c 'if [ "$(uname)" = "Darwin" ] && [ -d /Library/Frameworks/fuse_t.framework ]; then export CGO_CFLAGS="-I/Library/Frameworks/fuse_t.framework/Versions/Current/Headers" CGO_LDFLAGS="-F/Library/Frameworks -framework fuse_t -Wl,-rpath,/Library/Frameworks"; fi && go vet ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: golangci-lint
        name: golangci-lint
        entry: bash -c 'if [ "$(uname)" = "Darwin" ] && [ -d /Library/Frameworks/fuse_t.framework ]; then export CGO_CFLAGS="-I/Library/Frameworks/fuse_t.framework/Versions/Current/Headers" CGO_LDFLAGS="-F/Library/Frameworks -framework fuse_t -Wl,-rpath,/Library/Frameworks"; fi && golangci-lint run --fix'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        files: (go\.mod|go\.sum)$
        pass_filenames: false

[mache-966e22] feat(smells): configurable + live-reloadable external smell rules
  cmd/all_tools_e2e_test.go
  cmd/config.go
  cmd/find_smells_cli.go
  cmd/serve.go
  cmd/serve_find_smells.go
  cmd/serve_find_smells_load.go
  cmd/serve_find_smells_load_test.go
  cmd/serve_find_smells_test.go
  cmd/serve_handlers.go
  cmd/serve_registry.go
  cmd/smell_digest.go
  cmd/smell_rules.go
  cmd/smell_rules_config.go
  cmd/smell_rules_config_test.go
  cmd/smell_rules_external.go
Due: gofumpt, go-vet, golangci-lint

[mache-966e22] feat(smells): configurable + live-reloadable external smell rules (#490)
  cmd/all_tools_e2e_test.go
  cmd/config.go
  cmd/find_smells_cli.go
  cmd/serve.go
  cmd/serve_find_smells.go
  cmd/serve_find_smells_load.go
  cmd/serve_find_smells_load_test.go
  cmd/serve_find_smells_test.go
  cmd/serve_handlers.go
  cmd/serve_registry.go
  cmd/smell_digest.go
  cmd/smell_rules.go
  cmd/smell_rules_config.go
  cmd/smell_rules_config_test.go
  cmd/smell_rules_external.go
Due: gofumpt, go-vet, golangci-lint

[mache-1ecdbe] ci(release): verify the published image (pullable + runs + cosign-valid)
  .github/workflows/release.yml
Due: none

[mache-1ecdbe] ci(release): verify the published image (pullable + runs + cosign-valid) (#491)
  .github/workflows/release.yml
Due: none

[mache-e1fa1f] feat(graph): connected-components community split + O(E) modularity
  cmd/pack.go
  internal/graph/community.go
  internal/graph/community_split_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-ff7e31] fix(graph): make community detection deterministic
  internal/graph/community.go
  internal/graph/community_split_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-3a0da5] fix(leyline): make version-probe timeout overridable to de-flake under -race
  internal/leyline/provenance.go
  internal/leyline/provenance_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-3a0da5] fix(leyline): make version-probe timeout overridable to de-flake under -race (#493)
  internal/leyline/provenance.go
  internal/leyline/provenance_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-ffabd1] test(smells): one-to-many node_hash fan-out guard
  cmd/serve_find_smells_fanout_test.go
  internal/graph/sqlite_graph_nodehash_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-ff9a9d] feat(smells): additive node_hash passthrough on v_defs/v_refs
  cmd/serve_find_smells_nodehash_test.go
  cmd/smell_refs_views.go
Due: gofumpt, go-vet, golangci-lint

[mache-3f0d59] chore(release): bump leyline pin to v0.6.0 (merkle IR producer)
  go.mod
  go.sum
  internal/leyline/socket.go
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

[mache-f0e96a] feat(lint): gate-preflight — static guard for external tools in gate tasks
  Taskfile.yml
  go.mod
  go.sum
  internal/lint/tool_preflight.go
  internal/lint/tool_preflight_test.go
  tools/gate-preflight/main.go
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

[mache-f0e96a] feat(lint): guard container/network tools (docker/curl/wget) too
  Taskfile.yml
  internal/lint/tool_preflight.go
  internal/lint/tool_preflight_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-787675] chore(release): v0.15.0 — merkle IR reader + leyline v0.6.0
  internal/buildinfo/version.txt
  melange.yaml
  server.json
Due: none

[mache-b0b979] feat(smells): externalize builtin rules to embedded JSON + enforce gate on PRs
  .github/workflows/find-smells.yml
  cmd/rules/cyclomatic_complexity.json
  cmd/rules/dead_code.json
  cmd/rules/drift_doc_broken_internal_link.json
  cmd/rules/drift_doc_dead_symbol_reference.json
  cmd/rules/drift_doc_outdated_count.json
  cmd/rules/duplicate_code.json
  cmd/rules/duplicate_definitions.json
  cmd/rules/fan_out_skew.json
  cmd/rules/god_file.json
  cmd/rules/long_file.json
  cmd/rules/long_function.json
  cmd/rules/magic_int_in_comparison.json
  cmd/rules/sleep_in_test.json
  cmd/rules/untested_function.json
  cmd/serve_find_smells_load.go
  cmd/smell_rules.go
  cmd/smell_rules_embed_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-e5ffd9] chore(release): v0.16.0 — gate-preflight lint + smell rules as embedded JSON
  internal/buildinfo/version.txt
  melange.yaml
  server.json
Due: none

[mache-03745c] fix(server-json): OCI identifier carries :v<version> tag, drop version field (v0.16.1)
  internal/buildinfo/version.txt
  melange.yaml
  server.json
  tools/server-json-gen/main.go
  tools/server-json-gen/main_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-e4c4ea] feat(sheaf): consume LLO v0.6+ watcher-driven invalidate payload
  cmd/sheaf_subscribe.go
  cmd/sheaf_subscribe_test.go
  internal/graph/sheaf_invalidate.go
  internal/graph/sheaf_invalidate_test.go
  internal/leyline/sheaf_subscriber.go
  internal/leyline/sheaf_subscriber_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-e4c4ea] feat(sheaf): consume LLO v0.6+ watcher-driven invalidate payload (#500)
  cmd/sheaf_subscribe.go
  cmd/sheaf_subscribe_test.go
  internal/graph/sheaf_invalidate.go
  internal/graph/sheaf_invalidate_test.go
  internal/leyline/sheaf_subscriber.go
  internal/leyline/sheaf_subscriber_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-39e443] fix(server-json): align packages[].oci with ADR-0041 — tagless identifier + version=git-tag (v0.16.2)
  internal/buildinfo/version.txt
  melange.yaml
  server.json
  tools/server-json-gen/main.go
  tools/server-json-gen/main_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-30c634] chore(sheaf): drop dead sheaf.invalidate subscription
  internal/leyline/sheaf_subscriber.go
  internal/leyline/sheaf_subscriber_e2e_test.go
  internal/leyline/sheaf_subscriber_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-30c634] chore(smells): update baseline after dropping sheaf.invalidate sub
  docs/smell-baseline.json
Due: none

chore(sheaf): drop dead sheaf.invalidate subscription (bead mache-30c634) (#502)
  docs/smell-baseline.json
  internal/leyline/sheaf_subscriber.go
  internal/leyline/sheaf_subscriber_e2e_test.go
  internal/leyline/sheaf_subscriber_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-a23c37] docs: accuracy pass through v0.16.2
  CHANGELOG.md
  docs/ARCHITECTURE.md
  docs/ARENA.md
  docs/PRIOR_ART.md
  docs/ROADMAP.md
  docs/adr/0023-unified-code-fact-ir.md
  docs/competitive-landscape-2026.md
  docs/smell-debt-baseline-2026-06-24.md
Due: none

[mache-238673] feat(smells): node_hash-memoized cyclomatic_complexity
  cmd/find_smells_bench_test.go
  cmd/smell_findings_incremental_test.go
  cmd/smell_incremental.go
Due: gofumpt, go-vet, golangci-lint

[mache-238673] test(smells): address self-review of the cyclomatic memo
  cmd/find_smells_bench_test.go
  cmd/smell_findings_incremental_test.go
  cmd/smell_incremental.go
Due: gofumpt, go-vet, golangci-lint

[mache-238673] feat(smells): node_hash-memoized cyclomatic_complexity (#504)
  cmd/find_smells_bench_test.go
  cmd/smell_findings_incremental_test.go
  cmd/smell_incremental.go
Due: gofumpt, go-vet, golangci-lint
