Repository agentic-research/mache: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofumpt, go-vet, golangci-lint, go-mod-tidy

.pre-commit-config.yaml:

repos:
  # Basic file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending

  # Go-specific checks (all use locally installed tools)
  - repo: local
    hooks:
      - id: gofumpt
        name: gofumpt
        entry: gofumpt -w -extra
        language: system
        files: \.go$
        pass_filenames: true

      - id: go-vet
        name: go vet
        entry: bash -c 'if [ "$(uname)" = "Darwin" ] && [ -d /Library/Frameworks/fuse_t.framework ]; then export CGO_CFLAGS="-I/Library/Frameworks/fuse_t.framework/Versions/Current/Headers" CGO_LDFLAGS="-F/Library/Frameworks -framework fuse_t -Wl,-rpath,/Library/Frameworks"; fi && go vet ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: golangci-lint
        name: golangci-lint
        entry: bash -c 'if [ "$(uname)" = "Darwin" ] && [ -d /Library/Frameworks/fuse_t.framework ]; then export CGO_CFLAGS="-I/Library/Frameworks/fuse_t.framework/Versions/Current/Headers" CGO_LDFLAGS="-F/Library/Frameworks -framework fuse_t -Wl,-rpath,/Library/Frameworks"; fi && golangci-lint run --fix'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        files: (go\.mod|go\.sum)$
        pass_filenames: false

feat(cmd): e2e MCP tool harness with per-tool latency/alloc profile (mache-6b6da6 phase 1) (#360)
  .gitignore
  Taskfile.yml
  cmd/all_tools_e2e_test.go
Due: gofumpt, go-vet, golangci-lint

feat(cmd): pprof CPU + heap capture per MCP tool (mache-6b6da6 phase 2)
  Taskfile.yml
  cmd/all_tools_e2e_test.go
Due: gofumpt, go-vet, golangci-lint

fix(cmd): address Copilot review on phase 2 pprof harness
  Taskfile.yml
  cmd/all_tools_e2e_test.go
Due: gofumpt, go-vet, golangci-lint

feat(cmd): heap delta + real flamegraphs (mache-6b6da6 phase 3)
  .gitignore
  Taskfile.yml
  cmd/all_tools_e2e_test.go
Due: gofumpt, go-vet, golangci-lint

feat(cmd): pprof CPU + heap capture per MCP tool (mache-6b6da6 phase 2) (#361)
  .gitignore
  Taskfile.yml
  cmd/all_tools_e2e_test.go
Due: gofumpt, go-vet, golangci-lint

perf(graph): memoize DefsMap + RefsMap snapshots (mache-6b6da6 phase 3)
  internal/graph/graph.go
  internal/graph/snapshot_cache_test.go
Due: gofumpt, go-vet, golangci-lint

perf(graph): memoize DefsMap + RefsMap snapshots (mache-6b6da6 phase 3) (#362)
  internal/graph/graph.go
  internal/graph/snapshot_cache_test.go
Due: gofumpt, go-vet, golangci-lint

docs: capture e2e harness + DefsMap/RefsMap memoization in README/ARCHITECTURE
  README.md
  docs/ARCHITECTURE.md
Due: none

docs: ADR-0014 — locate mache in the constellation
  docs/ARCHITECTURE.md
  docs/adr/0014-mache-in-constellation.md
Due: none

docs: fix Copilot review on PR #363 — tool counts + file paths + -short semantics
  README.md
  docs/ARCHITECTURE.md
Due: none

docs: substantive correction to ADR-0014 — separate canonical capnp logs from .db projection (Copilot review)
  docs/adr/0014-mache-in-constellation.md
Due: none

docs: capture e2e harness + DefsMap/RefsMap memoization (#363)
  README.md
  docs/ARCHITECTURE.md
Due: none

docs: ADR-0014 — locate mache in the constellation (#364)
  docs/ARCHITECTURE.md
  docs/adr/0014-mache-in-constellation.md
Due: none

feat: migrate from generation-polling to current_root for arena hot-swap
  cmd/mount.go
  internal/control/control.go
  internal/graph/arena.go
  internal/graph/arena_test.go
  internal/graph/arena_writer.go
  internal/graph/arena_writer_test.go
Due: gofumpt, go-vet, golangci-lint

fix: address Copilot review on T2.4 migration
  go.mod
  go.sum
  internal/control/control.go
  internal/graph/arena.go
  internal/graph/arena_writer.go
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

doc(control): soften GetArenaPath fencing claim
  internal/control/control.go
Due: gofumpt, go-vet, golangci-lint

feat: migrate from generation-polling to current_root for arena hot-swap (#365)
  cmd/mount.go
  go.mod
  go.sum
  internal/control/control.go
  internal/graph/arena.go
  internal/graph/arena_test.go
  internal/graph/arena_writer.go
  internal/graph/arena_writer_test.go
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

docs: CHANGELOG for v0.8.0
  CHANGELOG.md
Due: none

docs: CHANGELOG for v0.8.0 (#366)
  CHANGELOG.md
Due: none

docs: post-v0.8.0 hygiene pass
  docs/ROADMAP.md
  docs/go-parsing-status.md
Due: none

docs: drop LLO acronym, fix positioning + factual drift
  CHANGELOG.md
  GETTING-STARTED.md
  README.md
  docs/ARCHITECTURE.md
  docs/PRIOR_ART.md
  docs/ROADMAP.md
  docs/competitive-landscape-2026.md
Due: none

docs: address Copilot review on #367
  GETTING-STARTED.md
  docs/ARCHITECTURE.md
  docs/PRIOR_ART.md
  docs/ROADMAP.md
Due: none

docs: post-v0.8.0 hygiene — drop LLO, fix positioning, sweep factual drift (#367)
  CHANGELOG.md
  GETTING-STARTED.md
  README.md
  docs/ARCHITECTURE.md
  docs/PRIOR_ART.md
  docs/ROADMAP.md
  docs/competitive-landscape-2026.md
  docs/go-parsing-status.md
Due: none

docs: post-leyline-pairing refresh + frontmatter lint
  Taskfile.yml
  docs/ARCHITECTURE.md
  docs/ARENA.md
  docs/PRIOR_ART.md
  docs/ROADMAP.md
  docs/adr/0006-syntax-aware-write-protection.md
  docs/adr/0015-syntax-aware-write-protection.md
  docs/competitive-landscape-2026.md
  docs/schemas/go.md
  scripts/docs-lint.sh
Due: none

docs: address Copilot review on PR #368
  docs/adr/0007-git-object-graph-as-fs-projection.md
  docs/adr/0009-ast-aware-write-pipeline.md
  docs/adr/0015-syntax-aware-write-protection.md
  scripts/docs-lint.sh
Due: none

docs: post-leyline-pairing refresh + frontmatter lint (#368)
  Taskfile.yml
  docs/ARCHITECTURE.md
  docs/ARENA.md
  docs/PRIOR_ART.md
  docs/ROADMAP.md
  docs/adr/0006-syntax-aware-write-protection.md
  docs/adr/0007-git-object-graph-as-fs-projection.md
  docs/adr/0009-ast-aware-write-pipeline.md
  docs/adr/0015-syntax-aware-write-protection.md
  docs/competitive-landscape-2026.md
  docs/schemas/go.md
  scripts/docs-lint.sh
Due: none

docs: ADR-0016 cross-language reference resolver + stack-graphs in landscape
  docs/ARCHITECTURE.md
  docs/adr/0016-cross-language-reference-resolver.md
  docs/competitive-landscape-2026.md
Due: none

docs: ADR-0016 cross-language reference resolver + stack-graphs in landscape (#369)
  docs/ARCHITECTURE.md
  docs/adr/0016-cross-language-reference-resolver.md
  docs/competitive-landscape-2026.md
Due: none

[mache-172a50] feat: add apko + melange in-repo (retire kiln dep)
  .gitignore
  README.md
  Taskfile.yml
  apko.yaml
  melange.yaml
Due: none

[mache-3bf414] refactor: consume leyline-schema v0.2.1, drop forked capnp
  Taskfile.yml
  cmd/dead_code_skip_list_retreat_test.go
  cmd/serve_find_smells_views_test.go
  docs/ARCHITECTURE.md
  go.mod
  go.sum
  internal/leyline/schema/daemon.capnp
  internal/leyline/schema/daemon.capnp.go
  internal/lsp/binding_log.go
  internal/lsp/binding_log_test.go
  internal/lsp/bindings/binding.capnp.go
  internal/lsp/bindings/bindings_smoke_test.go
  internal/lsp/bindings/common.capnp.go
  schemas/README.md
  schemas/binding.capnp
  schemas/common.capnp
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

[mache-172a50] fix: address PR #370 review nits
  README.md
  Taskfile.yml
  internal/lsp/binding_log.go
Due: gofumpt, go-vet, golangci-lint

feat: in-repo apko/melange image + leyline-schema v0.2.1 consumer (#370)
  .gitignore
  README.md
  Taskfile.yml
  apko.yaml
  cmd/dead_code_skip_list_retreat_test.go
  cmd/serve_find_smells_views_test.go
  docs/ARCHITECTURE.md
  go.mod
  go.sum
  internal/leyline/schema/daemon.capnp
  internal/leyline/schema/daemon.capnp.go
  internal/lsp/binding_log.go
  internal/lsp/binding_log_test.go
  internal/lsp/bindings/binding.capnp.go
  internal/lsp/bindings/bindings_smoke_test.go
  internal/lsp/bindings/common.capnp.go
  melange.yaml
  schemas/README.md
  schemas/binding.capnp
  schemas/common.capnp
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

[mache-98b9bf] feat: route read-only --control mount through UDS, drop ExtractActiveDB on that path
  README.md
  cmd/mount.go
  docs/ARCHITECTURE.md
  internal/leyline/socket.go
  internal/leyline/socket_test.go
Due: gofumpt, go-vet, golangci-lint

chore(ci): remove kiln cross-repo dispatch (archived)
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

[mache-98b9bf] fix: address Copilot review on PR #371
  cmd/uds_graph.go
  internal/leyline/socket.go
Due: gofumpt, go-vet, golangci-lint

[mache-a55625] fix(uds): parse list_children objects, revert mount.go switch pending GetCallees
  cmd/mount.go
  cmd/uds_graph.go
  cmd/uds_graph_test.go
  docs/ARCHITECTURE.md
Due: gofumpt, go-vet, golangci-lint

fix: address Copilot 2nd review on PR #371
  .github/workflows/release.yml
  README.md
  cmd/uds_graph.go
  cmd/uds_graph_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-a5e4ea][mache-98b9bf] feat: consume LLO 0.2.2 find_callees op, re-apply mount --control UDS switch
  cmd/mount.go
  cmd/uds_graph.go
  cmd/uds_graph_test.go
  docs/ARCHITECTURE.md
  go.mod
  go.sum
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

fix: address Copilot 3rd review on PR #371
  cmd/mount.go
  internal/leyline/socket_test.go
Due: gofumpt, go-vet, golangci-lint

feat: kill ExtractActiveDB on --control, consume LLO 0.2.2 find_callees (#371)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  README.md
  cmd/mount.go
  cmd/uds_graph.go
  cmd/uds_graph_test.go
  docs/ARCHITECTURE.md
  go.mod
  go.sum
  internal/leyline/socket.go
  internal/leyline/socket_test.go
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy
