Repository agentic-research/mache: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofumpt, go-vet, golangci-lint, go-mod-tidy

.pre-commit-config.yaml:

repos:
  # Basic file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending

  # Go-specific checks (all use locally installed tools)
  - repo: local
    hooks:
      - id: gofumpt
        name: gofumpt
        entry: gofumpt -w -extra
        language: system
        files: \.go$
        pass_filenames: true

      - id: go-vet
        name: go vet
        entry: bash -c 'if [ "$(uname)" = "Darwin" ] && [ -d /Library/Frameworks/fuse_t.framework ]; then export CGO_CFLAGS="-I/Library/Frameworks/fuse_t.framework/Versions/Current/Headers" CGO_LDFLAGS="-F/Library/Frameworks -framework fuse_t -Wl,-rpath,/Library/Frameworks"; fi && go vet ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: golangci-lint
        name: golangci-lint
        entry: bash -c 'if [ "$(uname)" = "Darwin" ] && [ -d /Library/Frameworks/fuse_t.framework ]; then export CGO_CFLAGS="-I/Library/Frameworks/fuse_t.framework/Versions/Current/Headers" CGO_LDFLAGS="-F/Library/Frameworks -framework fuse_t -Wl,-rpath,/Library/Frameworks"; fi && golangci-lint run --fix'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        files: (go\.mod|go\.sum)$
        pass_filenames: false

[mache-544659] fix(bench): charge arm A cat -n prefixes; report paired-ratio median
  docs/benchmarks/token-efficiency-baseline.json
  tools/token-bench/main.go
  tools/token-bench/main_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-544659] feat(bench): derive the retrieval-reduction ceiling per corpus
  docs/benchmarks/token-efficiency-baseline.json
  tools/token-bench/ceiling.go
  tools/token-bench/ceiling_test.go
  tools/token-bench/main.go
Due: gofumpt, go-vet, golangci-lint

[mache-544659] feat(bench): grep-then-read policy column; finish gate decomposition
  docs/benchmarks/token-efficiency-baseline.json
  tools/token-bench/ceiling_test.go
  tools/token-bench/containment.go
  tools/token-bench/main.go
Due: gofumpt, go-vet, golangci-lint

[mache-544659] feat(bench): programmatic containment sweep; decompose to clear the gate
  docs/benchmarks/token-efficiency-baseline.json
  tools/token-bench/ceiling_test.go
  tools/token-bench/containment.go
  tools/token-bench/main.go
  tools/token-bench/main_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-qzsk] feat(mcp): read_file mode=signatures|map — one-call orientation
  cmd/serve_handler_read_file.go
  cmd/serve_handlers.go
  cmd/serve_read_modes.go
  cmd/serve_read_modes_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-544659] feat(bench): token-efficiency baseline harness (F3/F4)
  docs/benchmarks/token-efficiency-baseline.json
  tools/token-bench/main.go
  tools/token-bench/main_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-544659] chore(bench): regen baseline at HEAD on the v0.12.1-pinned producer
  .beads/beads.jsonl
  .pre-commit-config.yaml
  docs/benchmarks/token-efficiency-baseline.json
Due: none

[mache-544659] token-efficiency bench + read_file modes + leyline resolution hardening (#568)
  .beads/beads.jsonl
  .pre-commit-config.yaml
  cmd/serve_handler_read_file.go
  cmd/serve_handlers.go
  cmd/serve_read_modes.go
  cmd/serve_read_modes_test.go
  docs/benchmarks/token-efficiency-baseline.json
  tools/token-bench/ceiling.go
  tools/token-bench/ceiling_test.go
  tools/token-bench/containment.go
  tools/token-bench/main.go
  tools/token-bench/main_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-50e939] fix(smells): scope fan_out_skew's mean to real constructs, not every v_refs referrer
  cmd/rules/fan_out_skew.json
  cmd/serve_find_smells_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-eb2bf3] feat(smells): implement drift_doc_dead_symbol_reference for real, scoped to Rust
  .pre-commit-config.yaml
  cmd/rules/drift_doc_dead_symbol_reference.json
  cmd/serve_find_smells_test.go
  cmd/smell_doc_refs.go
  cmd/smell_doc_refs_test.go
  cmd/smell_refs_views.go
Due: gofumpt, go-vet, golangci-lint

[mache-438104] chore(leyline): adopt ley-line-open v0.13.0
  go.mod
  go.sum
  internal/leyline/binary_pin.go
  internal/leyline/binary_pin_test.go
  internal/leyline/socket.go
  server.json
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

[mache-eb2bf3] test(smells): dedup the drift_doc_* Registered/ListingExposesIt boilerplate
  cmd/serve_find_smells_test.go
  cmd/smell_doc_refs_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-eb2bf3] docs: sweep the v0.13.0 pin bump and the drift_doc rule going live
  CHANGELOG.md
  docs/ARCHITECTURE.md
  docs/adr/0018-doc-drift-as-executable-specs.md
Due: none

[mache-eb2bf3] style(docs): mdformat table realignment
  docs/ARCHITECTURE.md
Due: none

chore(leyline): adopt v0.13.0, fix fan_out_skew mean pollution, ship drift_doc_dead_symbol_reference (#581)
  .pre-commit-config.yaml
  CHANGELOG.md
  cmd/rules/drift_doc_dead_symbol_reference.json
  cmd/rules/fan_out_skew.json
  cmd/serve_find_smells_test.go
  cmd/smell_doc_refs.go
  cmd/smell_doc_refs_test.go
  cmd/smell_refs_views.go
  docs/ARCHITECTURE.md
  docs/adr/0018-doc-drift-as-executable-specs.md
  go.mod
  go.sum
  internal/leyline/binary_pin.go
  internal/leyline/binary_pin_test.go
  internal/leyline/socket.go
  server.json
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

[mache-9d13b0] docs(examples): the template vocabulary a schema author cannot currently find
  .beads/beads.jsonl
  examples/README.md
Due: none

chore(release): v0.20.0
  CHANGELOG.md
  README.md
  docs/ROADMAP.md
  internal/buildinfo/version.txt
  melange.yaml
  server.json
Due: none

[mache-9d13b0] docs(examples): the template vocabulary a schema author cannot currently find (#582)
  .beads/beads.jsonl
  examples/README.md
Due: none

chore(release): v0.20.0 (#583)
  CHANGELOG.md
  README.md
  docs/ROADMAP.md
  internal/buildinfo/version.txt
  melange.yaml
  server.json
Due: none

[mache-19326d] feat(cli): reach the pinned leyline without depending on PATH
  CHANGELOG.md
  README.md
  cmd/leyline_proxy.go
  cmd/leyline_proxy_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-19326d] test(cli): keep the leyline proxy tests inside the smell ratchet
  cmd/leyline_proxy_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-19326d] feat(cli): mache leyline path / exec — reach the pinned leyline without depending on PATH (#584)
  CHANGELOG.md
  README.md
  cmd/leyline_proxy.go
  cmd/leyline_proxy_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-19326d] test(ci): verify a real mache installation, not the source tree
  .github/workflows/ci.yml
  CHANGELOG.md
  Taskfile.yml
  tests/installverify/docker_test.go
  tests/installverify/installverify_test.go
  tests/installverify/leyline_pin_test.go
  tests/installverify/mcp_client_test.go
  tests/installverify/mcp_test.go
  tests/installverify/testdata/fixture/go.mod
  tests/installverify/testdata/fixture/pkg/checksum.go
  tests/installverify/version_test.go
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

[mache-e7c825] test(docs): gate documented CLI invocations against the live cobra tree
  CHANGELOG.md
  GETTING-STARTED.md
  README.md
  cmd/docs_cli_surface_test.go
  cmd/version_singlesource_test.go
  docs/README.md
  examples/README.md
Due: gofumpt, go-vet, golangci-lint

[mache-19326d] test(installverify): parse versions structurally, not with regex
  tests/installverify/docker_test.go
  tests/installverify/leyline_pin_test.go
  tests/installverify/version_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-e7c825] test(docs): gate documented CLI invocations against the live cobra tree (#585)
  CHANGELOG.md
  GETTING-STARTED.md
  README.md
  cmd/docs_cli_surface_test.go
  cmd/version_singlesource_test.go
  docs/README.md
  examples/README.md
Due: gofumpt, go-vet, golangci-lint

[mache-19326d] test(ci): verify a real mache installation, not the source tree (#586)
  .github/workflows/ci.yml
  CHANGELOG.md
  Taskfile.yml
  tests/installverify/docker_test.go
  tests/installverify/installverify_test.go
  tests/installverify/leyline_pin_test.go
  tests/installverify/mcp_client_test.go
  tests/installverify/mcp_test.go
  tests/installverify/testdata/fixture/go.mod
  tests/installverify/testdata/fixture/pkg/checksum.go
  tests/installverify/version_test.go
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

[mache-19326d] feat(cli): mache install / uninstall — provisioning without a checkout
  CHANGELOG.md
  GETTING-STARTED.md
  README.md
  cmd/install.go
  cmd/install_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-19326d] test(installverify): distinguish a foreign binary from a rebased one
  tests/installverify/version_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-19326d] test(installverify): assert the SHIPPED binary can install itself
  tests/installverify/install_cmd_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-19326d] feat(cli): mache install / uninstall — provisioning without a checkout (#587)
  CHANGELOG.md
  GETTING-STARTED.md
  README.md
  cmd/install.go
  cmd/install_test.go
  tests/installverify/install_cmd_test.go
  tests/installverify/version_test.go
Due: gofumpt, go-vet, golangci-lint

fix(mcp): .mcp.json registered stdio, which ADR-0022 says never to register
  .mcp.json
Due: none

feat(install): restart the supervised daemon so a new binary is actually served
  Taskfile.yml
  cmd/daemon_agent.go
  cmd/daemon_cmd.go
  cmd/daemon_restart_test.go
  cmd/install.go
Due: gofumpt, go-vet, golangci-lint

fix(install): restart the supervised daemon; .mcp.json registered the wrong transport (#588)
  .mcp.json
  Taskfile.yml
  cmd/daemon_agent.go
  cmd/daemon_cmd.go
  cmd/daemon_restart_test.go
  cmd/install.go
Due: gofumpt, go-vet, golangci-lint

fix(test): reap the daemon's child process group; assert daemon == installed
  internal/leyline/sheaf_e2e_test.go
  internal/leyline/sheaf_orphan_test.go
  internal/leyline/sheaf_subscriber_e2e_test.go
  tests/installverify/daemon_version_test.go
Due: gofumpt, go-vet, golangci-lint

fix(test): reap the daemon's child process group; assert daemon == installed (#589)
  internal/leyline/sheaf_e2e_test.go
  internal/leyline/sheaf_orphan_test.go
  internal/leyline/sheaf_subscriber_e2e_test.go
  tests/installverify/daemon_version_test.go
Due: gofumpt, go-vet, golangci-lint

fix(build): rebuild when the git stamp moves, not just when a file does
  Taskfile.yml
Due: none

fix(build): rebuild when the git stamp moves, not just when a file does (#590)
  Taskfile.yml
Due: none

fix: address the pr-review-kit findings on #588/#589
  Taskfile.yml
  internal/leyline/daemon_lifecycle_test.go
  internal/leyline/sheaf_cascade_bench_test.go
  internal/leyline/sheaf_orphan_test.go
  tests/installverify/daemon_version_test.go
Due: gofumpt, go-vet, golangci-lint

fix(test): stub the supervisor STATE query, not just the action
  cmd/daemon_restart_test.go
Due: gofumpt, go-vet, golangci-lint
