Repository agentic-research/mache: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofumpt, go-vet, golangci-lint, go-mod-tidy

.pre-commit-config.yaml:

repos:
  # Basic file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending

  # Go-specific checks (all use locally installed tools)
  - repo: local
    hooks:
      - id: gofumpt
        name: gofumpt
        entry: gofumpt -w -extra
        language: system
        files: \.go$
        pass_filenames: true

      - id: go-vet
        name: go vet
        entry: bash -c 'if [ "$(uname)" = "Darwin" ] && [ -d /Library/Frameworks/fuse_t.framework ]; then export CGO_CFLAGS="-I/Library/Frameworks/fuse_t.framework/Versions/Current/Headers" CGO_LDFLAGS="-F/Library/Frameworks -framework fuse_t -Wl,-rpath,/Library/Frameworks"; fi && go vet ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: golangci-lint
        name: golangci-lint
        entry: bash -c 'if [ "$(uname)" = "Darwin" ] && [ -d /Library/Frameworks/fuse_t.framework ]; then export CGO_CFLAGS="-I/Library/Frameworks/fuse_t.framework/Versions/Current/Headers" CGO_LDFLAGS="-F/Library/Frameworks -framework fuse_t -Wl,-rpath,/Library/Frameworks"; fi && golangci-lint run --fix'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        files: (go\.mod|go\.sum)$
        pass_filenames: false

[mache-117c0a] chore(beads): trunk refresh — 15 record(s) (#701)
  .beads/beads.jsonl
Due: none

[mache-1e2caa] chore(deps): land the six overnight dependabot bumps in one branch
  .github/workflows/release.yml
  go.mod
  go.sum
Due: go-mod-tidy

[mache-1e2caa] chore(deps): land the six overnight dependabot bumps in one branch (#708)
  .github/workflows/release.yml
  go.mod
  go.sum
Due: go-mod-tidy

[mache-55faa4] feat(lint): gate a merge on a changelog entry, with an explicit opt-out
  .github/workflows/ci.yml
  CHANGELOG.md
  Taskfile.yml
  internal/lint/changelog_entry_test.go
  internal/lint/flamegraphs_test.go
  scripts/changelog-entry-check.sh
Due: gofumpt, go-vet, golangci-lint

[mache-55faa4] feat(lint): gate a merge on a changelog entry, with an explicit opt-out (#709)
  .github/workflows/ci.yml
  CHANGELOG.md
  Taskfile.yml
  internal/lint/changelog_entry_test.go
  internal/lint/flamegraphs_test.go
  scripts/changelog-entry-check.sh
Due: gofumpt, go-vet, golangci-lint

[mache-8bf5fa] chore(deps): land the mcp-go 1.1.0 and hcl 2.25.0 bumps in one branch
  go.mod
  go.sum
Due: go-mod-tidy

[mache-8bf5fa] chore(deps): land the mcp-go 1.1.0 and hcl 2.25.0 bumps in one branch (#712)
  go.mod
  go.sum
Due: go-mod-tidy

[mache-be17ce] refactor(smells): read LLO's schema through views, not column names
  CHANGELOG.md
  docs/smell-baseline.json
  examples/smell-rules/README.md
  examples/smell-rules/fatal_call_in_library.json
  examples/smell-rules/long_test_function.json
  examples/smell-rules/long_unexported_function.json
  examples/smell-rules/uncanonicalized-path-identity.json
  internal/lint/llo_schema_boundary_test.go
  internal/smells/find_smells_cli_test.go
  internal/smells/rule_requires_resolve_test.go
  internal/smells/rules/cyclomatic_complexity.json
  internal/smells/rules/dead_code.json
  internal/smells/rules/drift_doc_broken_internal_link.json
  internal/smells/rules/drift_doc_dead_symbol_reference.json
  internal/smells/rules/drift_doc_outdated_count.json
  internal/smells/rules/duplicate_code.json
  internal/smells/rules/duplicate_definitions.json
  internal/smells/rules/fan_out_skew.json
  internal/smells/rules/god_file.json
  internal/smells/rules/long_file.json
  internal/smells/rules/long_function.json
  internal/smells/rules/magic_int_in_comparison.json
  internal/smells/rules/sleep_in_test.json
  internal/smells/rules/untested_function.json
  internal/smells/serve_find_smells.go
  internal/smells/serve_find_smells_test.go
  internal/smells/smell_refs_views.go
  internal/smells/smell_schema_views.go
Due: gofumpt, go-vet, golangci-lint

[mache-be17ce] refactor(smells): read LLO's schema through views, not column names (#713)
  CHANGELOG.md
  docs/smell-baseline.json
  examples/smell-rules/README.md
  examples/smell-rules/fatal_call_in_library.json
  examples/smell-rules/long_test_function.json
  examples/smell-rules/long_unexported_function.json
  examples/smell-rules/uncanonicalized-path-identity.json
  internal/lint/llo_schema_boundary_test.go
  internal/smells/find_smells_cli_test.go
  internal/smells/rule_requires_resolve_test.go
  internal/smells/rules/cyclomatic_complexity.json
  internal/smells/rules/dead_code.json
  internal/smells/rules/drift_doc_broken_internal_link.json
  internal/smells/rules/drift_doc_dead_symbol_reference.json
  internal/smells/rules/drift_doc_outdated_count.json
  internal/smells/rules/duplicate_code.json
  internal/smells/rules/duplicate_definitions.json
  internal/smells/rules/fan_out_skew.json
  internal/smells/rules/god_file.json
  internal/smells/rules/long_file.json
  internal/smells/rules/long_function.json
  internal/smells/rules/magic_int_in_comparison.json
  internal/smells/rules/sleep_in_test.json
  internal/smells/rules/untested_function.json
  internal/smells/serve_find_smells.go
  internal/smells/serve_find_smells_test.go
  internal/smells/smell_refs_views.go
  internal/smells/smell_schema_views.go
Due: gofumpt, go-vet, golangci-lint

[mache-8178a5] fix(disk): bound the parse cache and reap orphaned temp dbs
  CHANGELOG.md
  Taskfile.yml
  internal/leylinegraph/auto.go
  internal/leylinegraph/reap.go
  internal/leylinegraph/reap_test.go
  internal/projcfg/endpoint.go
  internal/projcfg/endpoint_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-8178a5] fix(disk): bound the parse cache and reap orphaned temp dbs (#714)
  CHANGELOG.md
  Taskfile.yml
  internal/leylinegraph/auto.go
  internal/leylinegraph/reap.go
  internal/leylinegraph/reap_test.go
  internal/projcfg/endpoint.go
  internal/projcfg/endpoint_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-8178a5] fix(disk): reap sidecars whose db is already gone
  CHANGELOG.md
  internal/leylinegraph/auto.go
  internal/leylinegraph/parsecache.go
  internal/leylinegraph/reap.go
  internal/leylinegraph/reap_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-8178a5] fix(disk): reap sidecars whose db is already gone (#718)
  CHANGELOG.md
  internal/leylinegraph/auto.go
  internal/leylinegraph/parsecache.go
  internal/leylinegraph/reap.go
  internal/leylinegraph/reap_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-be17ce] refactor(ingest): one definition of the canonical views, not two
  CHANGELOG.md
  internal/fixturedb/schema_standalone.go
  internal/fixturedb/schema_standalone_conformance_test.go
  internal/ingest/sqlite_writer.go
  internal/ingest/sqlite_writer_test.go
  internal/lint/llo_boundary_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-be17ce] refactor(ingest): one definition of the canonical views, not two (#720)
  CHANGELOG.md
  internal/fixturedb/schema_standalone.go
  internal/fixturedb/schema_standalone_conformance_test.go
  internal/ingest/sqlite_writer.go
  internal/ingest/sqlite_writer_test.go
  internal/lint/llo_boundary_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-3dbaad] chore(deps): land the ojg, sqlite and mcp-go bumps in one branch
  go.mod
  go.sum
Due: go-mod-tidy

[mache-3dbaad] chore(deps): land the ojg, sqlite and mcp-go bumps in one branch (#719)
  go.mod
  go.sum
Due: go-mod-tidy

[mache-be17ce] refactor(lloschema): the LLO schema boundary is its own package
  CHANGELOG.md
  docs/smell-baseline.json
  graph/lloschema_boundary_test.go
  internal/lint/decomp_invariants_test.go
  internal/lloschema/lloschema.go
  internal/lloschema/lloschema_test.go
  internal/lloschema/schema_views.go
  internal/lloschema/views.go
  internal/lloschema/views_test.go
  internal/mcpserve/serve_lsp.go
  internal/smells/falsifiability_skip_list_ablation_test.go
  internal/smells/find_smells_cli.go
  internal/smells/serve_find_smells_views_test.go
  internal/smells/smell_findings.go
  internal/smells/smell_incremental.go
  internal/smells/smell_refs_views.go
  internal/smells/smell_refs_views_api_test.go
  internal/smells/smell_vendored.go
Due: gofumpt, go-vet, golangci-lint

[mache-be17ce] refactor(lloschema): the LLO schema boundary is its own package (#721)
  CHANGELOG.md
  docs/smell-baseline.json
  graph/lloschema_boundary_test.go
  internal/lint/decomp_invariants_test.go
  internal/lloschema/lloschema.go
  internal/lloschema/lloschema_test.go
  internal/lloschema/schema_views.go
  internal/lloschema/views.go
  internal/lloschema/views_test.go
  internal/mcpserve/serve_lsp.go
  internal/smells/falsifiability_skip_list_ablation_test.go
  internal/smells/find_smells_cli.go
  internal/smells/serve_find_smells_views_test.go
  internal/smells/smell_findings.go
  internal/smells/smell_incremental.go
  internal/smells/smell_refs_views.go
  internal/smells/smell_refs_views_api_test.go
  internal/smells/smell_vendored.go
Due: gofumpt, go-vet, golangci-lint

[mache-be17ce] test(fixturedb): the projection-v6 schema mirror, derived and verified
  internal/fixturedb/schema_leyline_v6.go
  internal/fixturedb/schema_leyline_v6_conformance_test.go
  internal/lint/llo_boundary_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-be17ce] test(fixturedb): the projection-v6 schema mirror, derived and verified (#722)
  internal/fixturedb/schema_leyline_v6.go
  internal/fixturedb/schema_leyline_v6_conformance_test.go
  internal/lint/llo_boundary_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-3dbaad] chore(deps): land the go-task and go-billy bumps in one branch
  go.mod
  go.sum
  go.work
Due: go-mod-tidy

[mache-3063fb] perf(graph): compile each read statement once, not once per call
  CHANGELOG.md
  graph/nodes_row.go
  graph/nodes_table_prepare_test.go
  graph/nodes_table_reader.go
  graph/prepared_stmt.go
  graph/sqlite_graph.go
  graph/writable_graph.go
  internal/sqlcount/sqlcount.go
  internal/sqlcount/sqlcount_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-3063fb] perf(graph): compile each read statement once, not once per call (#726)
  CHANGELOG.md
  graph/nodes_row.go
  graph/nodes_table_prepare_test.go
  graph/nodes_table_reader.go
  graph/prepared_stmt.go
  graph/sqlite_graph.go
  graph/writable_graph.go
  internal/sqlcount/sqlcount.go
  internal/sqlcount/sqlcount_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-21c210] fix(build): publish the output db in one rename, not in place
  CHANGELOG.md
  build/publish_test.go
  build/schema.go
  cmd/build.go
  cmd/mount.go
  cmd/snapshot_test.go
  cmd/utils.go
  internal/buildcache/cache.go
  internal/daemonguard/daemonguard.go
  internal/fsutil/publish.go
  internal/fsutil/publish_test.go
  internal/projcfg/fsatomic.go
  internal/projcfg/project_registry.go
  internal/projcfg/project_registry_auto_test.go
  internal/projcfg/project_registry_lock.go
Due: gofumpt, go-vet, golangci-lint

[mache-21c210] fix(build): publish the output db in one rename, not in place (#727)
  CHANGELOG.md
  build/publish_test.go
  build/schema.go
  cmd/build.go
  cmd/mount.go
  cmd/snapshot_test.go
  cmd/utils.go
  internal/buildcache/cache.go
  internal/daemonguard/daemonguard.go
  internal/fsutil/publish.go
  internal/fsutil/publish_test.go
  internal/projcfg/fsatomic.go
  internal/projcfg/project_registry.go
  internal/projcfg/project_registry_auto_test.go
  internal/projcfg/project_registry_lock.go
Due: gofumpt, go-vet, golangci-lint

[mache-be17ce] refactor(fixturedb): each producer owns its table shape through a dialect
  internal/fixturedb/build.go
  internal/fixturedb/builder_test.go
  internal/fixturedb/dialect.go
  internal/fixturedb/dialect_v4.go
  internal/fixturedb/emit.go
  internal/fixturedb/producer.go
  internal/fixturedb/schema_leyline_v6.go
Due: gofumpt, go-vet, golangci-lint

[mache-be17ce] refactor(fixturedb): each producer owns its table shape through a dialect (#728)
  internal/fixturedb/build.go
  internal/fixturedb/builder_test.go
  internal/fixturedb/dialect.go
  internal/fixturedb/dialect_v4.go
  internal/fixturedb/emit.go
  internal/fixturedb/producer.go
  internal/fixturedb/schema_leyline_v6.go
Due: gofumpt, go-vet, golangci-lint
