Repository agentic-research/mache: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofumpt, go-vet, golangci-lint, go-mod-tidy

.pre-commit-config.yaml:

repos:
  # Basic file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending

  # Go-specific checks (all use locally installed tools)
  - repo: local
    hooks:
      - id: gofumpt
        name: gofumpt
        entry: gofumpt -w -extra
        language: system
        files: \.go$
        pass_filenames: true

      - id: go-vet
        name: go vet
        entry: bash -c 'if [ "$(uname)" = "Darwin" ] && [ -d /Library/Frameworks/fuse_t.framework ]; then export CGO_CFLAGS="-I/Library/Frameworks/fuse_t.framework/Versions/Current/Headers" CGO_LDFLAGS="-F/Library/Frameworks -framework fuse_t -Wl,-rpath,/Library/Frameworks"; fi && go vet ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: golangci-lint
        name: golangci-lint
        entry: bash -c 'if [ "$(uname)" = "Darwin" ] && [ -d /Library/Frameworks/fuse_t.framework ]; then export CGO_CFLAGS="-I/Library/Frameworks/fuse_t.framework/Versions/Current/Headers" CGO_LDFLAGS="-F/Library/Frameworks -framework fuse_t -Wl,-rpath,/Library/Frameworks"; fi && golangci-lint run --fix'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        files: (go\.mod|go\.sum)$
        pass_filenames: false

[mache-22fecf] fix(smells): duplicate_definitions false-positive on leyline Rust methods
  cmd/duplicate_definitions_rust_test.go
  cmd/rules/duplicate_definitions.json
Due: gofumpt, go-vet, golangci-lint

[mache-22fecf] fix(smells): also exclude LLO-Go method_declaration (not Rust-only)
  cmd/duplicate_definitions_rust_test.go
  cmd/rules/duplicate_definitions.json
Due: gofumpt, go-vet, golangci-lint

[mache-22fecf] fix(smells): duplicate_definitions false-positive on leyline methods (Go + Rust) (#505)
  cmd/duplicate_definitions_rust_test.go
  cmd/rules/duplicate_definitions.json
Due: gofumpt, go-vet, golangci-lint

[mache-463612] docs(adr): ADR-0024 incremental dataflow & taint as substrate queries
  docs/adr/0024-incremental-dataflow-taint-as-substrate-queries.md
Due: none

[mache-463612] docs(adr): ADR-0024 incremental dataflow & taint as substrate queries (#506)
  docs/adr/0024-incremental-dataflow-taint-as-substrate-queries.md
Due: none

[mache-2350ec] chore(deps): adopt ley-line-open v0.7.0
  go.mod
  go.sum
  internal/leyline/socket.go
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

[mache-caaae9] fix(smells): extend duplicate_definitions + dead_code to leyline's per-language taxonomy
  cmd/leyline_crosslang_smells_test.go
  cmd/rules/dead_code.json
  cmd/rules/duplicate_definitions.json
Due: gofumpt, go-vet, golangci-lint

[mache-2350ec] chore(deps): adopt ley-line-open v0.7.0 (#507)
  go.mod
  go.sum
  internal/leyline/socket.go
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

[mache-caaae9] fix(smells): extend duplicate_definitions + dead_code to leyline's per-language taxonomy (#508)
  cmd/leyline_crosslang_smells_test.go
  cmd/rules/dead_code.json
  cmd/rules/duplicate_definitions.json
Due: gofumpt, go-vet, golangci-lint

[mache-46af85] fix(build): add go:embed'd assets to build-task sources
  .gitignore
  Taskfile.yml
Due: none

[mache-46af85] fix(build): add go:embed'd assets to build-task sources (#513)
  .gitignore
  Taskfile.yml
Due: none

[mache-9cd0f5] fix(ci): raise go test -timeout to 20m (macOS integration flake)
  Taskfile.yml
Due: none

[mache-9cd0f5] fix(ci): raise go test -timeout to 20m (macOS integration flake) (#514)
  Taskfile.yml
Due: none

[mache-466a65] feat(ci): actionlint + yamllint gates, wired 1:1 with CI
  .github/workflows/ci.yml
  .yamllint
  Taskfile.yml
Due: none

[mache-466a65] feat(ci): actionlint + yamllint gates, wired 1:1 with CI (#515)
  .github/workflows/ci.yml
  .yamllint
  Taskfile.yml
Due: none

[mache-46af85] feat(leyline): use ONLY the pinned leyline version (SHA-verified downloads)
  internal/leyline/binary_pin.go
  internal/leyline/binary_pin_test.go
  internal/leyline/resolve_binary_test.go
  internal/leyline/socket.go
  internal/leyline/socket_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-46af85] feat(leyline): use ONLY the pinned leyline version (SHA-verified downloads) (#516)
  internal/leyline/binary_pin.go
  internal/leyline/binary_pin_test.go
  internal/leyline/resolve_binary_test.go
  internal/leyline/socket.go
  internal/leyline/socket_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-2350ec] chore(deps): adopt ley-line-open v0.7.1 (sheaf-correctness patch)
  go.mod
  go.sum
  internal/leyline/binary_pin.go
  internal/leyline/socket.go
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

[mache-2350ec] chore(deps): adopt ley-line-open v0.7.1 (sheaf-correctness patch) (#517)
  go.mod
  go.sum
  internal/leyline/binary_pin.go
  internal/leyline/socket.go
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

[mache-c380d2] feat(smells): dogfood the _ast rules via a parity-safe leyline gate (git archive)
  .github/workflows/ci.yml
  Taskfile.yml
  cmd/rules/duplicate_code.json
  cmd/rules/long_file.json
  cmd/rules/long_function.json
  docs/smell-baseline-ast.json
Due: none

[mache-c380d2] feat(smells): dogfood the _ast rules via a parity-safe leyline gate (git archive) (#518)
  .github/workflows/ci.yml
  Taskfile.yml
  cmd/rules/duplicate_code.json
  cmd/rules/long_file.json
  cmd/rules/long_function.json
  docs/smell-baseline-ast.json
Due: none

[mache-3dde13] chore(leyline): pin ley-line-open v0.7.5 (SHA-verified)
  internal/leyline/binary_pin.go
  internal/leyline/socket.go
Due: gofumpt, go-vet, golangci-lint

[mache-3dde13] chore(leyline): pin ley-line-open v0.7.5 (SHA-verified) (#519)
  internal/leyline/binary_pin.go
  internal/leyline/socket.go
Due: gofumpt, go-vet, golangci-lint

[mache-ba3dc6] fix(smells): resolve v_refs.referrer_node_id via node_refs.container_node_id
  cmd/serve_find_smells_views_test.go
  cmd/smell_refs_views.go
Due: gofumpt, go-vet, golangci-lint

[mache-ba3dc6] fix(smells): resolve v_refs.referrer_node_id via node_refs.container_node_id (#520)
  cmd/serve_find_smells_views_test.go
  cmd/smell_refs_views.go
Due: gofumpt, go-vet, golangci-lint

[mache-fe558b] docs(readme): reposition pitch around the projection engine
  README.md
Due: none

[mache-fe3a4a] feat(examples): unify the smell-gate consumption surface
  .github/actions/find-smells/README.md
  .github/actions/find-smells/action.yml
  cmd/find_smells_action_test.go
  examples/README.md
  examples/smell-rules/README.md
  examples/smell-rules/fatal_call_in_library.json
  examples/smell-rules/long_test_function.json
Due: gofumpt, go-vet, golangci-lint

[mache-fe3a4a] fix(test): reuse macheRepoRoot instead of duplicating a module-root helper
  cmd/find_smells_action_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-fe558b] docs(readme): correct the MCP tool count (17 -> 18)
  README.md
Due: none

[mache-fe3a4a] docs: precise wording for the schema-warn and rule-skip behaviors
  .github/actions/find-smells/action.yml
  examples/smell-rules/README.md
Due: none

[mache-fe558b] docs(readme): reposition pitch around the projection engine (#521)
  README.md
Due: none

[mache-fe3a4a] feat(examples): smell-rules starter kit + composite-action drift fixes (v0.16.2, schema-input bug) (#522)
  .github/actions/find-smells/README.md
  .github/actions/find-smells/action.yml
  cmd/find_smells_action_test.go
  examples/README.md
  examples/smell-rules/README.md
  examples/smell-rules/fatal_call_in_library.json
  examples/smell-rules/long_test_function.json
Due: gofumpt, go-vet, golangci-lint

[mache-ba24f3] fix(smells): port untested_function to the leyline _ast projection
  cmd/rules/untested_function.json
  cmd/untested_function_leyline_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-608a3c] fix(smells): exclude fixture corpus (testdata/, test_data/) from dead_code
  cmd/rules/dead_code.json
  cmd/serve_find_smells_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-608a3c] fix(leyline): pin exact patch version - LLO patch releases change the _ast schema
  internal/leyline/binary_pin.go
  internal/leyline/binary_pin_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-608a3c] chore(smells): regenerate the unified leyline baseline; drop the ast-gate baseline
  docs/smell-baseline-ast.json
  docs/smell-baseline.json
Due: none

[mache-608a3c] WIP: consolidate smell gate onto leyline (BLOCKED on parity)
  .github/workflows/ci.yml
  Taskfile.yml
  cmd/rules/dead_code.json
  cmd/rules/duplicate_code.json
  cmd/rules/duplicate_definitions.json
  cmd/rules/fan_out_skew.json
  cmd/rules/god_file.json
  cmd/rules/long_file.json
  cmd/rules/long_function.json
  cmd/rules/sleep_in_test.json
  cmd/rules/untested_function.json
  docs/smell-baseline.json
Due: none

[mache-608a3c] WIP: wire container_node_id + canonical_kind into v_refs/v_defs
  cmd/rules/untested_function.json
  cmd/smell_refs_views.go
Due: gofumpt, go-vet, golangci-lint

[mache-608a3c] fix(action): reconcile the action-Taskfile parity contract with the gate-tag scope
  .github/actions/find-smells/README.md
  .github/actions/find-smells/action.yml
  cmd/find_smells_action_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-608a3c] feat(smells): consolidate the smell gate onto leyline _ast — retire the tree-sitter gate (#523)
  .github/actions/find-smells/README.md
  .github/actions/find-smells/action.yml
  .github/workflows/ci.yml
  Taskfile.yml
  cmd/find_smells_action_test.go
  cmd/rules/dead_code.json
  cmd/rules/duplicate_code.json
  cmd/rules/duplicate_definitions.json
  cmd/rules/fan_out_skew.json
  cmd/rules/god_file.json
  cmd/rules/long_file.json
  cmd/rules/long_function.json
  cmd/rules/sleep_in_test.json
  cmd/rules/untested_function.json
  cmd/serve_find_smells_test.go
  cmd/smell_refs_views.go
  cmd/untested_function_leyline_test.go
  docs/smell-baseline-ast.json
  docs/smell-baseline.json
  internal/leyline/binary_pin.go
  internal/leyline/binary_pin_test.go
Due: gofumpt, go-vet, golangci-lint
