Repository agentic-research/mache: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofumpt, go-vet, golangci-lint, go-mod-tidy

gofumpt:
  name: gofumpt
  entry: gofumpt -w -extra
  language: system
  pass_filenames: true

go-vet:
  name: go vet
  entry: go vet ./...
  language: system
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  entry: golangci-lint run --fix
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

feat: NFS mount backend with GraphFS billy adapter
  KERN-INTEGRATION.md
  cmd/mount.go
  go.mod
  go.sum
  internal/nfsmount/file.go
  internal/nfsmount/graphfs.go
  internal/nfsmount/graphfs_test.go
  internal/nfsmount/server.go
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

feat: NFS write-back with splice-on-Close and SETATTR protection
  cmd/mount.go
  internal/nfsmount/file.go
  internal/nfsmount/graphfs.go
  internal/nfsmount/graphfs_test.go
Due: gofumpt, go-vet, golangci-lint

test: add ley-line + mache NFS integration test script
  scripts/leyline-integration-test.sh
Due: none

feat: AST-aware write pipeline with validation gate, ShiftOrigins, and diagnostics (ADR-0009)
  cmd/mount.go
  docs/adr/0009-ast-aware-write-pipeline.md
  internal/fs/root.go
  internal/graph/graph.go
  internal/graph/graph_test.go
  internal/lattice/infer.go
  internal/nfsmount/graphfs.go
  internal/nfsmount/graphfs_test.go
  internal/writeback/validate.go
  internal/writeback/validate_test.go
  scripts/arena.sh
Due: gofumpt, go-vet, golangci-lint

fix(mount): enable recursive directory schema inference
  cmd/mount.go
  scripts/arena.sh
Due: gofumpt, go-vet, golangci-lint

fix(diagnostics): store errors under parent directory path
  cmd/mount.go
  internal/fs/root.go
Due: gofumpt, go-vet, golangci-lint

fix(io): force implicit truncation for 'source' files
  internal/fs/root.go
  internal/nfsmount/graphfs.go
Due: gofumpt, go-vet, golangci-lint

feat: add 'context' virtual file with imports/globals
  internal/fs/root.go
  internal/graph/graph.go
  internal/ingest/engine.go
  internal/ingest/sitter_walker.go
  internal/nfsmount/graphfs.go
Due: gofumpt, go-vet, golangci-lint

docs: update arena prompt to reflect context and truncation features
  scripts/arena.sh
Due: none

docs: update feature matrix and examples for Context feature
  README.md
Due: none

test: update integration test to cover new features (context, truncation, diagnostics)
  tests/integration_test.sh
Due: none

test: restore Plan 9 SQL query verification in integration test
  tests/integration_test.sh
Due: none

refactor: remove deprecated Plan 9 interface (.query) and update docs
  README.md
Due: none

feat: add fuzz-mutate-repair task generator
  Taskfile.yml
  experiments/fuzz_mutate/main.go
  experiments/fuzz_mutate/target/parser.go
  experiments/fuzz_mutate/target/parser_test.go
  experiments/fuzz_mutate/target/testdata/fuzz/FuzzParseToken/582528ddfad69eb5
  experiments/fuzz_mutate/tasks/task_1771121798/crash.txt
  experiments/fuzz_mutate/tasks/task_1771121798/manifest.json
  experiments/fuzz_mutate/tasks/task_1771121798/parser.go
Due: gofumpt, go-vet, golangci-lint

refactor: move fuzz-gen tool from experiments to tools
  Taskfile.yml
  internal/lattice/fuzz_test.go
  tools/fuzz-gen/main.go
  tools/fuzz-gen/target/parser.go
  tools/fuzz-gen/target/parser_test.go
  tools/fuzz-gen/target/testdata/fuzz/FuzzParseToken/582528ddfad69eb5
  tools/fuzz-gen/tasks/task_1771121798/crash.txt
  tools/fuzz-gen/tasks/task_1771121798/manifest.json
  tools/fuzz-gen/tasks/task_1771121798/parser.go
Due: gofumpt, go-vet, golangci-lint

test: remove Plan 9 SQL verification
  tests/integration_test.sh
Due: none

docs: remove Plan 9 usage example
  README.md
Due: none

feat: First Class Agent Experience (Context, Truncation, Diagnostics) (#30)
  KERN-INTEGRATION.md
  README.md
  Taskfile.yml
  cmd/mount.go
  docs/adr/0009-ast-aware-write-pipeline.md
  go.mod
  go.sum
  internal/fs/root.go
  internal/graph/graph.go
  internal/graph/graph_test.go
  internal/ingest/engine.go
  internal/ingest/sitter_walker.go
  internal/lattice/fuzz_test.go
  internal/lattice/infer.go
  internal/nfsmount/file.go
  internal/nfsmount/graphfs.go
  internal/nfsmount/graphfs_test.go
  internal/nfsmount/server.go
  internal/writeback/validate.go
  internal/writeback/validate_test.go
  scripts/arena.sh
  scripts/leyline-integration-test.sh
  tests/integration_test.sh
  tools/fuzz-gen/main.go
  tools/fuzz-gen/target/parser.go
  tools/fuzz-gen/target/parser_test.go
  tools/fuzz-gen/target/testdata/fuzz/FuzzParseToken/582528ddfad69eb5
  tools/fuzz-gen/tasks/task_1771121798/crash.txt
  tools/fuzz-gen/tasks/task_1771121798/manifest.json
  tools/fuzz-gen/tasks/task_1771121798/parser.go
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

feat: implement Draft Mode for invalid writes
  cmd/mount.go
  internal/fs/root.go
  internal/graph/graph.go
Due: gofumpt, go-vet, golangci-lint

docs: update arena prompt and verification for Draft Mode
  scripts/arena.sh
Due: none

fix(nfs): return EACCES for AppleDouble ._ files to reduce log spam
  internal/nfsmount/graphfs.go
Due: gofumpt, go-vet, golangci-lint

test: verify Draft Mode logic in GraphFS
  internal/nfsmount/graphfs_test.go
Due: gofumpt, go-vet, golangci-lint

feat: add Tree-sitter linter (detects nil slices) and expose via _diagnostics/lint
  cmd/mount.go
  internal/linter/linter.go
  internal/nfsmount/graphfs.go
Due: gofumpt, go-vet, golangci-lint

docs: update arena prompt and GEMINI protocol for Linter
  scripts/arena.sh
Due: none

fix(ingest): atomic file node replacement to prevent race conditions
  internal/graph/graph.go
  internal/ingest/engine.go
  internal/ingest/engine_records.go
Due: gofumpt, go-vet, golangci-lint

fix(nfs): prevent caching of diagnostics and silence AppleDouble errors
  internal/nfsmount/graphfs.go
Due: gofumpt, go-vet, golangci-lint

fix(ingest): check buffering target not global store for dedup
  internal/ingest/engine.go
Due: gofumpt, go-vet, golangci-lint

feat: ley-line control block integration and hot-swap graph
  cmd/mount.go
  internal/control/control.go
  internal/graph/hotswap.go
Due: gofumpt, go-vet, golangci-lint

fix: close old graph on hot-swap and make table name configurable
  api/schema.go
  internal/graph/hotswap.go
  internal/graph/sqlite_graph.go
  internal/graph/sqlite_graph_test.go
Due: gofumpt, go-vet, golangci-lint

ci: add darwin/linux matrix for CI and integration tests
  .github/workflows/ci.yml
  .github/workflows/integration.yml
  tests/integration_test.sh
Due: none

ci: test all three backend combinations in integration matrix
  .github/workflows/integration.yml
  tests/integration_test.sh
Due: none

fix(fuse): delegate Create to Open for existing writable nodes
  internal/fs/root.go
Due: gofumpt, go-vet, golangci-lint

feat: identity-preserving write-back with surgical node update
  KERN-INTEGRATION.md
  README.md
  cmd/mount.go
  go.mod
  go.sum
  internal/fs/root.go
  internal/graph/graph.go
  internal/graph/graph_test.go
  internal/writeback/format.go
  internal/writeback/format_test.go
  internal/writeback/splice_test.go
  internal/writeback/validate.go
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

fix: normalize node IDs in MemoryStore + replace shell integration tests with Go
  .github/workflows/integration.yml
  internal/graph/graph.go
  internal/graph/graph_test.go
  tests/integration_test.go
  tests/integration_test.sh
Due: gofumpt, go-vet, golangci-lint

ci: pass repo-token to setup-task to avoid GitHub API rate limits
  .github/workflows/integration.yml
Due: none

feat: Draft Mode (replace EIO with broken-state preservation) (#31)
  .github/workflows/ci.yml
  .github/workflows/integration.yml
  KERN-INTEGRATION.md
  README.md
  api/schema.go
  cmd/mount.go
  go.mod
  go.sum
  internal/control/control.go
  internal/fs/root.go
  internal/graph/graph.go
  internal/graph/graph_test.go
  internal/graph/hotswap.go
  internal/graph/sqlite_graph.go
  internal/graph/sqlite_graph_test.go
  internal/ingest/engine.go
  internal/ingest/engine_records.go
  internal/linter/linter.go
  internal/nfsmount/graphfs.go
  internal/nfsmount/graphfs_test.go
  internal/writeback/format.go
  internal/writeback/format_test.go
  internal/writeback/splice_test.go
  internal/writeback/validate.go
  scripts/arena.sh
  tests/integration_test.go
  tests/integration_test.sh
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

feat: Add callers/ virtual directory for cross-reference navigation
  CLAUDE.md
  README.md
  docs/ARCHITECTURE.md
  docs/ROADMAP.md
  internal/fs/root.go
  internal/fs/root_test.go
  internal/nfsmount/graphfs.go
  internal/nfsmount/graphfs_test.go
Due: gofumpt, go-vet, golangci-lint

fix: Add parent directory validation to callers/ code paths
  internal/fs/root.go
  internal/nfsmount/graphfs.go
  internal/nfsmount/graphfs_test.go
Due: gofumpt, go-vet, golangci-lint

feat: Add callers/ virtual directory for cross-reference navigation (#32)
  CLAUDE.md
  README.md
  docs/ARCHITECTURE.md
  docs/ROADMAP.md
  internal/fs/root.go
  internal/fs/root_test.go
  internal/nfsmount/graphfs.go
  internal/nfsmount/graphfs_test.go
Due: gofumpt, go-vet, golangci-lint

fix: Address PR review — narrow HCL/YAML queries, nil-tree guard, dedup mount.go
  cmd/mount.go
  internal/ingest/engine_languages.go
  internal/ingest/sitter_walker_test.go
Due: gofumpt, go-vet, golangci-lint

Path conditions:
  gofumpt: any of: \.go$
  go-vet: any of: \.go$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: (go\.mod|go\.sum)$
