Repository agentic-research/mache: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofumpt, go-vet, golangci-lint, go-mod-tidy

.pre-commit-config.yaml:

repos:
  # Basic file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending

  # Go-specific checks (all use locally installed tools)
  - repo: local
    hooks:
      - id: gofumpt
        name: gofumpt
        entry: gofumpt -w -extra
        language: system
        files: \.go$
        pass_filenames: true

      - id: go-vet
        name: go vet
        entry: bash -c 'if [ "$(uname)" = "Darwin" ] && [ -d /Library/Frameworks/fuse_t.framework ]; then export CGO_CFLAGS="-I/Library/Frameworks/fuse_t.framework/Versions/Current/Headers" CGO_LDFLAGS="-F/Library/Frameworks -framework fuse_t -Wl,-rpath,/Library/Frameworks"; fi && go vet ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: golangci-lint
        name: golangci-lint
        entry: bash -c 'if [ "$(uname)" = "Darwin" ] && [ -d /Library/Frameworks/fuse_t.framework ]; then export CGO_CFLAGS="-I/Library/Frameworks/fuse_t.framework/Versions/Current/Headers" CGO_LDFLAGS="-F/Library/Frameworks -framework fuse_t -Wl,-rpath,/Library/Frameworks"; fi && golangci-lint run --fix'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        files: (go\.mod|go\.sum)$
        pass_filenames: false

Adopt leyline v0.15.1 + fix shared-daemon session routing (mache-6ec106) (#604)
  .beads/beads.jsonl
  CHANGELOG.md
  cmd/cli_test.go
  cmd/config.go
  cmd/config_test.go
  cmd/init.go
  cmd/init_test.go
  cmd/project_registry.go
  cmd/project_registry_test.go
  cmd/serve.go
  cmd/serve_hosted.go
  cmd/serve_hosted_test.go
  cmd/serve_registry.go
  cmd/serve_test.go
  docs/smell-baseline.json
  go.mod
  go.sum
  internal/fixturedb/schema_leyline.go
  internal/leyline/binary_pin.go
  internal/leyline/binary_pin_test.go
  internal/leyline/socket.go
  server.json
  tests/installverify/docker_test.go
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

[mache-04972b] fix(test): build the graph.Open fixture via internal/fixturedb, not hand-written DDL
  graph/sqlite_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-04972b] fix(graph): graph.Open facade so LookupDef/QueryRefs actually work when loading a .db as a library
  .beads/beads.jsonl
  CHANGELOG.md
  graph/graph.go
  graph/sqlite.go
  graph/sqlite_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-04972b] chore(smells): rebaseline for graph.Open's new fixture + pick up pre-existing drift
  docs/smell-baseline.json
Due: none

[mache-04972b] chore(smells): drop now-obsolete duplicate_code entries after the rebase
  docs/smell-baseline.json
Due: none

graph.Open facade: fix LookupDef/QueryRefs when loading a .db as a library (mache-04972b) (#605)
  .beads/beads.jsonl
  CHANGELOG.md
  graph/graph.go
  graph/sqlite.go
  graph/sqlite_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-3edd21] feat(graph): Build facade so producing a .db no longer requires the mache CLI
  .beads/beads.jsonl
  CHANGELOG.md
  graph/build.go
  graph/build_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-3edd21] chore(smells): rebaseline
  docs/smell-baseline.json
Due: none

graph.Build facade: producing a .db no longer requires the mache CLI (mache-3edd21) (#606)
  .beads/beads.jsonl
  CHANGELOG.md
  docs/smell-baseline.json
  graph/build.go
  graph/build_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-e6d582] feat(resolve): internal/resolve package (ADR-0016) + GoModResolver, docs(adr): 0025 resolver-body pattern
  .beads/beads.jsonl
  CHANGELOG.md
  docs/adr/0025-resolver-body-native-ecosystem-tooling.md
  docs/adr/README.md
  go.mod
  internal/resolve/gomod_resolver.go
  internal/resolve/gomod_resolver_test.go
  internal/resolve/resolver.go
  internal/resolve/resolver_test.go
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

[mache-e6d582] chore(smells): rebaseline for internal/resolve
  docs/smell-baseline.json
Due: none

[mache-e6d582] chore(lint): allowlist golang.org/x/sync/singleflight
  internal/lint/dep_surface_test.go
Due: gofumpt, go-vet, golangci-lint

internal/resolve: GoModResolver + ADR-0016's first implementation bead, ADR-0025 (mache-e6d582) (#607)
  .beads/beads.jsonl
  CHANGELOG.md
  docs/adr/0025-resolver-body-native-ecosystem-tooling.md
  docs/adr/README.md
  docs/smell-baseline.json
  go.mod
  internal/lint/dep_surface_test.go
  internal/resolve/gomod_resolver.go
  internal/resolve/gomod_resolver_test.go
  internal/resolve/resolver.go
  internal/resolve/resolver_test.go
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

[mache-be0b9f] feat(resolve): mount resolve_ref sub-graphs + gomod scheme; public resolve/ facade
  .beads/beads.jsonl
  CHANGELOG.md
  cmd/serve_handlers.go
  cmd/serve_registry.go
  cmd/serve_resolve_ref.go
  cmd/serve_resolve_ref_test.go
  docs/adr/0016-cross-language-reference-resolver.md
  docs/adr/README.md
  internal/resolve/localpath_resolver.go
  internal/resolve/localpath_resolver_test.go
  resolve/resolve.go
  resolve/resolve_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-be0b9f] refactor(resolve): dedupe resolver build-and-open, split mod-scheme mount out of handler closure
  cmd/serve_resolve_ref.go
  internal/resolve/build_and_open.go
  internal/resolve/gomod_resolver.go
  internal/resolve/gomod_resolver_test.go
  internal/resolve/localpath_resolver.go
  internal/resolve/localpath_resolver_test.go
  resolve/resolve_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-be0b9f] test(resolve): extract shared assertResolveIsCached helper
  internal/resolve/gomod_resolver_test.go
  internal/resolve/localpath_resolver_test.go
  internal/resolve/resolver_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-be0b9f] chore(smells): accept baseline for internal/resolve's remaining low-severity duplicate_code
  docs/smell-baseline.json
Due: none

resolve_ref mounts sub-graphs + gomod scheme; public resolve/ facade (#608)
  .beads/beads.jsonl
  CHANGELOG.md
  cmd/serve_handlers.go
  cmd/serve_registry.go
  cmd/serve_resolve_ref.go
  cmd/serve_resolve_ref_test.go
  docs/adr/0016-cross-language-reference-resolver.md
  docs/adr/README.md
  docs/smell-baseline.json
  internal/resolve/build_and_open.go
  internal/resolve/gomod_resolver.go
  internal/resolve/gomod_resolver_test.go
  internal/resolve/localpath_resolver.go
  internal/resolve/localpath_resolver_test.go
  internal/resolve/resolver_test.go
  resolve/resolve.go
  resolve/resolve_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-d3ac32] chore: track cross-repo bead hygiene review
  .beads/beads.jsonl
Due: none

[mache-e3e19f] fix(leyline): invalidate the shared arena when the spawn configuration changes
  .beads/beads.jsonl
  internal/leyline/arena_config.go
  internal/leyline/arena_config_test.go
  internal/leyline/socket.go
  internal/leyline/socket_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-91956b] fix(serve): forward DBPath through lazyGraph, and pin the whole capability set at compile time
  .beads/beads.jsonl
  cmd/serve_registry.go
  cmd/serve_registry_dbpath_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-95e161] refactor(smells): unify the MCP and CLI response envelopes, and prove parity byte-for-byte
  .beads/beads.jsonl
  cmd/find_smells_cli.go
  cmd/find_smells_parity_test.go
  cmd/serve_find_smells.go
  cmd/smell_findings.go
Due: gofumpt, go-vet, golangci-lint

[mache-95e161] test(smells): drive the parity graph through the production dbQuerier
  .beads/beads.jsonl
  cmd/find_smells_parity_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-95e161] test(smells): reuse smellTestGraph instead of a third QueryRefs shim
  cmd/find_smells_parity_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-e3e19f] fix(serve): invalidate the shared arena on config change; make capability forwarding provable (#610)
  .beads/beads.jsonl
  cmd/find_smells_cli.go
  cmd/find_smells_parity_test.go
  cmd/serve_find_smells.go
  cmd/serve_registry.go
  cmd/serve_registry_dbpath_test.go
  cmd/smell_findings.go
  internal/leyline/arena_config.go
  internal/leyline/arena_config_test.go
  internal/leyline/socket.go
  internal/leyline/socket_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-18caf3] feat(leyline): adopt v0.18.0 — source-blobs CDC target and a --reset-arena that works
  .beads/beads.jsonl
  go.mod
  go.sum
  internal/fixturedb/schema_leyline.go
  internal/leyline/arena_config.go
  internal/leyline/arena_config_test.go
  internal/leyline/binary_pin.go
  internal/leyline/binary_pin_test.go
  internal/leyline/socket.go
  internal/leyline/socket_test.go
  server.json
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

[mache-18caf3] chore(beads): resync bead store after v0.18.0 adoption
  .beads/beads.jsonl
Due: none

[mache-91956b] test(serve): cover find_callers -> lazyGraph -> capnp, the config that was actually broken
  .beads/beads.jsonl
  cmd/serve_registry_dbpath_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-18caf3] feat(leyline): adopt v0.18.0 — source-blobs CDC target and a working --reset-arena (#611)
  .beads/beads.jsonl
  cmd/serve_registry_dbpath_test.go
  go.mod
  go.sum
  internal/fixturedb/schema_leyline.go
  internal/leyline/arena_config.go
  internal/leyline/arena_config_test.go
  internal/leyline/binary_pin.go
  internal/leyline/binary_pin_test.go
  internal/leyline/socket.go
  internal/leyline/socket_test.go
  server.json
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

[mache-77cf75] fix(graph): stop the root listing returning itself, and add the consumer-shaped test that found it
  .beads/beads.jsonl
  examples/publicapi/browse_test.go
  graph/nodes_table_reader.go
  internal/lint/public_api_example_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-9a89cd] chore(smells): re-key the baseline to the moved package paths
  docs/smell-baseline.json
Due: none

[mache-e57065] docs(changelog): record the source-location rung and the root-listing fix
  CHANGELOG.md
Due: none

[mache-e57065] fix(graph): clear the fix-review findings — orphaned doc, a test passing down the wrong path, and a long GetNode
  graph/nodes_table_origin_test.go
  graph/nodes_table_reader.go
Due: gofumpt, go-vet, golangci-lint

[mache-e57065] perf(graph): fold the source-location lookup into GetNode's query, and clear the review findings
  cmd/serve_resolve_ref_test.go
  cmd/sheaf_subscribe_test.go
  ext/boltdb/boltdb.go
  graph/composite.go
  graph/nodes_table_origin_test.go
  graph/nodes_table_reader.go
  graph/sqlite.go
  internal/fixturedb/types.go
  internal/lint/dep_surface_test.go
  resolve/gomod_resolver.go
  resolve/gomod_resolver_test.go
  resolve/localpath_resolver.go
  resolve/resolver.go
Due: gofumpt, go-vet, golangci-lint

[mache-e57065] refactor(graph): rename nodeRow -> nodeScan to clear the duplicate_definitions collision
  graph/nodes_table_reader.go
Due: gofumpt, go-vet, golangci-lint

[mache-e57065] feat(graph): give nodes a source location, completing the browse ladder
  .beads/beads.jsonl
  examples/publicapi/browse_test.go
  graph/graph.go
  graph/nodes_table_origin_test.go
  graph/nodes_table_reader.go
Due: gofumpt, go-vet, golangci-lint

[mache-cb4369] fix(serve): resolve a node's symbol from node_defs, not from its path segment
  .beads/beads.jsonl
  cmd/node_token.go
  cmd/node_token_test.go
  cmd/serve_dataflow.go
  cmd/serve_impact.go
Due: gofumpt, go-vet, golangci-lint
