Repository agentic-research/mache: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofumpt, go-vet, golangci-lint, go-mod-tidy

.pre-commit-config.yaml:

repos:
  # Basic file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending

  # Go-specific checks (all use locally installed tools)
  - repo: local
    hooks:
      - id: gofumpt
        name: gofumpt
        entry: gofumpt -w -extra
        language: system
        files: \.go$
        pass_filenames: true

      - id: go-vet
        name: go vet
        entry: bash -c 'if [ "$(uname)" = "Darwin" ] && [ -d /Library/Frameworks/fuse_t.framework ]; then export CGO_CFLAGS="-I/Library/Frameworks/fuse_t.framework/Versions/Current/Headers" CGO_LDFLAGS="-F/Library/Frameworks -framework fuse_t -Wl,-rpath,/Library/Frameworks"; fi && go vet ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: golangci-lint
        name: golangci-lint
        entry: bash -c 'if [ "$(uname)" = "Darwin" ] && [ -d /Library/Frameworks/fuse_t.framework ]; then export CGO_CFLAGS="-I/Library/Frameworks/fuse_t.framework/Versions/Current/Headers" CGO_LDFLAGS="-F/Library/Frameworks -framework fuse_t -Wl,-rpath,/Library/Frameworks"; fi && golangci-lint run --fix'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        files: (go\.mod|go\.sum)$
        pass_filenames: false

[mache-9ba2ed] fix(release): create a draft, attach assets, then publish
  .beads/beads.jsonl
  .github/workflows/release.yml
Due: none

[mache-9ba2ed] fix(release): create a draft, attach assets, then publish (#617)
  .beads/beads.jsonl
  .github/workflows/release.yml
Due: none

[mache-cb8fb9] fix(graph): resolve callees from the container edge, not from a "source" child that leyline never writes
  examples/publicapi/browse_test.go
  graph/sqlite_graph_callees.go
Due: gofumpt, go-vet, golangci-lint

[mache-6ec106] fix(serve): serialize registry writes — concurrent session resolution was losing 98% of them
  cmd/project_registry.go
  cmd/project_registry_auto_test.go
  cmd/project_registry_lock.go
  graph/sqlite_graph_callees.go
Due: gofumpt, go-vet, golangci-lint

[mache-6ec106] fix(serve): register a project when the daemon learns its root, instead of only in `mache init`
  cmd/project_registry.go
  cmd/project_registry_auto_test.go
  cmd/serve_registry.go
Due: gofumpt, go-vet, golangci-lint

[mache-cb8fb9] fix(graph): resolve callees from the container edge, and serialize project-registry writes (#616)
  cmd/project_registry.go
  cmd/project_registry_auto_test.go
  cmd/project_registry_lock.go
  cmd/serve_registry.go
  examples/publicapi/browse_test.go
  graph/sqlite_graph_callees.go
Due: gofumpt, go-vet, golangci-lint

[mache-c5e114] fix: finish recovered correctness repairs
  .beads/beads.jsonl
  cmd/project_registry.go
  cmd/project_registry_auto_test.go
  cmd/serve_handler_find_definition.go
  cmd/serve_registry.go
  cmd/serve_test.go
  cmd/session_root_recovery_test.go
  examples/smell-rules/uncanonicalized-path-identity.json
  internal/control/control.go
  internal/leyline/arena_config.go
  internal/leyline/arena_config_test.go
  internal/leyline/socket.go
  internal/leyline/socket_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-ce0bcd] fix: stabilize god-file population
  .beads/beads.jsonl
  cmd/rules/god_file.json
  cmd/serve_find_smells_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-ce0bcd] chore: record verified bead closure
  .beads/beads.jsonl
Due: none

[mache-cb4369] test: pin Leyline caller traversal parity
  .beads/beads.jsonl
  cmd/node_token_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-595c96] fix: preserve unavailable graph errors
  cmd/serve_handlers.go
  cmd/serve_registry.go
  cmd/serve_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-5354b1] chore: refresh corrected smell baseline
  docs/smell-baseline.json
Due: none

[mache-595c96] chore: close verified correctness beads
  .beads/beads.jsonl
Due: none

[mache-5e925d] fix: harden cost-quality benchmark output
  benchmarks/cost-quality/bench.py
  benchmarks/cost-quality/test_bench.py
Due: none

fix: recover caller and graph-availability correctness (#618)
  .beads/beads.jsonl
  cmd/node_token_test.go
  cmd/project_registry.go
  cmd/project_registry_auto_test.go
  cmd/rules/god_file.json
  cmd/serve_find_smells_test.go
  cmd/serve_handler_find_definition.go
  cmd/serve_handlers.go
  cmd/serve_registry.go
  cmd/serve_test.go
  cmd/session_root_recovery_test.go
  docs/smell-baseline.json
  examples/smell-rules/uncanonicalized-path-identity.json
  internal/control/control.go
  internal/leyline/arena_config.go
  internal/leyline/arena_config_test.go
  internal/leyline/socket.go
  internal/leyline/socket_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-91beb0] fix(leyline): pin v0.18.2 Terraform refs
  CHANGELOG.md
  cmd/terraform_leyline_refs_test.go
  go.mod
  go.sum
  internal/fixturedb/schema_leyline.go
  internal/leyline/binary_pin.go
  internal/leyline/binary_pin_test.go
  internal/leyline/socket.go
  server.json
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

[mache-91beb0] fix(leyline): pin v0.18.2 Terraform refs (#619)
  CHANGELOG.md
  cmd/terraform_leyline_refs_test.go
  go.mod
  go.sum
  internal/fixturedb/schema_leyline.go
  internal/leyline/binary_pin.go
  internal/leyline/binary_pin_test.go
  internal/leyline/socket.go
  server.json
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

[mache-d3ac32] chore(beads): sync active ledger scope
  .beads/beads.jsonl
Due: none

[mache-da2a40] feat(refs): project Go imports as gomod tokens
  cmd/cli_test.go
  internal/ingest/address_refs_test.go
  internal/ingest/engine_languages.go
  internal/ingest/git_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-da2a40] feat(refs): project Go imports as gomod tokens (#620)
  cmd/cli_test.go
  internal/ingest/address_refs_test.go
  internal/ingest/engine_languages.go
  internal/ingest/git_test.go
Due: gofumpt, go-vet, golangci-lint

fix(ingest/ingest.go): export other schema-projection commands
  ingest/ingest.go
Due: gofumpt, go-vet, golangci-lint

fix(ingest/ingest.go): export other schema-projection commands (#621)
  ingest/ingest.go
Due: gofumpt, go-vet, golangci-lint

[mache-498bc3] chore: record nested-ref bug
  .beads/beads.jsonl
Due: none

[mache-734971] docs: design public schema projection API
  .beads/beads.jsonl
  docs/superpowers/specs/2026-08-12-public-schema-projection-and-nested-refs-design.md
Due: none

[mache-734971] docs: plan public schema projection work
  docs/superpowers/plans/2026-08-12-public-schema-projection-and-nested-refs.md
Due: none

[mache-734971] feat(schema): expose preset and file resolution
  cmd/config.go
  cmd/schemas.go
  schema/presets/bash.json
  schema/presets/c.json
  schema/presets/cli.json
  schema/presets/cpp.json
  schema/presets/csharp.json
  schema/presets/css.json
  schema/presets/cue.json
  schema/presets/dockerfile.json
  schema/presets/elixir.json
  schema/presets/go.json
  schema/presets/groovy.json
  schema/presets/html.json
  schema/presets/java.json
  schema/presets/javascript.json
  schema/presets/kotlin.json
  schema/presets/lua.json
  schema/presets/markdown.json
  schema/presets/mcp-registry.json
  schema/presets/mcp.json
  schema/presets/php.json
  schema/presets/protobuf.json
  schema/presets/python.json
  schema/presets/ruby.json
  schema/presets/rust.json
  schema/presets/scala.json
  schema/presets/sql.json
  schema/presets/swift.json
  schema/presets/terraform.json
  schema/presets/toml.json
  schema/presets/typescript.json
  schema/presets/yaml.json
  schema/schema.go
  schema/schema_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-734971] feat(build): expose schema projection
  build/build_test.go
  build/schema.go
  build/schema_coverage.go
  build/schema_coverage_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-498bc3] fix(ingest): preserve nested address refs
  build/build_test.go
  internal/ingest/address_refs_test.go
  internal/ingest/ast_walker_extract.go
  internal/ingest/engine_treesitter.go
Due: gofumpt, go-vet, golangci-lint

[mache-734971] refactor(cmd): share public schema build path
  cmd/build.go
  cmd/build_leyline_coverage.go
  cmd/build_leyline_coverage_test.go
  cmd/build_leyline_test.go
  cmd/cli_test.go
  ingest/ingest.go
Due: gofumpt, go-vet, golangci-lint

[mache-734971] docs: publish schema build API
  CHANGELOG.md
  README.md
  docs/ARCHITECTURE.md
Due: none

[mache-734971] refactor: satisfy projection architecture gates
  build/build_test.go
  build/schema.go
  cmd/config.go
  cmd/schemas.go
  docs/superpowers/plans/2026-08-12-public-schema-projection-and-nested-refs.md
  docs/superpowers/specs/2026-08-12-public-schema-projection-and-nested-refs-design.md
  internal/pathguard/pathguard.go
  internal/pathguard/pathguard_test.go
  schema/schema.go
  schema/schema_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-734971] refactor(schema): use canonical sorted map keys
  schema/schema.go
Due: gofumpt, go-vet, golangci-lint

[mache-734971] test: follow centralized schema ownership
  build/schema_coverage_test.go
  internal/lint/llo_boundary_test.go
  internal/lint/removed_symbols_test.go
  internal/testfixtures/registry.go
Due: gofumpt, go-vet, golangci-lint

[mache-498bc3] chore: record verified completion
  .beads/beads.jsonl
Due: none

[mache-530221] fix(ci): deduplicate large-tier projections
  .beads/beads.jsonl
  .github/workflows/integration.yml
  cmd/all_tools_self_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-530221] chore(beads): close CI timeout fix
  .beads/beads.jsonl
Due: none

[mache-b37cff] docs: design restriction-first communities
  docs/superpowers/specs/2026-08-12-restriction-first-community-execution-design.md
Due: none

[mache-b37cff] docs: plan restriction-first community proof
  docs/superpowers/plans/2026-08-12-restriction-first-community-execution.md
  docs/superpowers/specs/2026-08-12-restriction-first-community-execution-design.md
Due: none

[mache-b37cff] chore(beads): record restriction-first task 1 progress
  .beads/beads.jsonl
Due: none
