Repository agentic-research/mache: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofumpt, go-vet, golangci-lint, go-mod-tidy

.pre-commit-config.yaml:

repos:
  # Basic file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending

  # Go-specific checks (all use locally installed tools)
  - repo: local
    hooks:
      - id: gofumpt
        name: gofumpt
        entry: gofumpt -w -extra
        language: system
        files: \.go$
        pass_filenames: true

      - id: go-vet
        name: go vet
        entry: bash -c 'if [ "$(uname)" = "Darwin" ] && [ -d /Library/Frameworks/fuse_t.framework ]; then export CGO_CFLAGS="-I/Library/Frameworks/fuse_t.framework/Versions/Current/Headers" CGO_LDFLAGS="-F/Library/Frameworks -framework fuse_t -Wl,-rpath,/Library/Frameworks"; fi && go vet ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: golangci-lint
        name: golangci-lint
        entry: bash -c 'if [ "$(uname)" = "Darwin" ] && [ -d /Library/Frameworks/fuse_t.framework ]; then export CGO_CFLAGS="-I/Library/Frameworks/fuse_t.framework/Versions/Current/Headers" CGO_LDFLAGS="-F/Library/Frameworks -framework fuse_t -Wl,-rpath,/Library/Frameworks"; fi && golangci-lint run --fix'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        files: (go\.mod|go\.sum)$
        pass_filenames: false

[mache-805f77] docs(changelog): complete the Unreleased section for post-v0.18.0 work (#546)
  CHANGELOG.md
Due: none

[mache-e35abd] chore(release): cut v0.19.0
  CHANGELOG.md
  README.md
  docs/ARCHITECTURE.md
  docs/README.md
  docs/ROADMAP.md
  docs/reference/arena.md
  docs/reference/competitive-landscape.md
  docs/reference/projection-performance.md
  internal/buildinfo/version.txt
  melange.yaml
  server.json
Due: none

[mache-e35abd] chore(release): cut v0.19.0 (#547)
  CHANGELOG.md
  README.md
  docs/ARCHITECTURE.md
  docs/README.md
  docs/ROADMAP.md
  docs/reference/arena.md
  docs/reference/competitive-landscape.md
  docs/reference/projection-performance.md
  internal/buildinfo/version.txt
  melange.yaml
  server.json
Due: none

[mache-fe24c2] docs: correct two stale claims no gate can see
  docs/schemas/go.md
  melange.yaml
Due: none

[mache-fe24c2] docs: correct two stale claims no gate can see (#548)
  docs/schemas/go.md
  melange.yaml
Due: none

[mache-e5e570] docs(adr): ADR-0006 status note mis-dated its own outcome
  docs/adr/0006-pure-go-mcp-first.md
Due: none

[mache-e5e570] docs(adr): ADR-0006 status note mis-dated its own outcome (#549)
  docs/adr/0006-pure-go-mcp-first.md
Due: none

[mache-90b89b] docs(design): spec — de-overload `record`, add a queryable `props` column
  docs/design/README.md
  docs/design/specs/2026-07-22-node-properties-props-column-design.md
Due: none

[mache-90b89b] docs(design): implementation plan for the props column
  docs/design/plans/2026-07-22-node-properties-props-column.md
Due: none

[mache-90b89b] docs(design): spec + plan — de-overload `record`, add a queryable `props` column (#550)
  docs/design/README.md
  docs/design/plans/2026-07-22-node-properties-props-column.md
  docs/design/specs/2026-07-22-node-properties-props-column-design.md
Due: none

[mache-90b89b] refactor(graph): route all Properties access through an accessor seam
  cmd/serve_handler_find_callees.go
  cmd/serve_handler_list_directory.go
  cmd/serve_handler_read_file.go
  internal/graph/composite.go
  internal/graph/memstore_callees.go
  internal/graph/nodes_table_reader.go
  internal/graph/props.go
  internal/graph/props_test.go
  internal/graph/sqlite_graph_callees.go
  internal/ingest/engine_walk.go
  internal/ingest/sqlite_writer.go
  internal/vfs/location.go
Due: gofumpt, go-vet, golangci-lint

[mache-90b89b] refactor(graph): Properties values are json.RawMessage
  cmd/serve_callees_def_mount_test.go
  cmd/serve_test.go
  graph/graph.go
  graph/sqlite.go
  graph/sqlite_test.go
  internal/graph/composite_callees_test.go
  internal/graph/graph.go
  internal/graph/memstore_imports_test.go
  internal/graph/nodes_table_properties_test.go
  internal/graph/props.go
  internal/graph/props_test.go
  internal/ingest/ast_walker_callees_e2e_test.go
  internal/ingest/callees_noast_e2e_test.go
  internal/ingest/engine_walk.go
  internal/ingest/location_test.go
  internal/ingest/sqlite_writer_test.go
  internal/vfs/handlers_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-90b89b] feat: move node Properties to a queryable props column
  internal/graph/nodes_table_properties_test.go
  internal/graph/nodes_table_reader.go
  internal/graph/props_compat.go
  internal/graph/props_compat_test.go
  internal/graph/sqlite_graph.go
  internal/graph/sqlite_graph_callees.go
  internal/graph/sqlite_graph_lookupdef_test.go
  internal/graph/writable_graph.go
  internal/ingest/callees_noast_e2e_test.go
  internal/ingest/props_column_test.go
  internal/ingest/sqlite_writer.go
Due: gofumpt, go-vet, golangci-lint

[mache-6dda39] fix(serve): correct three stale claims in the auto-leyline path
  cmd/serve.go
  internal/lint/removed_symbols_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-90b89b] test(graph): SQL-queryability e2e + changelog + archive spec/plan
  CHANGELOG.md
  docs/design/README.md
  docs/design/archive/2026-07-22-node-properties-props-column-design.md
  docs/design/archive/2026-07-22-node-properties-props-column.md
  docs/smell-baseline.json
  internal/graph/props_sql_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-90b89b] feat: move node Properties to a queryable props column (#551)
  CHANGELOG.md
  cmd/serve.go
  cmd/serve_callees_def_mount_test.go
  cmd/serve_handler_find_callees.go
  cmd/serve_handler_list_directory.go
  cmd/serve_handler_read_file.go
  cmd/serve_test.go
  docs/design/README.md
  docs/design/archive/2026-07-22-node-properties-props-column-design.md
  docs/design/archive/2026-07-22-node-properties-props-column.md
  docs/smell-baseline.json
  graph/graph.go
  graph/sqlite.go
  graph/sqlite_test.go
  internal/graph/composite.go
  internal/graph/composite_callees_test.go
  internal/graph/graph.go
  internal/graph/memstore_callees.go
  internal/graph/memstore_imports_test.go
  internal/graph/nodes_table_properties_test.go
  internal/graph/nodes_table_reader.go
  internal/graph/props.go
  internal/graph/props_compat.go
  internal/graph/props_compat_test.go
  internal/graph/props_sql_test.go
  internal/graph/props_test.go
  internal/graph/sqlite_graph.go
  internal/graph/sqlite_graph_callees.go
  internal/graph/sqlite_graph_lookupdef_test.go
  internal/graph/writable_graph.go
  internal/ingest/ast_walker_callees_e2e_test.go
  internal/ingest/callees_noast_e2e_test.go
  internal/ingest/engine_walk.go
  internal/ingest/location_test.go
  internal/ingest/props_column_test.go
  internal/ingest/sqlite_writer.go
  internal/ingest/sqlite_writer_test.go
  internal/lint/removed_symbols_test.go
  internal/vfs/handlers_test.go
  internal/vfs/location.go
Due: gofumpt, go-vet, golangci-lint

[rosary-aa8c6d] chore(beads): bead store dolt->sqlite (metadata + dolt.bak ignore)
  .beads/.gitignore
  .beads/metadata.json
Due: none

[rosary-aa8c6d] chore(beads): bead store dolt->sqlite (metadata + dolt.bak ignore) (#552)
  .beads/.gitignore
  .beads/metadata.json
Due: none

[mache-bde383] fix(beads): restore tracked jsonl export
  .beads/.gitignore
  .beads/README.md
  .beads/beads.jsonl
  .beads/config.yaml
  .beads/hooks/post-checkout
  .beads/hooks/post-merge
  .beads/hooks/pre-commit
  .beads/hooks/pre-push
  .beads/hooks/prepare-commit-msg
  .gitattributes
  .gitignore
  AGENTS.md
  docs/ROADMAP.md
Due: none

[mache-7cb718] docs(prior-art): document entire-graph comparison
  benchmarks/README.md
  docs/reference/competitive-landscape.md
  prior-art/README.md
Due: none

[mache-bde383] fix(beads): exempt canonical jsonl from large-file hook
  .pre-commit-config.yaml
Due: none

[mache-bde383] chore(beads): close restored export work
  .beads/beads.jsonl
Due: none

[mache-bde383] fix(beads): restore jsonl export and entire-graph docs
  .beads/.gitignore
  .beads/README.md
  .beads/beads.jsonl
  .beads/config.yaml
  .beads/hooks/post-checkout
  .beads/hooks/post-merge
  .beads/hooks/pre-commit
  .beads/hooks/pre-push
  .beads/hooks/prepare-commit-msg
  .gitattributes
  .gitignore
  .pre-commit-config.yaml
  AGENTS.md
  benchmarks/README.md
  docs/ROADMAP.md
  docs/reference/competitive-landscape.md
  prior-art/README.md
Due: none

[mache-88715f] fix(leyline): resolve pinned binary in live tests
  cmd/agent.go
  cmd/serve.go
  cmd/serve_hosted.go
  cmd/serve_repo.go
  cmd/serve_repo_test.go
  internal/gitutil/command.go
  internal/gitutil/command_test.go
  internal/ingest/git.go
  internal/ingest/git_test.go
  internal/leyline/sheaf_cascade_bench_test.go
  internal/leyline/sheaf_e2e_test.go
  internal/leyline/sheaf_subscriber_e2e_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-781f3d] docs(mcp): document Codex HTTP setup
  GETTING-STARTED.md
Due: none

[mache-88715f] fix(leyline): resolve pinned binary in live tests (#554)
  cmd/agent.go
  cmd/serve.go
  cmd/serve_hosted.go
  cmd/serve_repo.go
  cmd/serve_repo_test.go
  internal/gitutil/command.go
  internal/gitutil/command_test.go
  internal/ingest/git.go
  internal/ingest/git_test.go
  internal/leyline/sheaf_cascade_bench_test.go
  internal/leyline/sheaf_e2e_test.go
  internal/leyline/sheaf_subscriber_e2e_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-781f3d] docs(mcp): document Codex HTTP setup (#556)
  GETTING-STARTED.md
Due: none

[mache-b56f07] chore(leyline): pin v0.10.2 release
  docs/smell-baseline.json
  docs/superpowers/plans/2026-07-23-leyline-v0.10.2-pin.md
  internal/leyline/binary_pin.go
  internal/leyline/binary_pin_test.go
  internal/leyline/socket.go
  server.json
Due: gofumpt, go-vet, golangci-lint

[mache-b56f07] chore(leyline): pin v0.10.2 release (#557)
  docs/smell-baseline.json
  docs/superpowers/plans/2026-07-23-leyline-v0.10.2-pin.md
  internal/leyline/binary_pin.go
  internal/leyline/binary_pin_test.go
  internal/leyline/socket.go
  server.json
Due: gofumpt, go-vet, golangci-lint

[mache-24e5e0] fix(mcp): reject unsafe rootless sessions
  cmd/serve_registry.go
  cmd/serve_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-24e5e0] fix(mcp): reject unsafe rootless sessions (#558)
  cmd/serve_registry.go
  cmd/serve_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-56d8b5] chore(beads): close mache-56d8b5
  .beads/beads.jsonl
Due: none

[mache-56d8b5] chore(leyline): adopt ley-line-open v0.10.3 (pin bump + Taskfile leyline:install)
  .beads/beads.jsonl
  Taskfile.yml
  internal/leyline/binary_pin_test.go
  internal/leyline/socket.go
  server.json
Due: gofumpt, go-vet, golangci-lint

[mache-e01c5b] chore(taskfile): consolidate lint gates in parallel
  Taskfile.yml
Due: none

[mache-bae01e] fix(leyline): complete v0.10.3 release contract
  .github/workflows/ci.yml
  .github/workflows/integration.yml
  CONTRIBUTING.md
  GETTING-STARTED.md
  Taskfile.yml
  docs/ARCHITECTURE.md
  go.mod
  go.sum
  internal/leyline/binary_pin.go
  internal/leyline/binary_pin_test.go
  internal/leyline/resolve_binary_test.go
  internal/leyline/socket.go
  tools/leyline-ensure/main.go
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

[mache-56d8b5] chore(leyline): adopt ley-line-open v0.10.3 (pin bump + Taskfile leyline:install) (#564)
  .beads/beads.jsonl
  .github/workflows/ci.yml
  .github/workflows/integration.yml
  CONTRIBUTING.md
  GETTING-STARTED.md
  Taskfile.yml
  docs/ARCHITECTURE.md
  go.mod
  go.sum
  internal/leyline/binary_pin.go
  internal/leyline/binary_pin_test.go
  internal/leyline/resolve_binary_test.go
  internal/leyline/socket.go
  server.json
  tools/leyline-ensure/main.go
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

[mache-0ca7e6] ci: add stable required aggregate gates
  .github/workflows/ci.yml
  .github/workflows/integration.yml
Due: none

[mache-0ca7e6] ci: add stable required aggregate gates (#565)
  .github/workflows/ci.yml
  .github/workflows/integration.yml
Due: none

[mache-0ca7e6] docs(ci): describe required aggregate gates
  CONTRIBUTING.md
Due: none
