Repository agentic-research/mache: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofumpt, go-vet, golangci-lint, go-mod-tidy

.pre-commit-config.yaml:

repos:
  # Basic file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending

  # Go-specific checks (all use locally installed tools)
  - repo: local
    hooks:
      - id: gofumpt
        name: gofumpt
        entry: gofumpt -w -extra
        language: system
        files: \.go$
        pass_filenames: true

      - id: go-vet
        name: go vet
        entry: bash -c 'if [ "$(uname)" = "Darwin" ] && [ -d /Library/Frameworks/fuse_t.framework ]; then export CGO_CFLAGS="-I/Library/Frameworks/fuse_t.framework/Versions/Current/Headers" CGO_LDFLAGS="-F/Library/Frameworks -framework fuse_t -Wl,-rpath,/Library/Frameworks"; fi && go vet ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: golangci-lint
        name: golangci-lint
        entry: bash -c 'if [ "$(uname)" = "Darwin" ] && [ -d /Library/Frameworks/fuse_t.framework ]; then export CGO_CFLAGS="-I/Library/Frameworks/fuse_t.framework/Versions/Current/Headers" CGO_LDFLAGS="-F/Library/Frameworks -framework fuse_t -Wl,-rpath,/Library/Frameworks"; fi && golangci-lint run --fix'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        files: (go\.mod|go\.sum)$
        pass_filenames: false

chore(leyline): bump daemon pin v0.4.1 → v0.4.5
  internal/leyline/socket.go
Due: gofumpt, go-vet, golangci-lint

refactor(version): single-source mache version via internal/buildinfo + CI↔Taskfile parity
  .github/workflows/cache-roundtrip.yml
  .github/workflows/ci.yml
  .github/workflows/find-smells.yml
  Taskfile.yml
  cmd/cache.go
  cmd/mount.go
  cmd/version_singlesource_test.go
  internal/buildinfo/buildinfo.go
  internal/buildinfo/buildinfo_test.go
  internal/buildinfo/version.txt
  melange.yaml
  server.json
  tools/server-json-gen/main.go
Due: gofumpt, go-vet, golangci-lint

chore(leyline): bump daemon pin v0.4.1 → v0.4.5 (#426)
  internal/leyline/socket.go
Due: gofumpt, go-vet, golangci-lint

refactor(version): single-source mache version via internal/buildinfo + CI↔Taskfile parity (#427)
  .github/workflows/cache-roundtrip.yml
  .github/workflows/ci.yml
  .github/workflows/find-smells.yml
  Taskfile.yml
  cmd/cache.go
  cmd/mount.go
  cmd/version_singlesource_test.go
  internal/buildinfo/buildinfo.go
  internal/buildinfo/buildinfo_test.go
  internal/buildinfo/version.txt
  melange.yaml
  server.json
  tools/server-json-gen/main.go
Due: gofumpt, go-vet, golangci-lint

chore(release): fetch ley-line FFI from public ley-line-open; drop octo-sts
  .github/workflows/release.yml
Due: none

chore(release): pin LEYLINE_OPEN_VERSION to v0.4.7
  .github/workflows/release.yml
Due: none

chore(release): drop vestigial FFI link — no sudo, no fuse_t dep
  .github/workflows/release.yml
Due: none

chore(release): drop vestigial ley-line FFI link — no octo-sts, no sudo, no fuse_t dep (#428)
  .github/workflows/release.yml
Due: none

feat(ingest): self-contained ASTWalker↔SitterWalker parity gate + scope-node fix + 1:1 CI gate
  .pre-commit-config.yaml
  Taskfile.yml
  internal/ingest/ast_query_parity_test.go
  internal/ingest/ast_walker.go
  internal/ingest/ast_walker_selector.go
Due: gofumpt, go-vet, golangci-lint

docs(plugin): add authoring-schemas + authoring-smell-rules skills
  plugin/skills/authoring-schemas/SKILL.md
  plugin/skills/authoring-smell-rules/SKILL.md
Due: none

docs(plugin): address Copilot review — fix smell-rule + schema skill inaccuracies
  plugin/skills/authoring-schemas/SKILL.md
  plugin/skills/authoring-smell-rules/SKILL.md
Due: none

docs(plugin): add authoring-schemas + authoring-smell-rules skills (#430)
  plugin/skills/authoring-schemas/SKILL.md
  plugin/skills/authoring-smell-rules/SKILL.md
Due: none

test(ingest): address Copilot review on the parity gate
  Taskfile.yml
  internal/ingest/ast_query_parity_test.go
  internal/ingest/ast_walker.go
Due: gofumpt, go-vet, golangci-lint

feat(ingest): self-contained ASTWalker↔SitterWalker parity gate + 1:1 CI gate (#429)
  .pre-commit-config.yaml
  Taskfile.yml
  internal/ingest/ast_query_parity_test.go
  internal/ingest/ast_walker.go
  internal/ingest/ast_walker_selector.go
Due: gofumpt, go-vet, golangci-lint

refactor(ingest): widen Walker via FileMeta — ASTWalker produces lang/pkg, drop a SitterWalker type-switch (S3)
  internal/ingest/ast_query_parity_test.go
  internal/ingest/ast_walker.go
  internal/ingest/engine_walk.go
  internal/ingest/interfaces.go
  internal/ingest/parent_match.go
  internal/ingest/sitter_walker.go
Due: gofumpt, go-vet, golangci-lint

perf(ingest): cache ASTWalker FileMeta per source_id (Copilot review on #431)
  internal/ingest/ast_walker.go
Due: gofumpt, go-vet, golangci-lint

refactor(ingest): widen Walker via FileMeta — ASTWalker lang/pkg, drop a type-switch (S3) (#431)
  internal/ingest/ast_query_parity_test.go
  internal/ingest/ast_walker.go
  internal/ingest/engine_walk.go
  internal/ingest/interfaces.go
  internal/ingest/parent_match.go
  internal/ingest/sitter_walker.go
Due: gofumpt, go-vet, golangci-lint

refactor(ingest): walker-agnostic doc-comment scope via DocScope — ASTWalker location + doc-extended source (S3 slice 2)
  internal/ingest/ast_query_parity_test.go
  internal/ingest/ast_walker.go
  internal/ingest/engine_extract.go
  internal/ingest/engine_walk.go
  internal/ingest/interfaces.go
  internal/ingest/parent_match.go
  internal/ingest/sitter_walker.go
Due: gofumpt, go-vet, golangci-lint

refactor(ingest): walker-agnostic doc-comment scope via DocScope — ASTWalker location + doc-extended source (S3 slice 2) (#432)
  internal/ingest/ast_query_parity_test.go
  internal/ingest/ast_walker.go
  internal/ingest/engine_extract.go
  internal/ingest/engine_walk.go
  internal/ingest/interfaces.go
  internal/ingest/parent_match.go
  internal/ingest/sitter_walker.go
Due: gofumpt, go-vet, golangci-lint

refactor(ingest): walker-agnostic per-scope calls via CallExtractor — last SitterWalker type-switch (S3 slice 3)
  internal/ingest/ast_query_parity_test.go
  internal/ingest/ast_walker.go
  internal/ingest/ast_walker_calls.go
  internal/ingest/ast_walker_extract.go
  internal/ingest/engine_languages.go
  internal/ingest/engine_walk.go
  internal/ingest/interfaces.go
  internal/ingest/parent_match.go
  internal/ingest/sitter_walker.go
Due: gofumpt, go-vet, golangci-lint

docs(ingest): correct CallExtractor parity comment to match the gate
  internal/ingest/interfaces.go
Due: gofumpt, go-vet, golangci-lint

refactor(ingest): walker-agnostic per-scope calls (CallExtractor) — last SitterWalker type-switch (S3 slice 3) (#433)
  internal/ingest/ast_query_parity_test.go
  internal/ingest/ast_walker.go
  internal/ingest/ast_walker_calls.go
  internal/ingest/ast_walker_extract.go
  internal/ingest/engine_languages.go
  internal/ingest/engine_walk.go
  internal/ingest/interfaces.go
  internal/ingest/parent_match.go
  internal/ingest/sitter_walker.go
Due: gofumpt, go-vet, golangci-lint

feat(smells): backfill real _ast locations + file onto node_defs rule findings
  cmd/serve_find_smells_test.go
  cmd/smell_findings.go
Due: gofumpt, go-vet, golangci-lint

feat(smells): L1 digest mode (rule=*) — counts + worst exemplars, not a flood
  cmd/serve_find_smells.go
  cmd/serve_find_smells_test.go
  cmd/smell_digest.go
Due: gofumpt, go-vet, golangci-lint

fix(smells): address Copilot review on #434 — chunk _ast lookup, fix Truncated
  cmd/serve_find_smells_test.go
  cmd/smell_digest.go
  cmd/smell_findings.go
Due: gofumpt, go-vet, golangci-lint

feat(smells): real find_smells locations + L1 digest (make the tool usable) (#434)
  cmd/serve_find_smells.go
  cmd/serve_find_smells_test.go
  cmd/smell_digest.go
  cmd/smell_findings.go
Due: gofumpt, go-vet, golangci-lint

docs: smell-debt baseline 2026-06-24 (Go-accurate; cross-repo blocked)
  docs/smell-debt-baseline-2026-06-24.md
Due: none

docs: correct the cross-repo blocker — leyline DOES parse Rust
  docs/smell-debt-baseline-2026-06-24.md
Due: none

docs: smell-debt baseline 2026-06-24 (Go-accurate; cross-repo blocked on Rust parsing) (#435)
  docs/smell-debt-baseline-2026-06-24.md
Due: none

chore(deps): pin leyline-schema to v0.5.0
  go.mod
  go.sum
Due: go-mod-tidy

fix(leyline): bump downloaded daemon version to v0.5.0 to match schema client
  internal/leyline/socket.go
Due: gofumpt, go-vet, golangci-lint

chore(deps): pin leyline-schema to v0.5.0 (#436)
  go.mod
  go.sum
  internal/leyline/socket.go
Due: gofumpt, go-vet, golangci-lint, go-mod-tidy

feat(version): git-derive the binary version; enforce tag==base at release
  .github/workflows/release.yml
  Taskfile.yml
  cmd/mount.go
  internal/buildinfo/buildinfo.go
Due: gofumpt, go-vet, golangci-lint

fix(release): don't echo untrusted TAG in pre-validation ::error::; tighten tag regex
  .github/workflows/release.yml
Due: none

[mache-7d321e] feat(mcp): kind discriminator on find_definition
  cmd/kind_filter.go
  cmd/kind_filter_test.go
  cmd/serve_handler_find_definition.go
  cmd/serve_handlers.go
Due: gofumpt, go-vet, golangci-lint

feat(version): git-derive the binary version + enforce tag==base at release (#437)
  .github/workflows/release.yml
  Taskfile.yml
  cmd/mount.go
  internal/buildinfo/buildinfo.go
Due: gofumpt, go-vet, golangci-lint

[mache-7d321e] feat(mcp): kind discriminator on find_callers/get_type_info/get_impact/get_diagnostics + registry invariants
  cmd/mcp_registry_invariants_test.go
  cmd/serve_handler_find_callers.go
  cmd/serve_handlers.go
  cmd/serve_impact.go
  cmd/serve_lsp.go
Due: gofumpt, go-vet, golangci-lint

[mache-7d321e] test(mcp): kind-discriminator integration test on ambiguous fixture
  cmd/kind_discriminator_integration_test.go
Due: gofumpt, go-vet, golangci-lint

[mache-7d321e] fixup(mcp): address Copilot review on PR #438
  cmd/kind_filter.go
  cmd/mcp_registry_invariants_test.go
  cmd/serve_impact.go
Due: gofumpt, go-vet, golangci-lint

[mache-7d321e] refactor(mcp): extract kind boilerplate to address fan_out_skew
  cmd/kind_filter.go
  cmd/serve_handler_find_callers.go
  cmd/serve_handler_find_definition.go
  cmd/serve_impact.go
  cmd/serve_lsp.go
Due: gofumpt, go-vet, golangci-lint
